{% extends "layouts/day1-header.html" %}

{% block pageTitle %}
  Select land parcel
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/select-land" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select land parcel for actions
            </h1>
          </legend>

          <div id="parcel-hint" class="govuk-hint">
            Use your map to check these parcel IDs against your land parcels.
          </div>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sssi" name="select-land" type="radio" value="needed" aria-describedby="sssi-item-hint">
              <label class="govuk-label govuk-radios__label" for="sssi">
                SO3757 3158
              </label>
              <div id="sssi-item-hint" class="govuk-hint govuk-radios__hint">
                Total size: 32.0404 hectares, SSSI consent may be needed
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sssi-2" name="select-land" type="radio" value="no-sssi1" aria-describedby="sssi-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sssi-2">
                SO3757 3159
              </label>
              <div id="sssi-2-item-hint" class="govuk-hint govuk-radios__hint">
                Total size: 8.3405 hectares
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sssi-3" name="select-land" type="radio" value="no-sssi2" aria-describedby="sssi-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sssi-3">
                SO3757 3160
              </label>
              <div id="sssi-3-item-hint" class="govuk-hint govuk-radios__hint">
                Total size: 1.4935 hectares
              </div>
            </div>
          </div> <!-- radio group -->
        </fieldset>
      </div> <!-- form group -->
      <p>
        You will be able to add actions to the other land parcels before submitting your application.
      </p>

      <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>  
       
        

        <!-- not for day 1
        <form class="govuk-form" action="save-and-return" method="post">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and return later
          </button>
        </form> -->
      </div> <!-- buttons -->

        <details class="govuk-details">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you have a question
              </span>
          </summary>
          <div class="govuk-details__text">
            Contact the Rural Payments Agency (RPA) if you have a query.<br><br>
            Telephone: 020 8026 2395<br>
            Monday to Friday, 8:30am to 5pm (except bank holidays)<br><br>
            <p><a href="">Find out about call charges (opens in new tab)</a><br><br>
              Email: <a href="">farmpayments@rpa.gov.uk</a></p>
            <p>The RPA responds to email queries within 10 working days.</p>
          </div>
        </details>

         </form> 

    </div> <!-- 2/3 col -->
  </div> <!-- grid-row -->

{% endblock %}
