{% extends "layouts/grasslands-v2-header.html" %}

{% block pageTitle %}
  Accessibility statement
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Accessibility statement</h1>
      <p class="govuk-body">
        This accessibility statement applies to the Farm and Land Service prototype.
      </p>
      <p class="govuk-body">
        This website is run by the Department for Environment, Food and Rural Affairs.
        We want as many people as possible to be able to use this website.
      </p>
    </div>
  </div>
{% endblock %}