{% extends "layouts/grasslands-v2-header.html" %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Contact us</h1>
      <p class="govuk-body">Contact the Rural Payments Agency for help.</p>
      <p class="govuk-body">Phone: 03000 200 301</p>
      <p class="govuk-body">Monday to Friday, 8.30am to 5pm (except bank holidays)</p>
      <p class="govuk-body">
        Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a>
      </p>
    </div>
  </div>
{% endblock %}
