{% extends "layouts/grasslands-v2-header.html" %}

{% block pageTitle %}
  Cookies
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Cookies</h1>
      <p class="govuk-body">
        Cookies are small files saved on your phone, tablet or computer when you visit a website.
      </p>
      <p class="govuk-body">
        We use cookies to make the Farm and Land Service work and collect information about how you use the service.
      </p>
    </div>
  </div>
{% endblock %}
