{% extends "layouts/grasslands-v2-header.html" %}

{% block pageTitle %}
  Funding applications and agreements
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/grasslands-v2/singlefrontdoor/landing/landing"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Funding applications and agreements</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">App. number</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Active</th>
            <th scope="col" class="govuk-table__header">Submit date</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">No items</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>

      <a href="before-you-start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Apply for a new agreement
      </a>

    </div>
  </div>
{% endblock %}
