{% set serviceName = "Apply for a grasslands agreement" %}
{% set serviceUrl = "/grasslands-v2/task-list" %}
{% extends "layouts/grasslands-v2-header.html" %}

{% block pageTitle %}
  You can continue your application
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "grasslands-v2/_includes/account-bar.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You can continue your application</h1>

      <p class="govuk-body">You've confirmed you're eligible to apply.</p>

      <p class="govuk-body">Return to your application to select land parcels and continue.</p>

      <a href="/grasslands-v2/task-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Return to application
      </a>
    </div>
  </div>
{% endblock %}
