{% extends "layouts/main-thread.html" %}

{% set pageName="Manage land based actions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">SFI Reform prototypes</a>
      </li>
    </ol>
  </nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Grasslands 2
      <span class="govuk-caption-l">Application journey</span>
    </h1>

    <a class="govuk-button" href="/clear-session-data?returnUrl=/grasslands-v2/sign-in">Start prototype</a>

    <h2 class="govuk-heading-m">Pages</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/sign-in">Sign in page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/singlefrontdoor/start/your-businesses-list">Your businesses list</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/singlefrontdoor/landing/landing">Single front door landing page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/task-list">Task list page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/check-land-details">Check land details page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/confirm-eligibility-details">Confirm eligibility details page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/hefer">Land with historic or archaeological features page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/sssi">Sites of special scientific interest page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/eligible">You are eligible page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/select-land-map-fluid-find">Select parcel and action page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/check-your-answers">Check your answers page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/submit-application">Declaration page</a></li>
      <li><a class="govuk-link" href="/clear-session-data?returnUrl=/grasslands-v2/confirmation">Confirmation page</a></li>
    </ul>
  </div>
</div>

{% endblock %}
