{% set serviceName = "Apply for a Grasslands agreement" %}
{% set serviceUrl = "/grasslands-v2/task-list" %}
{% extends "layouts/grasslands-v2-header.html" %}

{% block pageTitle %}
  Remove all actions from {{ parcel.parcelName }}?
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "grasslands-v2/_includes/account-bar.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/grasslands-v2/confirm-land-and-actions"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Remove all actions from {{ parcel.parcelName }}?</h1>

      <p class="govuk-body">
        This will remove {{ parcel.parcelName }}{% if parcel.osReference %} ({{ parcel.osReference }}){% endif %} and all actions added to it from your application.
      </p>

      <form action="/grasslands-v2/remove-parcel-actions/{{ parcel.parcelId }}" method="post">
        <input type="hidden" name="confirmRemove" value="yes">
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
            Remove all actions
          </button>
          <a class="govuk-link" href="/grasslands-v2/confirm-land-and-actions">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
