{% extends "layouts/grasslands-v2-header.html" %}

{% block pageTitle %}
  Submit application
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Submit your application
      </h1>

      <p class="govuk-body">
        By selecting ‘I agree – submit my application’ you confirm that:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the information you've given in your application is correct</li>
        <li>you will complete the SFI actions you’ve applied for</li>
        <li>you will have management control of the land parcels in your application for the duration of the SFI actions you select for that land</li>
        <li>if you've applied for SFI actions on land that has a conditional exemption from Inheritance Tax, you will not be paid for activities which duplicate, or conflict with, your undertakings under that exemption</li>
        <li>if you've applied for SFI actions on land owned by a public body, you will not be paid for activities which conflict with, or duplicate, the public body's statutory duties</li>
      </ul>

      <p class="govuk-body">
        It’s your responsibility to check that land (including landscape features) is eligible for your selected SFI actions. When we process your SFI application, the annual payment value may be reduced. For example, if you've applied for ineligible land or features, such as hedgerows, or incompatible SFI actions.
      </p>

      <form class="form" action="confirmation" method="post">
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            I agree – submit my application
          </button>
          <a href="confirm-withdraw-application" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
            Withdraw my application
          </a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
