{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Select land and actions
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">
       <div class="govuk-panel govuk-panel--confirmation govuk-panel-card">

          <h1 class="govuk-heading-l">SSSI consent</h1>
            <p class="govuk-body">You are applying for SFI actions on land that's a site of special scientific interest (SSSI), so you must get SSSI consent from Natural England.</p>
            <p class="govuk-body">You need to get this consent before you do your selected SFI actions on SSSI land. Some actions can be done without SSSI consent - this is set out in each action in the <a href="https://www.gov.uk/find-funding-for-land-or-farms" target="_blank" rel="noopener noreferrer">'find funding for land or farms' tool</a>.</p>
            <p class="govuk-body">Read the guidance on <a href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest#:~:text=Check%20if%20you%20need%20consent,-There%20are%20certain&text=Each%20SSSI%20has%20a%20list,additional%20permissions%20from%20other%20authorities" class="govuk-link"  target="_blank" rel="noopener noreferrer">SSSI consent</a>.</p>


        </div>
        <br>
        <!-- end panel -->

        <form action="add-more-actions" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}
