//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.dataset-info dd, .dataset-info dt {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: text-top;
}
.dataset-info dt {
  width: 30%;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;
}
.dataset-info dd {
  margin-left: 0px;
  width: 35%;
}


.toc {
  font-size: 16px !important;
  position: sticky;
  float: left;
  margin-bottom: 30px;
  p {
    margin-bottom: 0px;
  }
  a {
    text-decoration: none;
    font-size: 16px !important;
  }
  a:hover {
    text-decoration: underline;
  }
}


// JUST FOR STEEL THREAD //

// header {
// 	display: none;
// }

// footer {
// 	display: none;
// }

// JUST TEMPORARY: FOR STEEL THREAD //



// HMRC add to list tweaks - see https://design.tax.service.gov.uk/hmrc-design-patterns/add-to-a-list/ // 

// Larger viewports

 @media all and (min-width: 40.0625em) {

	.parcel__key {
	width:20% !important;
	}	

	.area__key {
	width:20% !important;
	}	

 }



 // Actions page styles //

 .table-error-message {
	border-left: 5px solid #d4351c;
	}

.error-element {
	margin-left: 10px !important;
	}

tr .govuk-error-message {
	margin-top: 4px !important;
	margin-bottom: 0px !important;
	}

.govuk-checkboxes__conditional .govuk-checkboxes__hint {
    padding-left: 0px !important;
	}

 // End Actions page styles //



 // Navigation styles //

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.app-custom-class {
  width: 0.2em;
}

.list-parcels {
  padding-left: 100px;
}

.section-break-large {
  break-color: black;
  background-color: black;
  border: 0;
  border-top: 4px solid black;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  }

  .section-break-large-blue {
  break-color: #1d70b8;
  background-color: #1d70b8;
  border: 0;
  border-top: 4px solid #1d70b8;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  }


  .key-parent {
    width: 23vw;
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}

  #key1 {
  width: 2em;
  height: 2em;
  border: 4px solid #E53724;
  background-color: #FADD4B;
}

  #key2 {
  width: 2em;
  height: 2em;
  border: 4px solid #001EF5;
  background-color: #96CDF6;
}

  #key3 {
  width: 2em;
  height: 2em;
  border: 4px solid #A46E53;
  background-color: #F1DEB8;
}

  #key4 {
  width: 2em;
  height: 2em;
  border: 4px solid #2C6739;
  background-color: #899855;
}

#key5 {
	width: 2em;
	height: 2em;
	border: 4px solid #3a3a3a;
	background-color: #b7b6b6;
  }

// Actions details lists

.farm-overview {
	width: 100%;
}

.actions-hr {
    color: #ccc;
    width: 90%;
    float:left;
}

.actions-p {
	clear: both;
	margin-top: 1em;
} 

.no-bottom-border > td {
	border-bottom: none;
}

// Agreements pages

.table_header_info {
	font-weight: normal;
	border: 0 !important;
}	

@media (min-width: 40.0625em) {
	.govuk-accordion__section-button {
	  font-size: 1.2rem !important;
	  line-height: 1.25;
	}
  }

.agreements-wrapper {
	padding: 10px;
	background: #F0F0F0;
    // border: 1px solid #ccc;
    // margin: 0 0 25px 0;
}

.actions-wrapper {
	padding: 10px;
    border: 1px solid #ccc;
    // margin: 0 0 25px 0;
}


// START - Single front door styles from https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/to-be/v3/landing/landing


// Account bar styles //

.service-navigation {
	width: 97%;
	background: #f3f2f1;
	background-clip: padding-box;
	border-bottom: 1px solid #b1b4b6;
	margin: -0 0 10px 15px;
	padding: 15px 0px 10px 0px;

	.govuk-grid-column-two-thirds {
		padding-left: 0 !important;
	}

	.govuk-grid-column-one-third {
		padding-right: 5px !important;
		padding-left: 0 !important;
	}

	.service-name:link, .service-name:visited {
		color: #0b0c0c !important;
		text-decoration: none !important ;
	}

	.service-name:hover {
		text-decoration: underline !important;
	}
	
	.service-name:not(:hover):not(:active)  {
    text-decoration: none !important;
}

}

.sub-header-container {
	padding-top: 0px;
  }
  
  .sub-header-user-name,
  .sub-header-dif-business {
	float: right;
	text-align: right;
	clear: both;
  }
  
  /*** Small viewports ***/
  @media all and (max-width: 40.0625em) {
	.sub-header-user-name,
	.sub-header-dif-business {
	  float: inherit;
	  text-align: left;
	}
  }
  .login-nav {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.1428571429;
	color: #0b0c0c;
	margin-top: 15px;
  }
  .login-nav::after {
	content: "";
	display: block;
	clear: both;
  }
  @media print {
	.login-nav {
	  font-family: sans-serif;
	}
  }
  @media (min-width: 40.0625em) {
	.login-nav {
	  font-size: 1rem;
	  line-height: 1.25;
	}
  }
  @media print {
	.login-nav {
	  font-size: 14pt;
	  line-height: 1.2;
	}
  }
  @media print {
	.login-nav {
	  color: #000000;
	}
  }
  
  .login-nav-border {
	border-bottom: 1px solid #b1b4b6;
  }
  
  .login-nav-aligned {
	float: right;
  }
  
  .no-bread {
	float: inherit;
  }
  
  .login-nav__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
  }
  
  .login-nav__list-item {
	position: relative;
	margin-bottom: 5px;
	margin-right: 20px;
	padding-left: 0;
	float: left;
  }
  
  .login-nav__list li:last-child {
	margin-right: 0;
  }
  
  a.login-nav__link:link {
	margin-right: 5px;
	color: #0b0c0c;
  }
  
  .login-nav__list li:last-child a.login-nav__link:link {
	margin-right: 0;
  }
  
  a.login-nav__link:visited {
	color: #0b0c0c;
  }
  
  a.login-nav__link:hover {
	color: rgba(11, 12, 12, 0.99);
  }
  
  /*** Small viewports ***/
  @media all and (max-width: 40.0625em) {
	.login-nav__list {
	  float: none;
	}
  }


// Past actions inlne list //
.inline-filter-list {
    list-style-type: none;
    margin: 0 0 30px 0;
    padding: 0;
}

.inline-filter-list > .inline-filter-list-item {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

// Tabs //

.govuk-tabs {
	margin-top: 5px;
	margin-bottom: 20px;
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
  }
  @media (min-width: 40.0625em) {
	.govuk-tabs {
	  margin-bottom: 30px;
	}
  }
  @media print {
	.govuk-tabs {
	  font-family: sans-serif;
	}
  }
  @media (min-width: 40.0625em) {
	.govuk-tabs {
	  font-size: 1.1875rem;
	  line-height: 1.3157894737;
	}
  }
  @media print {
	.govuk-tabs {
	  font-size: 14pt;
	  line-height: 1.15;
	}
  }
  
  .govuk-tabs__title {
	font-size: 1rem;
	line-height: 1.25;
	font-weight: 400;
	color: #0b0c0c;
	margin-bottom: 10px;
  }
  @media (min-width: 40.0625em) {
	.govuk-tabs__title {
	  font-size: 1.1875rem;
	  line-height: 1.3157894737;
	}
  }
  @media print {
	.govuk-tabs__title {
	  font-size: 14pt;
	  line-height: 1.15;
	}
  }
  @media print {
	.govuk-tabs__title {
	  color: #000000;
	}
  }
  
  .govuk-tabs__list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
  }
  @media (min-width: 40.0625em) {
	.govuk-tabs__list {
	  margin-bottom: 30px;
	}
  }
  
  .govuk-tabs__list-item {
	margin-left: 25px;
  }
  .govuk-tabs__list-item::before {
	color: #0b0c0c;
	content: "—";
	margin-left: -25px;
	padding-right: 5px;
  }
  @media print {
	.govuk-tabs__list-item::before {
	  color: #000000;
	}
  }
  
  .govuk-tabs__tab {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: underline;
	text-decoration-thickness: max(1px, .0625rem);
	text-underline-offset: 0.1578em;
	display: inline-block;
	margin-bottom: 10px;
  }
  @media print {
	.govuk-tabs__tab {
	  font-family: sans-serif;
	}
  }
  .govuk-tabs__tab:hover {
	text-decoration-thickness: max(3px, .1875rem, .12em);
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
	-webkit-text-decoration-skip: none;
	text-decoration-skip: none;
  }
  .govuk-tabs__tab:focus {
	outline: 3px solid transparent;
	color: #0b0c0c;
	background-color: #ffdd00;
	box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
	text-decoration: none;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
  }
  .govuk-tabs__tab:link {
	color: #1d70b8;
  }
  .govuk-tabs__tab:visited {
	color: #4c2c92;
  }
  .govuk-tabs__tab:hover {
	color: #003078;
  }
  .govuk-tabs__tab:active {
	color: #0b0c0c;
  }
  .govuk-tabs__tab:focus {
	color: #0b0c0c;
  }
  
  .govuk-tabs__panel {
	margin-bottom: 30px;
  }
  @media (min-width: 40.0625em) {
	.govuk-tabs__panel {
	  margin-bottom: 50px;
	}
  }
  
  @media (min-width: 40.0625em) {
	.govuk-frontend-supported .govuk-tabs__list {
	  margin-bottom: 0;
	  border-bottom: 1px solid #b1b4b6;
	}
	.govuk-frontend-supported .govuk-tabs__list::after {
	  content: "";
	  display: block;
	  clear: both;
	}
	.govuk-frontend-supported .govuk-tabs__title {
	  display: none;
	}
	.govuk-frontend-supported .govuk-tabs__list-item {
	  position: relative;
	  margin-right: 5px;
	  margin-bottom: 0;
	  margin-left: 0;
	  padding: 10px 20px;
	  float: left;
	  background-color: #f3f2f1;
	  text-align: center;
	}
	.govuk-frontend-supported .govuk-tabs__list-item::before {
	  content: none;
	}
	.govuk-frontend-supported .govuk-tabs__list-item--selected {
	  position: relative;
	  margin-top: -5px;
	  margin-bottom: -1px;
	  padding-top: 14px;
	  padding-right: 19px;
	  padding-bottom: 16px;
	  padding-left: 19px;
	  border: 1px solid #b1b4b6;
	  border-bottom: 0;
	  background-color: #ffffff;
	}
	.govuk-frontend-supported .govuk-tabs__list-item--selected .govuk-tabs__tab {
	  text-decoration: none;
	}
	.govuk-frontend-supported .govuk-tabs__tab {
	  margin-bottom: 0;
	}
	.govuk-frontend-supported .govuk-tabs__tab:link, .govuk-frontend-supported .govuk-tabs__tab:visited {
	  color: #0b0c0c;
	}
  }
  @media print and (min-width: 40.0625em) {
	.govuk-frontend-supported .govuk-tabs__tab:link, .govuk-frontend-supported .govuk-tabs__tab:visited {
	  color: #000000;
	}
  }
  @media (min-width: 40.0625em) {
	.govuk-frontend-supported .govuk-tabs__tab:hover {
	  color: rgba(11, 12, 12, 0.99);
	}
	.govuk-frontend-supported .govuk-tabs__tab:active, .govuk-frontend-supported .govuk-tabs__tab:focus {
	  color: #0b0c0c;
	}
  }
  @media print and (min-width: 40.0625em) {
	.govuk-frontend-supported .govuk-tabs__tab:active, .govuk-frontend-supported .govuk-tabs__tab:focus {
	  color: #000000;
	}
  }
  @media (min-width: 40.0625em) {
	.govuk-frontend-supported .govuk-tabs__tab::after {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	}
	.govuk-frontend-supported .govuk-tabs__panel {
	  margin-bottom: 0;
	  padding: 30px 20px;
	  border: 1px solid #b1b4b6;
	  border-top: 0;
	}
	.govuk-frontend-supported .govuk-tabs__panel > :last-child {
	  margin-bottom: 0;
	}
	.govuk-frontend-supported .govuk-tabs__panel--hidden {
	  display: none;
	}
  }
  
  .govuk-tabs__list--payments::after {
	content: "";
	display: block;
	clear: both;
  }
  
  .govuk-tabs__list--payments {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #b1b4b6;
  }
  
  .govuk-tabs__list-item--payments::before {
	content: none;
  }
  
  .govuk-tabs__list-item--payments {
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 10px 20px;
	float: left;
	background-color: #f3f2f1;
	text-align: center;
  }
  
  .govuk-tabs__list-item--payments-selected {
	position: relative;
	margin-top: -5px;
	margin-bottom: -1px;
	padding-top: 14px;
	padding-right: 19px;
	padding-bottom: 16px;
	padding-left: 19px;
	border: 1px solid #b1b4b6;
	border-bottom: 0;
	background-color: #ffffff;
  }
  
  .govuk-tabs__tab--payments:link,
  .govuk-tabs__tab--payments:visited,
  .govuk-tabs__tab--payments {
	display: inline-block;
	color: #0b0c0c;
  }
  
  .govuk-tabs__list-item--payments-selected .govuk-tabs__tab--payments {
	text-decoration: none;
  }  
  
// Tabs //  

.gem-c-cards__heading {
	margin: 0 0 30px 0;
  }
  
  .gem-c-cards__list {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr;
  }
  
  @media (min-width: 40.0625em) {
	.gem-c-cards__list {
	  grid-template-columns: 1fr 1fr;
	}
  }
  @media (min-width: 48.0625em) {
	.gem-c-cards__list {
	  grid-template-columns: 1fr 1fr 1fr;
	  width: 50%;
	}
	@supports (display: grid) {
	  .gem-c-cards__list {
		width: initial;
	  }
	}
  }
  @media (min-width: 48.0625em) {
	.gem-c-cards__list--two-column-desktop {
	  grid-template-columns: 1fr 1fr;
	}
  }
  .gem-c-cards__list-item {
	border-top: 1px solid #b1b4b6;
	margin: 0 15px;
	padding: 5px 0 20px 0;
  }
  
  .gem-c-cards__list-item-variant {
	border: 1px solid #b1b4b6;
	margin: 0 15px 30px;
	padding: 5px 0 20px 0;
	border-bottom: 4px solid #b1b4b6;
  }
  
  .gem-c-cards__list-item-wrapper {
	padding: 10px 30px 10px 0;
	position: relative;
  }
  
  .gem-c-cards__list-item-wrapper-variant {
	padding: 10px 50px 0px 15px;
	position: relative;
  }
  
  .gem-c-cards__sub-heading {
	margin-bottom: 10px;
  }
  
  .gem-c-cards__link::after {
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .gem-c-cards__link::before {
	border-right: 3px solid #1d70b8;
	border-top: 3px solid #1d70b8;
	content: "";
	height: 7px;
	position: absolute;
	right: 5px;
	top: 15px;
	-webkit-transform: translateY(0) rotate(45deg) scale(1);
	-ms-transform: translateY(0) rotate(45deg) scale(1);
	transform: translateY(0) rotate(45deg) scale(1);
	width: 7px;
  }
  
  .gem-c-cards__link:hover::before {
	border-color: #003078;
  }
  
  .gem-c-cards__link:focus::before {
	border-color: #0b0c0c;
  }
  
  .gem-c-cards__description {
	margin: 0 -30px 0 0;
  }
  
  @media print {
	.gem-c-cards__list {
	  display: block;
	}
	.gem-c-cards__list-item {
	  padding-bottom: 0;
	}
	.gem-c-cards__sub-heading {
	  margin-top: 20px;
	  margin-bottom: 5px;
	}
	.gem-c-cards__link::before {
	  display: none;
	}
  }
  .no-bullet {
	list-style-type: none;
	padding-inline-start: 0px;
  }
  
  .homepage-services-and-info__list {
	list-style: none;
	margin: 0 -15px;
	padding-left: 0;
	padding-right: 20px;
  }
  
  .chevron-card {
	border-top: 1px solid #b1b4b6;
	margin: 0 15px;
	padding: 5px 0 20px 0;
  }
  
  .chevron-card:first-child {
	border-top: none;
	padding-top: 0;
  }
  
  @media print {
	.chevron-card:first-child .chevron-card__wrapper {
	  padding-top: 19px;
	}
  }
  .chevron-card__wrapper {
	padding: 19px 0 4px;
	position: relative;
  }
  
  @media (max-width: 40.0525em) {
	.chevron-card__wrapper .govuk-heading-s, .chevron-card__wrapper .chevron-card__description {
	  font-size: 19px;
	  font-size: 1.1875rem;
	}
  }
  .chevron-card__description {
	margin: 0 30px 0 0;
  }
  
  .chevron-card__link::after {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .chevron-card__link::before {
	border-right: 3px solid #1d70b8;
	border-top: 3px solid #1d70b8;
	content: "";
	display: block;
	height: 7px;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: 5px;
	-webkit-transform: translateY(0) rotate(45deg) scale(1);
	-ms-transform: translateY(0) rotate(45deg) scale(1);
	transform: translateY(0) rotate(45deg) scale(1);
	width: 7px;
  }
  
  .chevron-card__link:hover::before {
	border-color: #003078;
  }
  
  .chevron-card__link:focus::before {
	border-color: #0b0c0c;
  }
  
  @media (min-width: 40.0625em) {
	.govuk-heading-s_no-margin {
	  margin-bottom: 0px;
	}
  }
  @media (min-width: 40.0625em) {
	.govuk-tag_custom {
	  font-size: 1rem;
	  line-height: 1.3157894737;
	}
  }
  .link-style {
	color: #1d70b8;
	text-decoration: underline;
  }
  
  .card-page a, .p-link-style {
	text-decoration: none !important;
  }
  
  .govuk-link:hover, .app-task-list__task-name > a:hover {
	color: #003078;
	text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  }
  
  .govuk-link-hover {
	color: #003078;
	text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  }
  
  .app-task-list__items_custom {
	padding-left: 0;
  }
  
  .govuk-button-custom {
	width: 100%;
  }
  
  .blue-border {
	border: 3px solid #1d70b8;
	margin-bottom: 30px;
  }
  
  .blue-border-thin {
	border: 1px solid #1d70b8;
	margin-bottom: 30px;
  }
  
  .grey-border {
	border: 3px solid #b1b4b6;
	margin-bottom: 30px;
  }
  
  .grey-border-thin {
	border: 1px solid #b1b4b6;
	margin-bottom: 30px;
  }