// Loaded by sfi-agreement-v1/offer.html

.govuk-table {
  font-size: 16px;
  line-height: 1.25;
}

.govuk-table .govuk-table__header,
.govuk-table .govuk-table__cell {
  font-size: 16px;
  line-height: 1.25;
}
