{# 
{% set _selectedBusiness = data.selectedBusiness %} #}

<div class="govuk-grid-row sub-header-container">

  <div class="govuk-grid-column-full service-navigation">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="service-name" href="#">Manage land-based actions</a></h3>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body-s govuk-!-margin-bottom-1 sub-header-user-name">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Sign out</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1" >Agile Farms Ltd</h3>
      <p class="govuk-body-s govuk-!-margin-bottom-1">Single business identifier (SBI): 123456789</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1 sub-header-user-name">Alfred Waldron</h3>
</div>

</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-0 govuk-!-margin-top-2">


{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service - your feedback will help us to improve it.'
}) }}