{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  You must get consent
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">
       <div class="govuk-panel govuk-panel--confirmation govuk-panel-card">

          <h1 class="govuk-heading-l">You must get consent to do your actions</h1>
            <p class="govuk-body">You are applying for actions on land that's a site of special scientific interest (SSSI) and land with historic or 
              archaeological features. Before starting your actions, you must get:</p>
            <ul class="govuk-list govuk-list--bullet"> 
              <li>An <a href="https://grants-ui.dev.cdp-int.defra.cloud/farm-payments/fptt-information#sec-5-check-if-your-land-is-eligible-for-FPTT-actions" rel="noreferrer nofollow" target="_blank">SFI Historic Environment Farm Environment Record (SFI HEFER)</a> from Historic England </li> 
              <li><a href="https://grants-ui.dev.cdp-int.defra.cloud/farm-payments/fptt-information#sec-10-get-all-necessary-regulatory-consents-permissions-and-licences-in-place" rel="noreferrer nofollow" target="_blank">SSSI consent</a> from Natural England</li>
            </ul>
            


        </div>
        <br>
        <!-- end panel -->

        <form action="submit-application" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}
