{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Accept offer
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<!-- main page heading included in it's own row so that the 2/3 and 1/3 columns align for related links -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accept your offer
      </h1>

      <p>If you accept this offer for funding, you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          you are entering into a legally binding agreement with Defra
        </li>
        <li>
          you and your land will remain eligible for the duration of the actions you have selected
        </li>
        <li>
          you will get any required regulatory consents, permissions and licences before you do your selected actions
        </li>
        <li>
          you will complete your selected actions by following the guidance in
          <a href="../_common/not-testing">Find funding for land or farms (opens in new tab)</a> that explains what you must do to get paid
        </li>
        <li>
          you will submit an annual declaration to confirm you have complied, or expect to have complied with the requirements
          of the actions you have selected for that year – the Rural Payments Agency will contact you when you need to do this
        </li>
        <li>
          you will comply with the <a href="../_common/not-testing">terms and conditions (opens in new tab)</a> for your selected actions
        </li>
      </ul>

      <form action="offer-accepted" method="post">
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept offer
          </button>
        </div>
      </form>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If you need to make an update
        </span>
        </summary>

        <div class="govuk-details__text">
          <p>Contact the Rural Payments Agency to update your offer, for example, to add more land.</p>
          <ul class="govuk-list">
            <li>Telephone: 03000 200 301</li>
            <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>
          </ul>
          <p><a href="">Find out about call charges (opens in new tab)</a></p>
        </div>
      </details>
    </div> <!-- two-thirds col -->
  </div> <!-- row -->

{% endblock %}

