{% extends "layouts/main-thread.html" %}

{% set pageName="Manage land based actions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">SFI Reform prototypes</a>
      </li>
    </ol>
  </nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Version 1 (June/July 2025)
      <span class="govuk-caption-l">Agreements</span>
    </h1>

    <!-- outline the scenario and purpose of the prototype -->
    <p class="govuk-body-l">
      An initial prototype to show how private beta day 1 will work for an external user.
    </p>
    <p>
      The scenario is that a user has previously been invited to join the private beta. As part of that process all their details
      and land information were checked to ensure that everything was correct and up to date prior to starting an application.
    </p>
    <p>
      They have gone through the process of applying for actions CMOR1, UPL3, UPL4, SPM5 and UPL10 against land parcel
      SO3757 3159 and have selected to submit the application.
    </p>
    <p>
      The flow picks up from that point, by showing them their offer to review and accept, before then being able to view their agreement.
    </p>

    {# <p><em>When we know, add what we want to get out the usability testing.</em></p> #}

    <a class="govuk-button" href="offer">Start prototype</a>

<!--
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link">View the design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>goals</li>
      <li>'How might we' statements</li>
      <li>hypotheses</li>
      <li>outcomes and decisions</li>
    </ul>
-->
   
{% endblock %}
