{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Manage land-based actions
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}
{% endblock %}


{% block content %}
<!-- main page heading included in it's own row so that the 2/3 and 1/3 columns align for related links -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Review your funding offer
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!-- actions for the agreement -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Actions
        </caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header">Code</th>
            <th scope="col" class="govuk-table__header" style="width:130px">Land parcel</th>
            <th scope="col" class="govuk-table__header" style="width:120px">Quantity (ha)</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Assess moorland and produce a written record</td>
            <td class="govuk-table__cell">CMOR1</td>
            <td class="govuk-table__cell">SO3757 3159</td>
            <td class="govuk-table__cell">8.3405</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Limited livestock grazing on moorland</td>
            <td class="govuk-table__cell">UPL3</td>
            <td class="govuk-table__cell">SO3757 3159</td>
            <td class="govuk-table__cell">8.3405</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Keep cattle and ponies on moorland supplement (minimum 30% GLU)</td>
            <td class="govuk-table__cell">UPL4</td>
            <td class="govuk-table__cell">SO3757 3159</td>
            <td class="govuk-table__cell">8.3405</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Keep native breeds on extensively managed habitats supplement (more than 80%)</td>
            <td class="govuk-table__cell">SPM5</td>
            <td class="govuk-table__cell">SO3757 3159</td>
            <td class="govuk-table__cell">8.3405</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Shepherding livestock on moorland (remove stock for at least 8 months)</td>
            <td class="govuk-table__cell">UPL10</td>
            <td class="govuk-table__cell">SO3757 3159</td>
            <td class="govuk-table__cell">8.3405</td>
          </tr>
        </tbody>
      </table>

      <hr class="govuk-section-break govuk-section-break--l">

      <!-- payment relating to the actions -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Payments
        </caption>

        <p>If you accept this offer, these are the payments for the total quantity of land in each action.</p>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header">Code</th>
            <th scope="col" class="govuk-table__header" style="width:170px">Payment rate for each year</th>
            <th scope="col" class="govuk-table__header" style="width:110px; text-align: right">Quarterly payment</th>
            <th scope="col" class="govuk-table__header" style="width:110px; text-align: right">Yearly payment</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Assess moorland and produce a written record</td>
            <td class="govuk-table__cell">CMOR1</td>
            <td class="govuk-table__cell">£10.60 per ha and £272 per agreement</td>
            <td class="govuk-table__cell" style="text-align: right">£90.10</td>
            <td class="govuk-table__cell" style="text-align: right">£360.41</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Limited livestock grazing on moorland</td>
            <td class="govuk-table__cell">UPL3</td>
            <td class="govuk-table__cell">£66 per ha</td>
            <td class="govuk-table__cell" style="text-align: right">£137.61</td>
            <td class="govuk-table__cell" style="text-align: right">£550.47</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Keep cattle and ponies on moorland supplement (minimum 30% GLU)</td>
            <td class="govuk-table__cell">UPL4</td>
            <td class="govuk-table__cell">£7 per ha</td>
            <td class="govuk-table__cell" style="text-align: right">£14.60</td>
            <td class="govuk-table__cell" style="text-align: right">£58.39</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Keep native breeds on extensively managed habitats supplement (more than 80%)</td>
            <td class="govuk-table__cell">SPM5</td>
            <td class="govuk-table__cell">£11 per ha</td>
            <td class="govuk-table__cell" style="text-align: right">£23.05</td>
            <td class="govuk-table__cell" style="text-align: right">£92.19</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Shepherding livestock on moorland (remove stock for at least 8 months)</td>
            <td class="govuk-table__cell">UPL10</td>
            <td class="govuk-table__cell">£48 per ha</td>
            <td class="govuk-table__cell" style="text-align: right">£100.09</td>
            <td class="govuk-table__cell" style="text-align: right">£400.34</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="border-bottom-width: 0px"></td>
            <td class="govuk-table__cell" style="border-bottom-width: 0px"></td>
            <td class="govuk-table__cell" style="border-bottom-width: 0px; text-align: right"></td>
            <td class="govuk-table__cell" style="border-bottom-width: 0px; text-align: right"><strong>£365.45</strong></td>
            <td class="govuk-table__cell" style="border-bottom-width: 0px; text-align: right"><strong>£1,461.80</strong></td>
          </tr>
        </tbody>
      </table>
    </div> <!-- full column -->
  </div> <!-- grid-row -->

  <hr class="govuk-section-break govuk-section-break--m">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="accept-offer" method="post">
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div> <!-- two-thirds col -->
  </div> <!-- row -->

{% endblock %}

