{% extends "layouts/main-thread.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">SFI Reform prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 2.1</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Version 2.1
      <span class="govuk-caption-xl">Design blog</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Background
    </h2>
    <p>
      The previous prototype focused on adding new actions to an existing agreement (version 2).
      It was decided, following a the 2nd round of User Research with farmers, that we were confident in this area for the alpha phase.</p>
    </p>
    <p>
      One part of the journey we hadn't deeply explored was how to show an updated agreement so a user can decide whether to accept or reject it.
    </p>
    <p>
      In this scenario:
    </p>
    <ol class="govuk-list govuk-list--number">
      <li>a user has applied to add new actions to an existing agreement</li>
      <li>the Rural Payments Agency (RPA) has accepted the updates and contracted the user to either accept or reject the update</li>
    </ol>
    <p>
      We put together a (very) basic screen flow, so we were all on the same page.
    </p>


    <h2 class="govuk-heading-l">
      Design approach
    </h2>
    <p>
      The problem to consider was how to show the user the updated version of the agreement with both the existing actions as well
      as the new actions, and any resulting changes in payment, annual declaration and other legal information.
    </p>
    <p>
      We then did some exploration; considering the things we may want to learn from research, looking for other services that
      have done a similar thing, as well as looking for patterns and ways the information could be displayed.
    </p>
    <p>
      We came up with some ‘how might we’ and ‘we could…’ statements to help us ideate a solution.
    </p>

    <h3 class="govuk-heading-m">
      ‘How might we’ (HMW) statements
    </h3>
    <ol class="govuk-list govuk-list--number">
      <li>HMW make it easy for users to see the latest change they've signed up for as part of the work they're doing on their land?</li>
      <li>HMW make it easy for users to see how the change will affect their monthly payments?</li>
      <li>HMW make it easy for users to accept their updated agreement? </li>
    </ol>

    <h3 class="govuk-heading-m">
      Ideation
    </h3>

  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
