{% extends "layouts/main.html" %}

{% block pageTitle %}
  Future – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row" id="header">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
  <div class="moj-organisation-nav" aria-label="Organisation switcher">
    <div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Sarah Farmer</div>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save and return later
      </button>
    </div>
  </div>
</div>

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/new-or-existing-answer2" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want to add these actions to a new or existing agreement?
              </h1>
            </legend>
            {# <div id="changedName-hint" class="govuk-hint">
              Do we need to explain this more?
            </div> #}
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName" name="new-or-existing-answer2" type="radio" value="new">
                <label class="govuk-label govuk-radios__label" for="changedName">
                  New
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="new-or-existing-answer2" type="radio" value="existing">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                 Existing
                </label>
              </div>
            </div>
          </fieldset>
        </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

    </div>
  </div>

{% endblock %}
