{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
  Future – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Sarah Farmer</div>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
</button>
</div>
</div>
</div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Enter your agreement name</h1>
 <div class="govuk-form-group"><p class="govuk-caption-m">
      This will appear on your agreement documents, it is for your own use. For example ‘Joe’s Farm Funding 2024’.</p>
    <input class="govuk-input govuk-!-width-two-thirds govuk-body govuk-!-margin-bottom-4" id="agree" name="agreementName" type="text" autocomplete="Agreement name">
     <label class="govuk-label" for="agreement-name">
      You have 40 characters remaining.
    </label>
  </div>

<form class="form" action="tasklist-5" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
        
    </div>
  </div>

</main>
</div>
{% endblock %}
