{% extends "layouts/main-thread.html" %}

{% set pageName="Your updated agreement" %}

{%- block beforeContent -%}

{# {% include "to-be/v3/components/sub-header/include.html" %} #}

{% endblock %} 

{% block content %}


<div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l">
                Your application has been accepted
              </h1>

              <p class="govuk-body">
                Agile Farms Ltd<br>
                10 Skirbeck Way<br>
                Maidstone<br>
                SK22 1DL<br>
              </p>
              <p>SBI: 123456789</p>

              <h2 class="govuk-heading-m">Funding details</h2>

              <table class="govuk-table">
                {# <caption class="govuk-table__caption govuk-table__caption--s">Actions applied for</caption> #}

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">CIPM2: Flower-rich grass margins</td>
                  <td class="govuk-table__cell">8.3405 ha</td>
                  <td class="govuk-table__cell">&pound;6,372.14</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">CIPM4: No use of insecticide</td>
                  <td class="govuk-table__cell">8.3405 ha</td>
                  <td class="govuk-table__cell">&pound;4,295.35</td>
                </tr>
                {# <tr class="govuk-table__row">
                  <td class="govuk-table__cell">AB2: Basic overwinter stubble</td>
                  <td class="govuk-table__cell">100 ha</td>
                  <td class="govuk-table__cell">&pound;5,800</td>
                </tr> #}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Land parcels</td>
                  <td class="govuk-table__cell">20</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Funding total</td>
                  <td class="govuk-table__cell">&pound;10,667.49</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total application value</td>
                  <td class="govuk-table__cell">&pound;10,667.49</td>
                  <td class="govuk-table__cell">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m">Payment details</h2>

              <p>Your annual payment of £10,667.49 will be paid in quarterly instalments.</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>You’ll usually receive your first payment in the fourth month after your agreement’s start date.</li>
                <li>The first 3 instalments will be paid by an automated BACS transfer.</li>
                <li>You must submit an annual declaration (a simple tick box form) before you’re paid the fourth instalment.</li>
              </ul>

            <h2 class="govuk-heading-m">Accept your application</h2>

            <p>Now go to your Rural Payments service and <a href="/front-door/v2-1/agreements-live-actions-added" class="govuk-link">accept your updated agreement</a>.</p>


    </div>
  </div>

{% endblock %}
