{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{super()}}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Version 2.1
      <span class="govuk-caption-xl">Alpha v2.1: Started April 2024</span>
    </h1>

    <a class="govuk-button" href="email">Start prototype</a>

    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link govuk-link--no-visited-state">View design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>goals</li>
      <li>'How might we' statements</li>
      <li>hypotheses</li>
      <li>outcomes and decisions</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-4">All pages</h2>

    <h3 class="govuk-heading-s">Single Front Door:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/login">Sign in</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/landing">Business overview</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/manage-your-actions">All actions overview</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/manage-your-actions2">Actions overview with new actions added to new agreement</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/manage-your-actions3">Actions overview with copied actions added to existing agreement</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements">Agreements - pending</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements-live">Agreements - live</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements-expired">Agreements - expired</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements-live-actions-added">Agreements - new actions added to existing agreement</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements-live-actions-expiring">Agreements - actions about to expire</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements-live-expiring-actions">Agreements - review actions about to expire</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements-live-actions-renew">Agreements - actions about to expire - decision screen</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements-live-actions-renewed">Agreements - actions renewed</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/agreements-live-past-actions">Agreements - view past actions with navigation</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/manage-your-actions3">Actions overview with copied actions added to existing agreement</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/actions-detail">Detailed view of action group</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/parcel-detail2">Add recommended actions from parcel page (from clicking on parcel within farm map)</a></li>
      <li><a class="govuk-link--no-visited-state" href="/front-door/v2/parcel-detail">Just view recommended actions from parcel page</a></li>
    </ul>

    <h3 class="govuk-heading-s">Actions journey</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="actions-name">Add action name</a></li>
      <li><a class="govuk-link--no-visited-state" href="select-land-parcel-1a">Land parcel with actions auto-populated from selected recommended actions on parcel page 
        in Single Front Door
      </a></li>
      <li><a class="govuk-link--no-visited-state" href="edit-action">Choose how to edit these actions (scenario is copy these actions to another parcel)</a>
      
      <li><a class="govuk-link--no-visited-state" href="select-land-copy-action">Choosing parcel to copy actions to</a>
      <li><a class="govuk-link--no-visited-state" href="land-parcel-actions-copied">Actions being copied to chosen parcel</a></li>
    </ul>

    <h3 class="govuk-heading-s">Adding actions to new or existing agreement</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="add-new-or-existing">Add actions to new or existing agreement</a></li>
      <li><a class="govuk-link--no-visited-state" href="existing-agreement">Choose existing agreement to add these actions to</a></li> 

      <li><a class="govuk-link--no-visited-state" href="check-agreement-existing">Review updated agreement</a>
      <li><a class="govuk-link--no-visited-state" href="confirmation-existing">Confirmation</a>
    </ul> 

  </div>

{% endblock %}
