{% extends "layouts/main.html" %}

{% block pageTitle %}
  Future – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row" id="header">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
      <div class="moj-organisation-nav" aria-label="Organisation switcher">
        <div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Sarah Smith</div>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and return later
          </button>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row main" role="main">

        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-l">Select parcels for rotational actions</h1>
            <p class="govuk-body">Placeholder</p>
              <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
                    <form class="form" action="apply-agreement-level" method="post">
                      <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
                        Continue
                      </button>
                    </form>
              </nav>
        </div>
    
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body"><a href="#" class="govuk-link">Hide/show map</a></p>
          <map name="clickable">
                </map>
            <img usemap="#clickable" src="https://raw.githubusercontent.com/defra-design/fcp-future-rps/56621a962ff1c79573dc9ba24b9dfed026bf152e/app/views/experiment/img/map_2.png" alt="Map of your land" style="width:465px;height:400px;"></a>
        </div>
      
  </div>
{% endblock %}
