{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
  Future – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{# {% block beforeContent %} #}

{# {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

 {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}  #}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Start page
    </h1>

    <form action="/steel-thread/check-land-details" method="post">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
    </form>

    </div>
  </div>



</div>



{% endblock %}
