{% extends "layouts/main-thread.html" %}

{% set pageName="Manage land based actions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">SFI Reform prototypes</a>
      </li>
    </ol>
  </nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Day 1 plus HEFER prototype
      <span class="govuk-caption-l">Application journey</span>
    </h1>

    <!-- outline the scenario and purpose of the prototype -->
    <p>Early exploration of marking actions with HEFER status and showing the farmer appropriate signposting if they choose it.</p>

    <br>
    <a class="govuk-button" href="sign-in">Start prototype</a>

    {# <h3 class="govuk-heading-s">
      Older versions
    </h3>

    <p>View <a href="/day1-sssi-v0/sign-in">version 0.1 here</a></p> #}

<!--
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link">View the design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>goals</li>
      <li>'How might we' statements</li>
      <li>hypotheses</li>
      <li>outcomes and decisions</li>
    </ul>
-->
   
{% endblock %}
