{% extends "layouts/day1-header.html" %}

{% block pageTitle %}
  Submit application
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Submit your application
      </h1>
      <p>By submitting your application, you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          the information you have provided is correct to the best of your knowledge
        </li>
        <li>
          you will follow the <a href="/not-testing" target="_blank">Farm payments technical test information (opens in new tab)</a>
          to complete your selected action
        </li>
        <li>
          you have read, understood and agree to the <a href="/not-testing" target="_blank">Farm payments technical test
          terms and conditions (opens in new tab)</a> for your selected actions
        </li>
        <li>
          you have read the <a href="/not-testing" target="_blank">Farm payments technical test actions (opens in new tab)</a>
          and will follow the requirements for your selected actions
        </li>
        <!-- <li>you will carry out the actions for the duration set out in <a href="/not-testing" target="_blank">Farm payments information (opens in new tab)</a></li> -->
      </ul>

    
      <form class="form" action="confirmation" method="post">
        <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
          Submit
        </button>
          
        <details class="govuk-details">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you have a question
              </span>
          </summary>
          <div class="govuk-details__text">
            Contact the Rural Payments Agency (RPA) if you have a query.<br><br>
            Telephone: 020 8026 2395<br>
            Monday to Friday, 8:30am to 5pm (except bank holidays)<br><br>
            <p><a href="">Find out about call charges (opens in new tab)</a><br><br>
              Email: <a href="mailto:farmpayments@rpa.gov.uk">farmpayments@rpa.gov.uk</a></p>
            <p>The RPA responds to email queries within 10 working days.</p>
          </div>
        </details>
        
      </form>
    </div>
  </div>

{% endblock %}
