{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
    Exempt from inheritance tax
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your feedback will help us to improve it.'
}) }}

  {% include "_common/sub-header.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Land that’s conditionally exempt from inheritance tax</h1>
<p class="govuk-body">You need to check you can do your selected SFI actions on land that is either:<br>
• conditionally exempt from inheritance tax<br>
• the object of a maintenance fund</p>
<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/eligible-funding-on-land-conditionally-exempt-from-inheritance-tax">inheritance tax exemption guidance</a>.</p>

<form class="form" action="/ite-answer3" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
Are the actions you want to apply for available on land that’s conditionally exempt from inheritance tax, or the object of a maintenance fund?</h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="iteAnswer-1" name="ite-answer3" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="iteAnswer-1">
                    Yes
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="iteAnswer-2" name="ite-answer3" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="iteAnswer-2">
                    No
                  </label>
                </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>
  </div>

</div>
</main>
{% endblock %}
