{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
    Application saved
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {% include "_common/sub-header.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="tasklist-3" method="post">

        <h1 class="govuk-heading-l">
         You have saved your application
        </h1>
        <p class="govuk-body">
         You can return to this application, or start a new one, from your dashboard.
        </p><br>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               What would you like to do?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                   Go to dashboard
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                     Sign out 
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

       </form>
    </div>
  </div>

{% endblock %}
