{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
Available actions for selected parcel
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {% include "_common/sub-header.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

 <div class="govuk-grid-row" role="main">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Choose which actions to do</h1>

    {# <h2 class="govuk-heading-m">Chosen parcel</h2> #}

    <form action="add-more-actions" method="post">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Chosen parcel: SO3757 3158
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="select-land">Change<span class="govuk-visually-hidden"> chosen parcel</span></a>
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total size
        </dt>
        <dd class="govuk-summary-list__value">
          	32.0404 ha
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Land cover
        </dt>
        <dd class="govuk-summary-list__value">
          Moorland
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Intersections
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>
      </div>
    </dl>
  </div>
</div>
    
      {# <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Parcel reference
          </dt>
          <dd class="govuk-summary-list__value">
            SO3757 3158
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="select-land">Change<span class="govuk-visually-hidden"> Parcel reference</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Total size
          </dt>
          <dd class="govuk-summary-list__value">
            32.0404 ha
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Land cover
          </dt>
          <dd class="govuk-summary-list__value">
            Moorland
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Layer Intersections: 
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
        </div>
      </dl> #}
      
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
        Available actions
      </h3>
    </legend>
    <div id="contact-hint" class="govuk-hint">
      Select all the actions you want to do for this parcel
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
        <label class="govuk-label govuk-checkboxes__label" for="contact">
          Assess moorland and produce a written record: CMOR1 - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/cmor1-assess-moorland-and-produce-a-written-record">view</a>
        </label>
      </div>
      {# <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
           </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div> #}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-checkboxes__label" for="contact-2">
          	Moderate livestock grazing on moorland: UPL1 - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/upl1-moderate-livestock-grazing-on-moorland">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-checkboxes__label" for="contact-3">
          	Low livestock grazing on moorland: UPL2 - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/upl2-low-livestock-grazing-on-moorland">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-4">
        <label class="govuk-label govuk-checkboxes__label" for="contact-4">
          	Limited livestock grazing on moorland: UPL3 - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/upl3-limited-livestock-grazing-on-moorland">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-4">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-5" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-5">
        <label class="govuk-label govuk-checkboxes__label" for="contact-5">
          		Keep cattle and ponies on moorland supplement (minimum 30% GLU): UPL4  - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/upl4-keep-cattle-and-ponies-on-moorland-supplement-minimum-30-percent-glu">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-5">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-6" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-6">
        <label class="govuk-label govuk-checkboxes__label" for="contact-6">
          	Keep cattle and ponies on moorland supplement (minimum 70% GLU): UPL5  - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/upl5-keep-cattle-and-ponies-on-moorland-supplement-minimum-70-percent-glu">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-6">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-7" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-7">
        <label class="govuk-label govuk-checkboxes__label" for="contact-7">
          	Keep cattle and ponies on moorland supplement (100% GLU): UPL6  - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/upl6-keep-cattle-and-ponies-on-moorland-supplement-100-percent-glu">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-7">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-8" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-8">
        <label class="govuk-label govuk-checkboxes__label" for="contact-8">
          		Shepherding livestock on moorland (no required stock removal period): UPL7  - <a target="_blank" rel="noopener noreferrer"  href="https://www.gov.uk/find-funding-for-land-or-farms/upl7-shepherding-livestock-on-moorland-no-required-stock-removal-period">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-8">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-9" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-9">
        <label class="govuk-label govuk-checkboxes__label" for="contact-9">
          		Shepherding livestock on moorland (remove stock for at least 4 months): UPL8  - <a target="_blank" rel="noopener noreferrer"  href="https://www.gov.uk/find-funding-for-land-or-farms/upl8-shepherding-livestock-on-moorland-remove-stock-for-at-least-4-months">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-9">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-10" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-10">
        <label class="govuk-label govuk-checkboxes__label" for="contact-10">
          		Shepherding livestock on moorland (remove stock for at least 6 months): UPL9  - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/upl9-shepherding-livestock-on-moorland-remove-stock-for-at-least-6-months">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-10">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
         <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-11" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-11">
        <label class="govuk-label govuk-checkboxes__label" for="contact-11">
          		Shepherding livestock on moorland (remove stock for at least 8 months): UPL10  - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/upl10-shepherding-livestock-on-moorland-remove-stock-for-at-least-8-months">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-11">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-12" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-12">
        <label class="govuk-label govuk-checkboxes__label" for="contact-12">
          			Keep native breeds on extensively managed habitats supplement (50-80%): SPM4  - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/spm4-keep-native-breeds-on-extensively-managed-habitats-supplement-50-80-percent">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-12">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-13" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-13">
        <label class="govuk-label govuk-checkboxes__label" for="contact-13">
          		Keep native breeds on extensively managed habitats supplement (more than 80%): SPM5  - <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/find-funding-for-land-or-farms/spm5-keep-native-breeds-on-extensively-managed-habitats-supplement-more-than-80-percent">view</a>
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-13">
         <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Quantity
          </label>
          <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            8.3405 ha available
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>


          <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
            Continue
         </button>

         {# <p><a href="">Go back and choose another parcel</a></p> #}
        


    </form>

    </div>
  </div>

{% endblock %}
