{% extends "layouts/main.html" %}

{% block pageTitle %}
  Future – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Sarah Farmer</div>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
</button>
</div>
</div>
</div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
  
  <h1 class="govuk-heading-l">Select actions</h1>

<!--<div class="govuk-grid-row">-->
<!--<div class="govuk-grid-column-one-third">-->
<!--  <div id="search">-->
<!--    <label class="govuk-label govuk-!-margin-top-2" for="search">-->
<!--      Search by action code-->
<!--    </label>-->
<!--    <input class="govuk-input text-input govuk-!-margin-bottom-5" style="width:160px; height:44px;" id="searchbox" type="text" value="" placeholder="">-->
<!--    <button id="button_1" class="govuk-button" height="20" data-module="govuk-button">-->
<!--      <svg class="gem-c-search__icon" width="21" height="21" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">-->
<!--        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>-->
<!--        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>-->
<!--      </svg>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div id="filters">-->
<!--    <details class="govuk-details" data-module="govuk-details" open>-->
<!--      <summary class="govuk-details__summary">-->
<!--        <span>-->
<!--          Actions themes-->
<!--        </span>-->
<!--      </summary>-->
<!--      <div class="govuk-!-padding-top-4" data-module="govuk-checkboxes">-->
<!--        <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-A" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-A">-->
<!--            Agroforestry-->
<!--          </label>-->
<!--        </div>-->
<!--        <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--            Boundary features-->
<!--          </label>-->
<!--        </div>-->
<!--              <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--            Buffer strips-->
<!--          </label>-->
<!--        </div>-->
<!--              <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--  Farmland wildlife and habitats on grassland-->
<!--          </label>-->
<!--        </div>-->
<!--              <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--           Farmland wildlife on arable and horticultural land-->
<!--          </label>-->
<!--        </div>-->
<!--              <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          Heritage-->
<!--          </label>-->
<!--        </div>-->
<!--              <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--           Integrated pest management-->
<!--          </label>-->
<!--        </div>-->
<!--              <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--            Moorland-->
<!--          </label>-->
<!--        </div>-->
<!--            <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--            Nutrient management-->
<!--          </label>-->
<!--        </div>-->
<!--             <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--            Organic farming-->
<!--          </label>-->
<!--        </div>-->
<!--            <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--           Precision farming-->
<!--          </label>-->
<!--        </div>-->
<!--            <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--           Soil health-->
<!--          </label>-->
<!--        </div>-->
<!--            <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--           Species recovery and management-->
<!--          </label>-->
<!--        </div>-->
<!--            <div class="govuk-checkboxes&#45;&#45;small govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--            Waterbodies-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </details>-->
<!--          <div class="govuk-button-group govuk-!-margin-bottom-5">-->
<!--  <button type="submit" class="govuk-button" data-module="govuk-button">-->
<!--    Apply filters-->
<!--  </button>-->
<!--  <button type="submit" class="govuk-button govuk-button&#45;&#45;secondary" data-module="govuk-button">-->
<!--    Clear all filters-->
<!--  </button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--    <div class="govuk-grid-column-two-thirds">-->
<!--      <div class="topnav">-->
<!--&lt;!&ndash;  <summary class="govuk-details__summary">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <span><a class="govuk-body govuk-link govuk-link&#45;&#45;no-underline" href="#sortbyorder">Sort by selected actions first</a></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  </summary>&ndash;&gt;-->
<!--  <div class="topnav-right govuk-body">-->
<!--    <span class="govuk-!-font-weight-bold">3</span> actions listed of <span class="govuk-!-font-weight-bold">3</span> total-->
<!--  </div>-->
<!--</div>-->
<!--      <div class="govuk-form-group" id="result-count">-->
<!--    <div class="govuk-checkboxes" data-module="govuk-checkboxes">-->
<!--      &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">AB1: Nectar flower mix – <a href="https://www.gov.uk/guidance/sfi-actions-for-farmland-wildlife-on-arable-and-horticultural-land#ahl1-pollen-and-nectar-flower-mix" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £739 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--          &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">AB4: Winter bird food on arable and horticultural land – <a href="https://www.gov.uk/guidance/sfi-actions-for-farmland-wildlife-on-arable-and-horticultural-land#ahl2-winter-bird-food-on-arable-and-horticultural-land" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £853 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--              &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">AHL3: Grassy field corners and blocks – <a href="https://www.gov.uk/guidance/sfi-actions-for-farmland-wildlife-on-arable-and-horticultural-land#ahl3-grassy-field-corners-or-blocks" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £590 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
     <!-- End of action -->
<!--                   &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">AHL4: 4m to 12m grass buffer strip on arable and horticultural land – <a href="https://www.gov.uk/guidance/sfi-actions-for-buffer-strips#ahl4-4m-to-12m-grass-buffer-strip-on-arable-and-horticultural-land" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £515 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                       &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">HRW1: Assess and record hedgerow condition – <a href="https://www.gov.uk/guidance/sfi-actions-for-hedgerows#hrw1-assess-and-record-hedgerow-condition" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £5 per 100 metres for one side of an eligible hedgerow</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                            &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">HRW2: Manage hedgerows – <a href="https://www.gov.uk/guidance/sfi-actions-for-hedgerows#hrw2-manage-hedgerows" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £13 per 100 metres for one side of an eligible hedgerow</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                              &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">HRW3: Maintain or establish hedgerow trees – <a href="https://www.gov.uk/guidance/sfi-actions-for-hedgerows#hrw3-maintain-or-establish-hedgerow-trees" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £10 per 100 metres for both sides of an eligible hedgerow</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                                   &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">IGL1: Take grassland field corners or blocks out of management – <a href="https://www.gov.uk/guidance/sfi-actions-for-farmland-wildlife-on-improved-grassland#igl1-take-grassland-field-corners-or-blocks-out-of-management" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £333 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--           &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">IGL2: Winter bird food on improved grassland – <a href="https://www.gov.uk/guidance/sfi-actions-for-farmland-wildlife-on-improved-grassland#igl2-winter-bird-food-on-improved-grassland" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £515 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">IGL3: 4m to 12m grass buffer strip on improved grassland – <a href="https://www.gov.uk/guidance/sfi-actions-for-buffer-strips#igl3-4m-to-12m-grass-buffer-strip-on-improved-grassland" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £235 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                  &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">IPM1: Assess integrated pest management and produce a plan – <a href="https://www.gov.uk/guidance/sfi-actions-for-integrated-pest-management#ipm1-assess-integrated-pest-management-and-produce-a-plan" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £1,129</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                       &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">IPM2: Flower-rich grass margins, blocks, or in-field strips – <a href="https://www.gov.uk/guidance/sfi-actions-for-integrated-pest-management#ipm2-flower-rich-grass-margins-blocks-or-in-field-strips" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £798 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                            &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">IPM3: Companion crop on arable and horticultural land – <a href="https://www.gov.uk/guidance/sfi-actions-for-integrated-pest-management#ipm3-companion-crop-on-arable-and-horticultural-land" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £55 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                                 &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">IPM4: No use of insecticide on arable crops and permanent crops – <a href="https://www.gov.uk/guidance/sfi-actions-for-integrated-pest-management#ipm4-no-use-of-insecticide-on-arable-crops-and-permanent-crops" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £45 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--           &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">LIG1: Manage grassland with very low nutrient inputs (outside SDAs) – <a href="https://www.gov.uk/guidance/sfi-actions-for-low-input-grassland#lig1-manage-grassland-with-very-low-nutrient-inputs-outside-sdas-and-lig2-manage-grassland-with-very-low-nutrient-inputs-sdas" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £151 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">LIG2: Manage grassland with very low nutrient inputs (SDAs) – <a href="https://www.gov.uk/guidance/sfi-actions-for-low-input-grassland#lig1-manage-grassland-with-very-low-nutrient-inputs-outside-sdas-and-lig2-manage-grassland-with-very-low-nutrient-inputs-sdas" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £151 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                     &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">MOR1:  Assess moorland and produce a written record – <a href="https://www.gov.uk/guidance/sfi-actions-for-moorland#mor1-assess-moorland-and-produce-a-written-record" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £10.60 per hectare and an additional payment of £272 per agreement</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                          &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">NUM1: Assess nutrient management and produce a review report – <a href="https://www.gov.uk/guidance/sfi-actions-for-nutrient-management#num1-assess-nutrient-management-and-produce-a-review-report" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £652</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                               &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">NUM2: Legumes on improved grassland – <a href="https://www.gov.uk/guidance/sfi-actions-for-nutrient-management#num2-legumes-on-improved-grassland" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £102 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                                 &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">NUM3: Legume fallow – <a href="https://www.gov.uk/guidance/sfi-actions-for-nutrient-management#num3-legume-fallow" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £593 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                                   &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">SAM1: Assess soil, test soil organic matter and produce a plan – <a href="https://www.gov.uk/guidance/sfi-actions-for-soils#soil-1" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £6 per hectare and an additional payment of £97 per agreement</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                                      &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">SAM2: Multi-species winter crops – <a href="https://www.gov.uk/guidance/sfi-actions-for-soils#sam2-multi-species-winter-cover" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £129 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--                                      &lt;!&ndash; Beginning of action &ndash;&gt;-->
<!--      <div class="govuk-checkboxes__item">-->
<!--        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">-->
<!--        <label class="govuk-label govuk-checkboxes__label" for="waste">-->
<!--        <p class="govuk-body">SAM3: Herbal leys – <a href="https://www.gov.uk/guidance/sfi-actions-for-soils#sam3-herbal-leys" target="_blank" class="govuk-link">view</a></p>-->
<!--        </label>-->
<!--      </div>-->
<!--     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £382 per hectare</p>-->
<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;visible">-->
<!--    </div>-->
<!--     &lt;!&ndash; End of action &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
  <p>Placeholder</p>

      <form class="form" action="tasklist-5" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm
          </button>
        </form>
</div>

</div>

</main>
</div>
{% endblock %}
