{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
  Select land parcel for actions
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {% include "_common/sub-header.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">
      <form class="govuk-form" action="select-land-parcel-1" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
              Select land parcel for actions
              </h1>
            </legend>
            {# <div id="signIn-hint" class="govuk-hint">
              You’ll need an account to prove your identity and complete your Self Assessment
            </div> #}
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn">
                  SO3757 3158
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Total size: 32.0404 ha
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
                  SO3757 3159
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Total size: 31.4241 ha
                </div>
              </div>
                  <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-3" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-3">
                  SO3757 3160
                </label>
                <div id="signIn-3-item-hint" class="govuk-hint govuk-radios__hint">
                  Total size: 1.4935 ha
                </div>
              </div>
            </div>
          </fieldset>
        </div>

    <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
