{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
    Submit your application
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {% include "_common/sub-header.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Submit your application</h1>


      <p>Your annual payment of £16,467.49 will be paid in quarterly instalments.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>You’ll usually receive your first payment in the fourth month after your agreement’s start date.</li>
        <li>The first 3 instalments will be paid by an automated BACS transfer.</li>
        <li>You must submit an annual declaration (a simple tick box form) before you’re paid the fourth instalment.</li>
      </ul>
    
    <p>You confirm that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you’ll have management control of the land for the 3-year duration of the agreement</li>
      <li>you’re entering into an agreement with the RPA and confirm you have read and accepted the terms and conditions</li>
    </ul>

    <p>By submitting this application you confirm that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the information you have given is correct</li>
      <li>you’ll complete the actions you have applied for</li>
      <li>you’ll have management control of the land parcels selected for the duration of the actions you have applied for</li>
    </ul>
    <br>
  <form class="form" action="confirmation" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
      I agree - submit my application
    </button>
  </form>

  <p><a href="select-land.html" class="govuk-link">Withdraw your application and start again</a></p>


</div>
        </form>
    </div>
  </div>

</main>
</div>
{% endblock %}
