{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
  Check your land details
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {% include "_common/sub-header.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Update your land details</h1>
        <p class="govuk-body">As your registered land details are not up to date, you need to use the <a href="#" class="govuk-link">Rural Payments service to ask us to update them</a>.</p>
        <p class="govuk-body">You’ll need to withdraw your application and start a new one when we tell you we’ve processed your request. This can take up to 3 weeks.</p>
        <form class="form" action="dashboard" method="post">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Withdraw application
          </button>
        </form>
  
    </div>
  </div>

{% endblock %}
