<aside class="app-land-details-farm-summary" aria-label="Farm summary">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">{{ farmSummary.farmName }}</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Available land parcels</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{ farmSummary.parcelCount }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total area (hectares)</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{ farmSummary.totalAreaLabel }}</td>
      </tr>
    </tbody>
  </table>
</aside>
