{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Manage land-based actions
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Submit your application
      </h1>
      <p>You will receive your annual payment of £16,467.49 in quarterly instalments.</p>
      <p>You will receive your first payment on...</p>
      <p>You must submit an annual declaration before you are paid the final instalment.</p>

      <p>By submitting the application you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the information you have provided is correct to the best of your knowledge</li>
        <li>you have read understood and agree to the <a href="">terms and conditions (opens in new tab)</a></li>
        <li>you will complete the actions you have selected</li>
        <li>you are entering into an agreement with the Rural Payments Agency</li>
      </ul>

      <form class="form" action="confirmation" method="post">
        <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
          Confirm and send
        </button>
      </form>
    </div>
  </div>

{% endblock %}
