{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 1</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Day 1 - Private beta - 5 pre-approved users
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">What changed</h2>

    <h3 class="govuk-heading-s">Actions review screen - Design and Accessibility improvements</h3>

    <p>We changed the design of the actions review screen because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the <a href="add-more-actions-table-design.html">previous tabular design</a> was more difficult for readibility once multiple parcels and actions were added</li>
      <li>we anticipated that users with screenreaders would struggle to associate which parcels were associated with which actions on the old tabular design</li>
      <li>using a summary card component solves the above problem by clearly announcing to screenreaders which parcels are associated with which actions when a new card is focused upon. Each card is also listed on the contextual screenreader menu for efficient navigation for these users.</li>
      <li><a href="add-more-actions2.html">the new design</a> also helps users with both cognitive disabilities and visual impairements (eg zoom text users) by presenting information in a clearer and more structured way</li>
      <li>the summary card component brings visual separation and consistency across both action and agreement level payment information, allowing users to more clearly understand how their total payment figure has been reached</li>
    </ul>

      
  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
