{% extends "layouts/day1-header.html" %}

{% block pageTitle %}
  Review selected actions
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Review the actions you have selected</h1>
      <p class="govuk-body-l">The total yearly payment is <strong>&pound;505.99</strong>.</p>


    <!-- Start parcel actions card -->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Land parcel SO3757 3158
          </h2>
          <ul class="govuk-summary-card__actions">
            {# <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Add another action<span class="govuk-visually-hidden"> to parcel SO3757 3159</span></a>
            </li> #}
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="confirm-delete-parcel">Remove<span class="govuk-visually-hidden"> land parcel SO3757 3158</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content" style="padding-bottom: 0">
          <table class="govuk-table" style="margin-bottom: 0">
          <caption class="govuk-table__caption govuk-visually-hidden">
            Review the actions you have selected
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Action</th>
              <th scope="col" class="govuk-table__header" style="width:120px">Quantity (ha)</th>
              <th scope="col" class="govuk-table__header" style="width:140px; text-align: right;">Yearly payment</th>
              <th scope="col" class="govuk-table__header" style="width:170px"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Assess moorland and produce a written record: CMOR1</td>
              <td class="govuk-table__cell">4.5123</td>
              <td class="govuk-table__cell" style="text-align: right">£47.83</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list" style="text-align: right">
                  {# <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="select-base-action2"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li> #}
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="confirm-delete-action-just-CMOR1"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Low livestock grazing on moorland: UPL2</td>
              <td class="govuk-table__cell">3.5125</td>
              <td class="govuk-table__cell" style="text-align: right">£186.16</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list" style="text-align: right">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="select-base-action-change-upl2"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="confirm-delete-action"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row no-bottom-border">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td colspan="2" class="govuk-table__cell">
                 {# <ul class="govuk-summary-list__actions-list" style="text-align: right">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="select-base-action2"><span aria-hidden="true">Add another action</span><span class="govuk-visually-hidden"> to this parcel</span></a></li>
                </ul> #}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- End parcel actions card -->

    <!-- Start additional yearly payments card -->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Additional yearly payments
          </h2>
        </div>
        <div class="govuk-summary-card__content" style="padding-bottom: 0">
          <table class="govuk-table" style="margin-bottom: 0">
          <caption class="govuk-table__caption govuk-visually-hidden">
            Review the actions you have selected
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Action</th>
              <th scope="col" class="govuk-table__header" style="width:120px">&nbsp;</th>
              <th scope="col" class="govuk-table__header" style="width:140px">Yearly payment</th>
              <th scope="col" class="govuk-table__header" style="width:170px"></th>
            </tr>
          </thead>

                 <tbody class="govuk-table__body">
            <tr class="govuk-table__row govuk-table__row no-bottom-border">
              <td colspan="2" class="govuk-table__cell">One-off payment per agreement per year for Assess moorland and produce a written record: CMOR1</td>
              {# <td class="govuk-table__cell">&nbsp;</td> #}
              <td class="govuk-table__cell" style="text-align: right">£272</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list" style="text-align: right">
                  {# <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="select-base-action2"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li> #}
                  {# <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="confirm-delete-action-just-CMOR1"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li> #}
                </ul>
              </td>
            </tr>
            {# <tr class="govuk-table__row no-bottom-border">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell" style="text-align: right"><strong>£272</strong></td>
              <td class="govuk-table__cell"></td>
            </tr> #}
          </tbody>
        </table>

        </div>
      </div>

     <!-- End additional yearly payments card -->


      {# <div class="actions-total">
        <p class="govuk-body-l"><strong>Total: &pound;505.99</strong></p>
      </div> #}

    </div>
  </div>

  <!-- row at 2/3 column width for extra information -->
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">
      <br>
      {# <br> #}
      {# <p>There is a one-off payment of £272 per agreement per year for Assess moorland and produce a written record: CMOR1.</p>
      <p>You will receive this payment if you are not already doing this action on another land parcel.</p>
      <br> #}

      <form class="form" action="/add-more-actions3" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you want to add actions to another land parcel?
            </legend>
            {# <div id="add-another-hint" class="govuk-hint">
              You must tell us about all your directors.
            </div> #}
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-another" name="add-more-actions3" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="add-another">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-another-2" name="add-more-actions3" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="add-another-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you have a question
              </span>
          </summary>
          <div class="govuk-details__text">
            Contact the Rural Payments Agency if you have a query.<br><br>
            Telephone: 020 8026 2395<br>
            Monday to Friday, 8:30am to 5pm (except bank holidays)<br><br>
            <p><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a><br><br>
              Email: <a href="mailto:farmpayments@rpa.gov.uk">farmpayments@rpa.gov.uk</a></p>
            <p>The RPA responds to email queries within 10 working days.</p>
          </div>
        </details>
        
      </form>
    </div>
  </div>

{% endblock %}
