{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Remove parcel
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="select-land" method="post">

        <h1 class="govuk-heading-l">
          Remove land parcel SO3757 3159
        </h1>
        <p class="govuk-body">If you remove this land parcel you will also remove all the actions added to this parcel.</p>
        <p class="govuk-body">o you want to remove land parcel SO3757 3159 from this application?</p>

        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
           <!--   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Are you sure you want to remove this land parcel?
              </legend> -->
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>


</form>

    </div>
  </div>

{% endblock %}
