{% extends "layouts/main-thread.html" %}

{% set pageName="Manage land based actions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">SFI Reform prototypes</a>
      </li>
    </ol>
  </nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Day 1 locked down (Started 09/07/2025)
      <span class="govuk-caption-l">Application and agreement end to end</span>
    </h1>

    <!-- outline the scenario and purpose of the prototype -->
    <p>A locked down version of the end to end user journey for private beta day 1.</p>
    <p>Once signed off, no changes will be made to this version in order to provide a stable version for Development work.</p>

    {# <p><em>Focus on new actions and amended agreements screens for usability testing starting wk/comm 7 July 25</em></p> #}

    <a class="govuk-button" href="sign-in">Start prototype</a>

<!--
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link">View the design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>goals</li>
      <li>'How might we' statements</li>
      <li>hypotheses</li>
      <li>outcomes and decisions</li>
    </ul>
-->
   
{% endblock %}
