{% extends "layouts/main-thread.html" %}

{% set pageName="Manage land based actions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">SFI Reform prototypes</a>
      </li>
    </ol>
  </nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Day 1 locked down (Started 09/07/2025)
      <span class="govuk-caption-l">Application and agreement end to end</span>
    </h1>

    <!-- outline the scenario and purpose of the prototype -->
    <p>A locked down version of the end to end user journey for private beta day 1.</p>
    <p>Once signed off, only content updates will be made in order to provide a stable version for Development work.</p>

    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p>View the <a href="_design-history" class="govuk-link">design history</a></p>

    <h2 class="govuk-heading-m">
      Actions scenario to follow
    </h2>
    <p>The actions looping logic is hard coded at the moment:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Add CMOR1 on choose actions screen</li>
      <li>Then click 'remove parcel' on actions review screen</li>
      <li>Then add CMOR1 again on choose actions screen</li>
      <li>Then click 'add another action' on actions review screen</li>
      <li>Then add UPL2 on choose actions screen</li>
      <li>Then click 'change' on UPL2 on actions review screen</li>
      <li>Then add UPL3 on choose actions screen</li>
      <li>Then remove UPL3 on actions review screen</li>
      <li>You should be back to just having CMOR1 again in list on actions review screen</li>
    </ul>

     <h3 class="govuk-heading-s">
      Actions looping logic
    </h3>
    <p>Use the actions ideation board for the <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1751298047919/96d5c3a47b96ecdf7f86bbd85b688fa3ee63e764?wid=0-1753967283100" target="_blank">actions looping logic</a> for all scenarios.</p>

    {# <p><em>Focus on new actions and amended agreements screens for usability testing starting wk/comm 7 July 25</em></p> #}
    <br>
    <a class="govuk-button" href="sign-in">Start prototype</a>

    
    <h2 class="govuk-heading-s govuk-!-margin-top-4">
      SSSI concept prototype
    </h2>

    <p>The very <a href="/day1-sssi/index">early design work</a> on understanding the approach to improve the SSSI process for farmers.</p>
    <p>This represents the day 1 prototype, plus marking where parcels and actions have SSSI consent needed.<br>
    If a farmer chooses one of these, an extra content page explains what the farmer needs to do to get SSSI consent.</p>

<!--
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link">View the design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>goals</li>
      <li>'How might we' statements</li>
      <li>hypotheses</li>
      <li>outcomes and decisions</li>
    </ul>
-->
   
{% endblock %}
