{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
  Problem saving application
{% endblock %}

{% block beforeContent %}
{% include "_common/sub-header-beta.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Sorry, there is a problem with saving your application
      </h1>

      <p class="govuk-body">
        You can: 
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="javascript:window.history.back()">save your application again</a></li>
        <li><a class="govuk-link" href="javascript:window.history.back()">continue your application</a></li>
      </ul>

      <p class="govuk-body">
        If you close this browser window or tab, you will lose any information you have entered.
      </p>

      <h2 class="govuk-heading-m">If you need help</h2>
      <p> Contact the Rural Payments Agency (RPA) if you have a query.<br><br>
              Telephone: 020 8026 2395<br>
              Monday to Friday, 8:30am to 5pm (except bank holidays)<br><br>
              <p><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a><br><br>
              Email: <a href="mailto:farmpayments@rpa.gov.uk">farmpayments@rpa.gov.uk</a></p>
      <p>The RPA responds to email queries within 10 working days.</p>

    </div>
  </div>
{% endblock %}

