{% extends "layouts/day1-header.html" %}

{% block pageTitle %}
Select actions
{% endblock %}

{% block beforeContent %}
{% include "_common/sub-header-beta.html" %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row" role="main">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Select actions for land parcel SO3757 3159
    </h1>

    <p>The following list shows actions you can do on this parcel that are compatible with:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the land details registered with the Rural Payments service</li>
      <li>actions you are already doing on this parcel</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            If you need to make an update
        </span>
      </summary>
      <div class="govuk-details__text">
        {# <p>The total available area you can enter for each action is based on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>land cover registered on your digital maps</li>
          <li>land use code declared in the Rural Payments service</li>
        </ul> #}
        {# <p>You must check the land type is eligible for each action you select.</p> #}
        <p>Contact the Rural Payments Agency if you think:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the land details registered on the Rural Payments service need updating</li>
          <li>the information about existing actions or options on this parcel is incorrect</li>
        </ul>
        <p>Telephone: 03000 200 301<br>
          Monday to Friday, 8:30am to 5pm (except bank holidays)</p>
        <p><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a></p>
      </div>
    </details>
    {# <hr> #}

    <div class="govuk-form-group govuk-!-margin-top-4">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        {# <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Select actions
        </h2>
      </legend> #}
        {# <div id="action-hint" class="govuk-hint">
        Select all the actions you want to do for this parcel
      </div> #}

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
              Assess moorland
            </h3>
          </legend>
          <!-- CMOR1 -->
          <p>Total available area: 4.5123ha</p>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact" checked>
            <label class="govuk-label govuk-checkboxes__label" for="contact">
              Assess moorland and produce a written record: CMOR1
            </label>
            <div class="govuk-hint govuk-checkboxes__hint">
              Payment rate per year: <strong>£10.60 per ha</strong> and <strong>£272 per agreement</strong>
            </div>
          </div>
          {# <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              Quantity
            </label>
            <div class="govuk-hint govuk-checkboxes__hint">
              32.0404 ha available
            </div>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">ha</div>
            </div>
          </div>
        </div> #}
        </div>
      </fieldset>
    </div>

    {# <hr> #}

    <div class="govuk-form-group govuk-!-margin-top-4">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Livestock grazing on moorland
          </h3>
        </legend>

        <p>Total available area: 3.5125ha</p>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england" aria-describedby="UPL1-hint">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Moderate livestock grazing on moorland: UPL1
            </label>
            <div id="UPL1-hint" class="govuk-hint govuk-radios__hint">
              Payment rate per year: <strong>£20 per ha</strong>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" aria-describedby="UPL2-hint">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              Low livestock grazing on moorland: UPL2
            </label>
            <div id="UPL2-hint" class="govuk-hint govuk-radios__hint">
              Payment rate per year: <strong>£53 per ha</strong>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales"  aria-describedby="UPL3-hint">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
              Limited livestock grazing on moorland: UPL3
            </label>
            <div id="UPL3-hint" class="govuk-hint govuk-radios__hint">
              Payment rate per year: <strong>£66 per ha</strong>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <hr>

    <div class="govuk-form-group govuk-!-margin-top-4">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Shepherding livestock on moorland
          </h3>
        </legend>

        <p>Total available area: 8.3405ha</p>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sheperding" name="sheperding" type="radio" value="england" aria-describedby="UPL7-hint">
            <label class="govuk-label govuk-radios__label" for="sheperding">
              Shepherding livestock on moorland (no required stock removal period): UPL7
            </label>
            <div id="UPL7-hint" class="govuk-hint govuk-radios__hint">
              Payment rate per year: <strong>£33 per ha</strong>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sheperding-2" name="sheperding" type="radio" value="scotland" aria-describedby="UPL8-hint">
            <label class="govuk-label govuk-radios__label" for="sheperding-2">
              Shepherding livestock on moorland (remove stock for at least 4 months): UPL8
            </label>
            <div id="UPL8-hint" class="govuk-hint govuk-radios__hint">
              Payment rate per year: <strong>£43 per ha</strong>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sheperding-3" name="sheperding" type="radio" value="wales"  aria-describedby="UPL9-hint">
            <label class="govuk-label govuk-radios__label" for="sheperding-3">
              Shepherding livestock on moorland (remove stock for at least 6 months): UPL9
            </label>
            <div id="UPL9-hint" class="govuk-hint govuk-radios__hint">
              Payment rate per year: <strong>£45 per ha</strong>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sheperding-4" name="sheperding" type="radio" value="wales"  aria-describedby="UPL10-hint" checked>
            <label class="govuk-label govuk-radios__label" for="sheperding-4">
              Shepherding livestock on moorland (remove stock for at least 8 months): UPL10
            </label>
            <div id="UPL10-hint" class="govuk-hint govuk-radios__hint">
              Payment rate per year: <strong>£48 per ha</strong>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    {# <!-- UPL1 -->
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
      <label class="govuk-label govuk-checkboxes__label" for="contact-2">
        Moderate livestock grazing on moorland: UPL1
      </label>
      <div class="govuk-hint govuk-checkboxes__hint">
        Payment rate per year: <strong>£20.00 per ha</strong>
      </div>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-email">
          Quantity
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          32.0404 ha available
        </div>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">ha</div>
        </div>
      </div>
    </div>

    <!-- UPL2 -->
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
      <label class="govuk-label govuk-checkboxes__label" for="contact-3">
        Low livestock grazing on moorland: UPL2
      </label>
      <div class="govuk-hint govuk-checkboxes__hint">
        Payment rate per year: <strong>£53.00 per ha</strong>
      </div>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-email">
          Quantity
        </label>
        <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
          32.0404 ha available
        </div>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">ha</div>
        </div>
      </div>
    </div>

    <!-- UPL3 -->
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-4">
      <label class="govuk-label govuk-checkboxes__label" for="contact-4">
        Limited livestock grazing on moorland: UPL3
      </label>
      <div class="govuk-hint govuk-checkboxes__hint">
        Payment rate per year: <strong>£66.00 per ha</strong>
      </div>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-4">
      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-email">
          Quantity
        </label>
        <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
          32.0404 ha available
        </div>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">ha</div>
        </div>
      </div>
    </div>

    <!-- UPL4 -->
    <!-- not initially shown due to compatibility -->
    <!--            <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-5" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-5">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-5">
                    Keep cattle and ponies on moorland supplement (minimum 30% GLU): UPL4
                  </label>
                  <div class="govuk-hint govuk-checkboxes__hint">
                    Payment rate per year: <strong>£7.00 per ha</strong>
                  </div>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-5">
                   <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Quantity
                    </label>
                    <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      32.0404 ha available
                    </div>
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </div>
                </div>
    -->
    <!-- UPL5 -->
    <!-- not initially shown due to compatibility -->
    <!--            <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-6" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-6">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-6">
                    Keep cattle and ponies on moorland supplement (minimum 70% GLU): UPL5
                  </label>
                  <div class="govuk-hint govuk-checkboxes__hint">
                    Payment rate per year: <strong>£18.00 per ha</strong>
                  </div>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-6">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Quantity
                    </label>
                    <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      32.0404 ha available
                    </div>
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </div>
                </div>
    -->
    <!-- UPL6 -->
    <!-- not initially shown due to compatibility -->
    <!--            <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-7" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-7">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-7">
                    Keep cattle and ponies on moorland supplement (100% GLU): UPL6
                  </label>
                  <div class="govuk-hint govuk-checkboxes__hint">
                    Payment rate per year: <strong>£23.00 per ha</strong>
                  </div>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-7">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Quantity
                    </label>
                    <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      32.0404 ha available
                    </div>
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </div>
                </div>
    -->
    <!-- UPL7 -->
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="contact-8" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-8">
      <label class="govuk-label govuk-checkboxes__label" for="contact-8">
        Shepherding livestock on moorland (no required stock removal period): UPL7
      </label>
      <div class="govuk-hint govuk-checkboxes__hint">
        Payment rate per year: <strong>£33.00 per ha</strong>
      </div>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-8">
      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-email">
          Quantity
        </label>
        <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
          32.0404 ha available
        </div>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">ha</div>
        </div>
      </div>
    </div>

    <!-- UPL8 -->
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="contact-9" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-9">
      <label class="govuk-label govuk-checkboxes__label" for="contact-9">
        Shepherding livestock on moorland (remove stock for at least 4 months): UPL8
      </label>
      <div class="govuk-hint govuk-checkboxes__hint">
        Payment rate per year: <strong>£43.00 per ha</strong>
      </div>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-9">
      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-email">
          Quantity
        </label>
        <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
          32.0404 ha available
        </div>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">ha</div>
        </div>
      </div>
    </div>

    <!-- UPL9 -->
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="contact-10" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-10">
      <label class="govuk-label govuk-checkboxes__label" for="contact-10">
        Shepherding livestock on moorland (remove stock for at least 6 months): UPL9
      </label>
      <div class="govuk-hint govuk-checkboxes__hint">
        Payment rate per year: <strong>£45.00 per ha</strong>
      </div>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-10">
      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-email">
          Quantity
        </label>
        <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
          32.0404 ha available
        </div>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">ha</div>
        </div>
      </div>
    </div>

    <!-- UPL10 -->
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="contact-11" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-11">
      <label class="govuk-label govuk-checkboxes__label" for="contact-11">
        Shepherding livestock on moorland (remove stock for at least 8 months): UPL10
      </label>
      <div class="govuk-hint govuk-checkboxes__hint">
        Payment rate per year: <strong>£48.00 per ha</strong>
      </div>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-11">
      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-email">
          Quantity
        </label>
        <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
          32.0404 ha available
        </div>
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">ha</div>
        </div>
      </div>
    </div> #}

    <!-- SPM4 -->
    <!-- not initially shown due to compatibility -->
    <!--            <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-12" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-12">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-12">
                    Keep native breeds on extensively managed habitats supplement (50-80%): SPM4
                  </label>
                  <div class="govuk-hint govuk-checkboxes__hint">
                    Payment rate per year: <strong>£7.00 per ha</strong>
                  </div>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-12">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Quantity
                    </label>
                    <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      32.0404 ha available
                    </div>
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </div>
                </div>
    -->
    <!-- SPM5 -->
    <!-- not initially shown due to compatibility -->
    <!--            <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-13" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-13">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-13">
                    Keep native breeds on extensively managed habitats supplement (more than 80%): SPM5
                  </label>
                  <div class="govuk-hint govuk-checkboxes__hint">
                    Payment rate per year: <strong>£11.00 per ha</strong>
                  </div>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-13">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Quantity
                    </label>
                    <div id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
                      32.0404 ha available
                    </div>
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </div>
                </div>
    -->
  </div> <!-- all checkboxes -->
  </fieldset>
</div> <!-- form-group -->


<form action="select-supp-actions2" method="post">
  <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
    Continue
  </button>
</form>

{# <p>
  See <a href="https://www.gov.uk/find-funding-for-land-or-farms">Find funding for land or farms (opens in new tab)</a>
  for the full list of actions including the eligibility criteria for each.
</p> #}

{# <p><a href="">Go back and choose another parcel</a></p> #}
</div> <!-- 2/3 col -->
</div> <!-- grid-row -->

{% endblock %}
