{% extends "layouts/main-thread.html" %}

{% set pageName="Enter name for action" %}

{%- block beforeContent -%}

  {% include "_common/sub-header-alpha.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %} 

{% block content %}

<div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Enter the name for this agreement
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          This is for your own use, so choose you'll recognise later. For example 'All arable fields 2025'
        </div>
        <input class="govuk-input  govuk-input--width-20" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
      </div>

    <form class="form" action="check-agreement" method="post">
      <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
        Continue
      </button>
    </form>

    </div>
  </div>

{% endblock %}
