{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
    Public bodies
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {% include "_common/sub-header.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Public bodies</h1>
<p class="govuk-body">If you're a public body, you can apply for an SFI agreement. But you will not be paid for activities you're required to carry out as part of your statutory duties. You will not be paid for activities that are already funded by other sources either.</p>
<p class="govuk-body">Read the guidance about the <a href="https://www.gov.uk/government/publications/sustainable-farming-incentive-scheme-expanded-offer-for-2024/sfi-scheme-information-expanded-offer-for-2024#check-if-youre-eligible-to-apply">eligibility of public bodies</a>.</p>
<p class="govuk-body">If you're not a public body, or you're not a tenant on land owned by a public body, answer 'yes' to continue your application.</p>

<form class="form" action="/public-body-answer3" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
Do the actions you want to apply for fall outside of your statutory duties, and can you confirm they are not already funded by other sources?</h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="publicBodyAnswer-1" name="public-body-answer3" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="publicBodyAnswer-1">
                    Yes
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="publicBodyAnswer-2" name="public-body-answer3" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="publicBodyAnswer-2">
                    No
                  </label>
                </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>
  </div>


{% endblock %}
