{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 6 (application journey)</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Future application journey - V6: Mapping (continued)
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <p>During the last round of research, as detailed in the <a href="/v5-apply/_design-history">previous Design History</a>, several elements of the mapping design were observed to need usability improvements, 
      and so have been addressed in <a href="/v6-apply/select-land-map-leaflet">an updated version</a> as follows.</p>

    <h3 class="govuk-heading-m">Usability issues and fixes</h3>

    <h4 class="govuk-heading-s">Farm selection</h4>

    <p class="govuk-body">Selecting a farm did not remove the non-selected farm's name and details from view, which caused confusion. This has been corrected so that only the selected farm's information were displayed.</p>
    <p class="govuk-body">Also, guidance copy has been added to help the user understand how to use the map and desired actions in conjunction with each other.</p>

    <h4 class="govuk-heading-s">Parcel names and IDs</h4>

    <p class="govuk-body">Parcel IDs were not previously included. Thus could casuse issues for farmers if multiple parcels shared the same name, which was evidenced by some participants in research.
     Parcel IDs were therefore added to the parcel text links alongside parcel names to address this.</p>

    <h4 class="govuk-heading-s">Parcel list below the map</h4>

    <p class="govuk-body">The "show more parcels" link (conditional reveal) displayed a numeric value (e.g. "5 more"), which users found confusing. 
      This has been removed so the link simply indicates that additional parcels are available.</p>

    <h4 class="govuk-heading-s">Visibility of actions from previous agreements</h4>

    <p class="govuk-body">Users had difficulty locating actions from previous agreements, particularly when interacting with parcels on the map, resulting in excessive scrolling. 
      This was because some users didn't notiice the tabualr data below the map when their gaze was focused on the parcel within the map itself.
      <p>This was addressed by adding information about existing actions to the clickable popups for a parcel on the map.
      Space is limited within the popup, and increasing it's size hides neighbouring parcels, so only a summary of existing actions is provided there.
      A jump-link takes the user to the full details of the existing actions for that parcel (within the appropriate accordion section towards the foot of the page).
    </p>

    <h4 class="govuk-heading-s">Actions just added or from existing agreements</h4>

    <p class="govuk-body">Users were unclear about the distinction between parcels with actions from previous agreements and parcels updated in the current session. 
      This was fixed by increasing the size of the section headings, while decreasing the size of the parcels names within the sections.<br>
      This improved the visual hierarchy of the component, making section headings stand out in comparision to the content within them.</p>
      <p>A bespoke component heading (above the first section of the accordion), which isn't usually included in the standard accordion component, was also removed as it didn't appear to improve findability or understanding of the component for farmers.
        It may have also merely served to distract the user from the content section headings below it.</p>

     <h4 class="govuk-heading-s">Actions just added</h4>

    <p class="govuk-body">During the first scenariop of three in usability testing (first time use), some users didn't notice that
      the actions they'd just added to a parcel were now listed in the 'Actions just added' section below the 'Continue' button.
      Some instructional copy appears after the user has saved an action to help draw attention to this section, but this wasn't noticed by some users at first
    </p>
    <p class="govuk-body">To address this, the instruuctional copy had an 'inset text' style applied to it to make it more noticeable.
      If this proves successful in the next round of testing with farmers, it should in turn help them to locate the 'Actions just added' section more easily.
    </p>

    <h3 class="govuk-heading-m">'Check your answers' page
    </h3>
      <p class="govuk-body">This page was added to the design to allow users to review all the actions they have added before submitting their application.
        If they need to change anything they've just added from the map page, they click the 'Change' link which is horizontally aligned to the right of the parcel name. 
        If clicked, the user is taken back to the map page.
    </p>
    <p class="govuk-body">Once taken back to the map page, where the appropriate parcel is highlighted, the list of available actions is shown, the chosen actions are ticked and conditional revealed.
    The numeric value which the user entered is pre-populated. The farmer is then able to change their answers, and click 'Continue' to return to the 'Check your answers' page.</p>

  </div>
</div>

{% endblock %}
