{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 6 (application journey)</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Future application journey - V6: Mapping (continued)
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <p>The following elements were observed during research to need usability improvements, and have been addressed as follows.</p>

    <h3 class="govuk-heading-m">Usability issues identified and resolved</h3>

    <h4 class="govuk-heading-s">Farm selection</h4>

    <p class="govuk-body">Selecting a farm did not remove the non-selected farm's name and details from view, which caused confusion. This has been corrected so that only the selected farm's information were displayed.</p>
    <p class="govuk-body">Also, guidance copy has been added to help the user understand how to use the map and desired actions in conjunction with each other.</p>

    <h4 class="govuk-heading-s">Parcel names and IDs</h4>

    <p class="govuk-body">Parcel IDs were not previously included. Thus could casuse issues for farmers if multiple parcels shared the same name, which was evidenced by some participants in research.
     Parcel IDs were therefore added to the parcel text links alongside parcel names to address this.</p>

    <h4 class="govuk-heading-s">Parcel list below the map</h4>

    <p class="govuk-body">The "show more parcels" link (conditional reveal) displayed a numeric value (e.g. "5 more"), which users found confusing. 
      This has been removed so the link simply indicates that additional parcels are available.</p>

    <h4 class="govuk-heading-s">Visibility of actions from previous agreements</h4>

    <p class="govuk-body">Users had difficulty locating actions from previous agreements, particularly when interacting with parcels on the map, resulting in excessive scrolling. This was addressed by improving the discoverability of existing actions in relation to map interactions, without compromising map usability.</p>

    <h4 class="govuk-heading-s">Answers summary and previous agreement actions</h4>

    <p class="govuk-body">Users were unclear about the distinction between parcels with actions from previous agreements and parcels updated in the current session. The visual hierarchy within the accordion did not sufficiently emphasise section headings. This was resolved by strengthening the hierarchy so that section headings were clearly distinguishable from their content.</p>

  </div>
</div>

{% endblock %}
