{% extends "layouts/main-thread.html" %}

{% set pageName="Manage land based actions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">SFI Reform prototypes</a>
      </li>
    </ol>
  </nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Version 6 (Nov and Dec 2025)
      <span class="govuk-caption-l">Application</span>
    </h1>

    <!-- outline the scenario and purpose of the prototype -->
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p>View the <a href="_design-history">design history</a>.</p>


    <h2 class="govuk-heading-m">
     Mapping exploration
    </h2>
    <p>See design history for hypotheses, pain points, needs and approach.</p>
    <p><em>Usability testing took place on this prototype on wk/comm 1 Dec 25</em></p>

    <br>
    <a class="govuk-button" href="sign-in">Start prototype</a>
    

<!--
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link">View the design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>goals</li>
      <li>'How might we' statements</li>
      <li>hypotheses</li>
      <li>outcomes and decisions</li>
    </ul>
-->
   
{% endblock %}
