{% extends "layouts/main-thread.html" %}

{% block pageTitle %}
Available actions for selected parcel
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {% include "_common/sub-header.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

 <div class="govuk-grid-row" role="main">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Choose which actions to do</h1>

    <h2 class="govuk-heading-m">Chosen parcel</h2>

    <form action="add-more-actions" method="post">
    
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Parcel reference
          </dt>
          <dd class="govuk-summary-list__value">
            SO3757 3158
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="select-land">Change<span class="govuk-visually-hidden"> Parcel reference</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Total size
          </dt>
          <dd class="govuk-summary-list__value">
            32.0404 ha
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Land cover
          </dt>
          <dd class="govuk-summary-list__value">
            Moorland
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Layer Intersections: 
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
        </div>
      </dl>
      

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

        <br>
     <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Available actions</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Select</td>
      <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell">Available</td>
      <td class="govuk-table__cell">Quantity</td>
      <td class="govuk-table__cell">Unit</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Assess moorland and produce a written record: CMOR1</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Moderate livestock grazing on moorland: UPL1</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Low livestock grazing on moorland: UPL2</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Limited livestock grazing on moorland: UPL3</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Keep cattle and ponies on moorland supplement (minimum 30% GLU): UPL4</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Keep cattle and ponies on moorland supplement (minimum 70% GLU): UPL5</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Keep cattle and ponies on moorland supplement (100% GLU): UPL6</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Shepherding livestock on moorland (no required stock removal period): UPL7</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Shepherding livestock on moorland (remove stock for at least 4 months): UPL8:</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Shepherding livestock on moorland (remove stock for at least 6 months): UPL9</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Shepherding livestock on moorland (remove stock for at least 8 months): UPL10</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Keep native breeds on extensively managed habitats supplement (50-80%): SPM4</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">Keep native breeds on extensively managed habitats supplement (more than 80%): SPM5</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div>
      </td>
      <td class="govuk-table__cell">ha</td>
    </tr>
  </tbody>
</table>

          <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
            Continue
         </button>

         {# <p><a href="">Go back and choose another parcel</a></p> #}
        


    </form>

    </div>
  </div>

{% endblock %}
