{% set serviceName = "Apply for a grasslands agreement" %}
{% set serviceUrl = "/sfi-grasslands-dev-ready/task-list" %}
{% extends "layouts/sfi-grasslands-dev-ready-header.html" %}

{% block pageTitle %}
  Confirm and submit your application
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "sfi-grasslands-dev-ready/_includes/account-bar.html" %}

  {{ govukBackLink({
    text: "Back to task list",
    href: "/sfi-grasslands-dev-ready/task-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      {% set journeySection = "Review and submit your application" %}
      {% include "sfi-grasslands-dev-ready/_includes/journey-caption.html" %}
      <h1 class="govuk-heading-l">
        Confirm and submit your application
      </h1>

      <p class="govuk-body">
        By submitting your application, you confirm that:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the information in your application is correct</li>
        {% if requiresSssi %}
          <li>you will get consent for actions involving sites of special scientific interest (SSSI)</li>
        {% endif %}
        {% if requiresHefer %}
          <li>you will request a Historic Environment Farm Environment Record (HEFER) if required</li>
        {% endif %}
        <li>you have management control of the land for the required period</li>
        <li>you will meet the requirements for the Grasslands actions you have applied for</li>
      </ul>

      <p class="govuk-body">
        It’s your responsibility to check that land (including landscape features) is eligible for your Grasslands actions. Payments may be reduced if the RPA finds ineligible land, features or incompatible actions.
      </p>

      <p class="govuk-body">
        If you’ve applied for Grasslands actions on land that has a conditional exemption from Inheritance Tax, you will not be paid for activities which duplicate, or conflict with, your undertakings under that exemption.
      </p>

      <p class="govuk-body">
        If you’ve applied for Grasslands actions on land owned by a public body, you will not be paid for activities which conflict with, or duplicate, the public body’s statutory duties.
      </p>

      <p class="govuk-body">
        You must make sure that you have management control of the land for the duration of the actions.
      </p>

      <form class="form" action="/sfi-grasslands-dev-ready/confirmation" method="post">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          I agree – submit my application
        </button>
      </form>
    </div>
  </div>
{% endblock %}
