{% extends "layouts/main-thread.html" %}

{% set pageName="Manage land based actions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
      </li>
    </ol>
  </nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Version 3 (July 2024)
      <span class="govuk-caption-l">Application</span>
    </h1>

    <!-- outline the scenario and purpose of the prototype -->
    <p>Following a Policy steer on the available actions for Private Beta Day 1 and collaboration between the Design and Development teams, it was decided that the  (<a href="/v2-apply/select-land-parcel-1">previous design for the actions screen</a>) would impact the user experience by requiring asynchronous javascript to update the available area calculation on each action within a parcel as the user selected options on the screen. This works against the established standard of <a href="https://www.gov.uk/service-manual/technology/using-progressive-enhancement">progressive enhancement for users</a>.</p>
    <p>Therefore, we stripped back the design approach to the more traditional ‘one thing per page’ approach to ensure the design was the most accessible, predictable and flexible (ie able to flex to new policy requirements): https://fcp-future-rps-93c8d625018a.herokuapp.com/v3-apply/select-base-action We combined this with an adaption (based on evidenced user needs) of a tried and testing design pattern from HMRC called ‘Add to a list’ to enable the user to <a href="/v3-apply/add-more-actions">add/remove or change actions as desired</a>.</p>

    <p><em>Usability testing started wk/comm 7 July 25</em></p>

    <a class="govuk-button" href="sign-in">Start prototype</a>

<!--
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link">View the design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>goals</li>
      <li>'How might we' statements</li>
      <li>hypotheses</li>
      <li>outcomes and decisions</li>
    </ul>
-->
   
{% endblock %}
