{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Manage land-based actions
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Submit your application
      </h1>
      <p>By submitting the application you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the information you have provided is correct to the best of your knowledge</li>
        <li>you have read, understood and agree to the <a href="">terms and conditions (opens in new tab)</a></li>
        <li>you will complete the actions you have selected</li>
        <li>
          you will submit an annual declaration to confirm you have complied, or expect to have complied, with the requirements
          of the actions you have selected for that year - the Rural Payments Agency will contact you when you need to do this
        </li>
      </ul>

      <form class="form" action="../v1-agree/offer" method="post">
        <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
          Submit
        </button>
      </form>
    </div>
  </div>

{% endblock %}
