{% extends "layouts/main-fetf.html" %}

{% block pageTitle %} Will you store the equipment at the main business address? {% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner_alpha.html" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}


{% block content %}

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="show-items" method="post">

      <span class="govuk-caption-l">Apply</span>
     


              <h1 class="govuk-heading-l">
                Select the item you would like a grant for
              </h1>

              <h2 class="govuk-heading-m">Arable</h2>

<h3 class="govuk-heading-2"><a href="fertiliser-applicator3" class="govuk-link">FETF205 - Direct drill 4m</a></h3>

<p>Expected average cost of item (£): 35,690<br>
Percentage paid towards item: 50%<br>
Grant amount (based on a quantity of 1) (£): 17,845<br>
Score: 59</p>

<h3 class="govuk-heading-2"><a href="fertiliser-applicator3" class="govuk-link">FETF205 - Direct drill 4m</a></h3>

<p>Expected average cost of item (£): 35,690<br>
Percentage paid towards item: 50%<br>
Grant amount (based on a quantity of 1) (£): 17,845<br>
Score: 59</p>

<h3 class="govuk-heading-2"><a href="fertiliser-applicator3" class="govuk-link">FETF205 - Direct drill 4m</a></h3>

<p>Expected average cost of item (£): 35,690<br>
Percentage paid towards item: 50%<br>
Grant amount (based on a quantity of 1) (£): 17,845<br>
Score: 59</p>

<h3 class="govuk-heading-2"><a href="fertiliser-applicator3" class="govuk-link">FETF205 - Direct drill 4m</a></h3>

<p>Expected average cost of item (£): 35,690<br>
Percentage paid towards item: 50%<br>
Grant amount (based on a quantity of 1) (£): 17,845<br>
Score: 59</p>

<h3 class="govuk-heading-2"><a href="fertiliser-applicator3" class="govuk-link">FETF205 - Direct drill 4m</a></h3>

<p>Expected average cost of item (£): 35,690<br>
Percentage paid towards item: 50%<br>
Grant amount (based on a quantity of 1) (£): 17,845<br>
Score: 59</p>



                






      <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    <a  class="govuk-link" href="#">Skip</a>
</div>
    </form>

  </div>

</div>



</main>

{% endblock %}