{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 4 (application journey)</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Future Facing application journey - Version 4
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Applications with large numbers of parcels and actions - speed, complexity, usability, error rates...</h2>

    <h3 class="govuk-heading-s">The problem</h3>
    <p>The <a href="https://fcp-combined-offer-144beafe3ff7.herokuapp.com/sfi-private-beta/select-actions">current SFI process</a> (password: farming) for adding actions to parcels is complex, time consuming and doesn't match a farmer's mental model.<br>
        This has resulted in: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>farmers paying agents to help them apply</li>
        <li>invalid applications being made</li>
        <li>some farmers avoiding applying altogether as it is a barrier</li>
      </ul>

       <h3 class="govuk-heading-s">Product Owner hypotheses</h3>
       <p>Our Product Owner hypothesised that it may be possible to reduce completion time for SFI applications which involved large numbers of actions and parcels by exploring:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>giving the user the choice of choosing either actions, or parcels first.</li>
          <li>allowing multiple actions to be added to the same parcel at once, and vice versa.</li>
          <li>enabling bulk actions such as 'select all' and quickly applying (for example) the whole available area to chosen land parcels for actions.</li>
        </ul>

        <h2 class="govuk-heading-m">Design approach</h2>

        <h3 class="govuk-heading-s">Iteration 1 - ideation and formative evaluation with farmers</h3>

        <p>All of the foundational and ideation work can be found <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1755084655571/a617414b56f60e41185e36c150d4b06c293f2885?wid=0-1756368398081">on this Mural board.</a></p>

        <h4 class="govuk-heading-s">Foundational assumptions</h4>

        <p>We approached the ideation work with the following assumptions:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Users have decided which actions to apply to which parcels in advance</li>
          <li>Users plan by parcel first, then consider actions for that parcel</li>
          <li>Users prefer to select parcels first and then apply actions second</li>
          <li>Users would like to add one or more actions to one or more parcels</li>
          <li>Users are visual workers and think in terms of fields</li>
          <li>Actions with different ambition levels can be grouped together</li>
        </ul>

        <h4 class="govuk-heading-s">Research and data analysis</h4>

        <p>We reviewed previous research findings and analysed land model data to understand how actions are classified by land use types, land types, and other aspects.</p>

        <p>The land model data revealed the different actions within SFI and their relationship to land cover type, land cover class, and land use.</p>

        <p>This analysis provided an indication of classifications for finding actions and the scale of certain categories users would encounter when searching for actions. 
          As part of the foundational design research, we examined existing patterns from tools such as 'Find funding for land or farms', including search functionality, categorisations, filters, and jump tags for navigating large lists of items. We also explored different models for applying actions to parcels, including one action to many parcels, one parcel to many actions, and variations of these approaches.</p>

        <h4 class="govuk-heading-s">"How might we" statements</h4>

        <ul class="govuk-list govuk-list--bullet">
          <li>How might we make it quick and easy to apply one or more actions to one or more parcels?</li>
          <li>How might we display large lists in a useable way?</li>
          <li>How might we allow a farmer to choose their preferred action when more than one option is available?</li>
          <li>How might we enable users to review the actions and parcels they have added?</li>
          <li>How might we enable users to edit the actions and parcels they have added?</li>
        </ul>

        <h4 class="govuk-heading-s">High-level user journeys</h4>

        <p>We sketched high-level user journeys mapping user actions, such as viewing and selecting actions from a list, alongside the backend processes that would filter options based on existing land data, perform available area calculations, and automate tasks on behalf of the user.</p>

        <p>Using swim lane diagrams, we documented the components that would be used on specific pages as users progress through the journey—from filtering and choosing actions to selecting parcels.</p>

        <p>We developed four different user journey variations based on whether users select actions first or parcels first, including single actions to many parcels, many parcels to single actions, and other permutations.</p>

        <p>These journeys were mapped at a high level, and the team evaluated the comparative merits and drawbacks of each approach.</p>

        <h4 class="govuk-heading-s">Screen design exploration</h4>

        <p>Building on the high-level user journeys, we sketched screen designs using GOV.UK components on Mural. We explored methods to optimise how users find actions from a long list:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Categorisation of actions using headings within a long list</li>
          <li>Search functionality to improve findability when users know which action they require</li>
          <li>Jump tags linked to action categories to enable rapid navigation</li>
          <li>'Select all' functionality to enable users to quickly select all items on a page</li>
          <li>Bulk selection capability allowing users to select all parcels from a long list without individual selection</li>
        </ul>

        <h4 class="govuk-heading-s">Data requirements exploration</h4>

        <p>We examined the data items related to actions and parcels to determine what information would help users make informed decisions:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Payment rates for actions</li>
          <li>Total size of the parcel</li>
          <li>Total available area of the parcel</li>
          <li>Whether SSSI features were present on the parcel</li>
        </ul>

        <h4 class="govuk-heading-s">Bulk actions and compliance considerations</h4>

        <p>We explored the feasibility of allowing users to apply a particular area measurement to multiple selected parcels simultaneously, rather than entering the value individually for each parcel. For example, if users wished to apply the whole available area to all selected parcels, the system could enable bulk application of this value across all selections.</p>

        <p>Research questions to be explored with farmers and RPA colleagues included:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Whether this functionality would be practical for farmers' working practices</li>
          <li>Whether this capability is desirable for farmers when applying actions to multiple parcels</li>
          <li>Whether this approach is permissible from a policy and compliance perspective</li>
          <li>Whether RPA processors viewing bulk-applied figures might perceive insufficient due diligence in application completion</li>
        </ul>

         <h4 class="govuk-heading-s">Findings from user research</h4>

         <p>We showed farmers <a hef="https://app.mural.co/t/coredefra2548/m/coredefra2548/1755084655571/a617414b56f60e41185e36c150d4b06c293f2885?wid=0-1757334455678">4 different scenarios</a>, using Mural for lightweight and cheap exploration of UI approaches for quickly applying when using lots of parcels. They were:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>A single action that uses all the available area across 40 parcels</li>
            <li>A single action which uses part of the available area for 10 parcels</li>
            <li>A single action that has multiple levels (high, medium, low) for 50 parcels</li>
            <li>A single action that has a supplemental action(s) on 20 parcels</li>
          </ul>

        <h3 class="govuk-heading-s">Iteration 2 - iteration of design, prototyping and usability testing with farmers</h3>

        <p>Based on the findings from the first round of user research, we iterated the designs and prototyped it so we could conduct a second round of usability testing with farmers.</p>

        <ol class="govuk-list govuk-list--number">
          <li>Farmer/agent chooses Legume fallow: CNUM3, and applies it to 66 parcels. They want to apply this action to a specific amount of each parcel (this action can be applied to all, or part, of a parcel). (This will test whether the user understands how to add part of the available area to an action)</li>
          <li>From review page, go to add another action: Choose 'Manage grassland to reduce nutrient levels in groundwater: WBD8' and apply it to 83 parcels (this will take user to the basket, so we can test their understanding of that flow)</li>
          <li>From basket go to add another action: Choose 'Herbal leys: CSAM3' (a total or part area), apply it to 22 parcels, and ask to bulk add total available area to all eligible land parcels. Continue through to basket. (this will test ability to add many actions to many land parcels in bulk)</li>
          <li>From review page, new task: they have made a mistake and instead they now want the only original action Legume fallow: CNUM3 - this time added to all the available area of the original 10 parcels. (this will test whether they can clear their basket, return to actions page and go through the flow of adding action to all available area of the parcels)</li>
        </ol>

        <h2 class="govuk-heading-m">Next steps</h2>

        <p>Based on the findings from the second round of user research, we will further refine the designs and prototype. The next steps include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>-</li>
          <li>-</li>
          <li>-</li>
        </ul>

  </div>
</div>

{% endblock %}
