{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Choose how much land to do this action on
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row" role="main">
        <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Choose how much land to do this action on
            </h1>
          </legend>

          <p class="govuk-body">The amount of land entered must be equal to or less than the available area in the land parcel.</p>

          </fieldset>
        </div>
      </div>

        <div class="govuk-grid-column-full">

          <div class="govuk-form-group">
            <div style="display: flex; justify-content: flex-start;">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="min-width: 155px;">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="select-all" name="selectAll" type="checkbox" value="select-all">
                  <label class="govuk-label govuk-checkboxes__label" for="select-all">
                    Select all
                  </label>
                </div>
              </div>
              <div>
                <button type="button" class="govuk-button govuk-button--secondary" style="margin-bottom: 0;" id="apply-all-available" data-module="govuk-button">
                  Apply all available area
                </button>
              </div>
            </div>
          </div>

          <div class="govuk-form-group">
            <table class="govuk-table" role="table" aria-label="Land parcels selection and area input">
              <caption class="govuk-table__caption govuk-visually-hidden">
                Select land parcels and enter the amount of area to apply the action to. Each row shows a land parcel with its total size, available area, and an input field for the amount you want to enter.
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 60px;" aria-label="Select parcel">Select</th>
                  <th scope="col" class="govuk-table__header">Land parcel</th>
                  <th scope="col" class="govuk-table__header">Total size (ha)</th>
                  <th scope="col" class="govuk-table__header">Available area (ha)</th>
                  <th scope="col" class="govuk-table__header">Amount to enter</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3160" name="selectedParcels" type="checkbox" value="SO3757-3160">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3160">
                          <span class="govuk-visually-hidden">Select SO3757 3160</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3160</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">1.4935</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">1.4935</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3160" name="amount-3160" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3166" name="selectedParcels" type="checkbox" value="SO3757-3166">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3166">
                          <span class="govuk-visually-hidden">Select SO3757 3166</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3166</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">32.0404</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">29.7682</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3166" name="amount-3166" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3167" name="selectedParcels" type="checkbox" value="SO3757-3167">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3167">
                          <span class="govuk-visually-hidden">Select SO3757 3167</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3167</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">10.3492</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">10.3492</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3167" name="amount-3167" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3171" name="selectedParcels" type="checkbox" value="SO3757-3171">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3171">
                          <span class="govuk-visually-hidden">Select SO3757 3171</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3171</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">1.4935</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">1.4935</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3171" name="amount-3171" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3174" name="selectedParcels" type="checkbox" value="SO3757-3174">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3174">
                          <span class="govuk-visually-hidden">Select SO3757 3174</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3174</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">32.0404</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">29.7682</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3174" name="amount-3174" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3175" name="selectedParcels" type="checkbox" value="SO3757-3175">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3175">
                          <span class="govuk-visually-hidden">Select SO3757 3175</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3175</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">10.3492</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">10.3492</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3175" name="amount-3175" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3176" name="selectedParcels" type="checkbox" value="SO3757-3176">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3176">
                          <span class="govuk-visually-hidden">Select SO3757 3176</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3176</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">1.4935</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">1.4935</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3176" name="amount-3176" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3179" name="selectedParcels" type="checkbox" value="SO3757-3179">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3179">
                          <span class="govuk-visually-hidden">Select SO3757 3179</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3179</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">32.0404</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">29.7682</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3179" name="amount-3179" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3180" name="selectedParcels" type="checkbox" value="SO3757-3180">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3180">
                          <span class="govuk-visually-hidden">Select SO3757 3180</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3180</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">10.3492</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">10.3492</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3180" name="amount-3180" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3181" name="selectedParcels" type="checkbox" value="SO3757-3181">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3181">
                          <span class="govuk-visually-hidden">Select SO3757 3181</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3181</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">1.4935</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">1.4935</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3181" name="amount-3181" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3182" name="selectedParcels" type="checkbox" value="SO3757-3182">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3182">
                          <span class="govuk-visually-hidden">Select SO3757 3182</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3182</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">25.6543</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">23.4321</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3182" name="amount-3182" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3183" name="selectedParcels" type="checkbox" value="SO3757-3183">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3183">
                          <span class="govuk-visually-hidden">Select SO3757 3183</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3183</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">8.7654</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">8.7654</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3183" name="amount-3183" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3184" name="selectedParcels" type="checkbox" value="SO3757-3184">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3184">
                          <span class="govuk-visually-hidden">Select SO3757 3184</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3184</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">2.3456</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">2.3456</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3184" name="amount-3184" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3185" name="selectedParcels" type="checkbox" value="SO3757-3185">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3185">
                          <span class="govuk-visually-hidden">Select SO3757 3185</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3185</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">18.9012</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">16.7890</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3185" name="amount-3185" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3186" name="selectedParcels" type="checkbox" value="SO3757-3186">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3186">
                          <span class="govuk-visually-hidden">Select SO3757 3186</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3186</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">12.5678</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">12.5678</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3186" name="amount-3186" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3187" name="selectedParcels" type="checkbox" value="SO3757-3187">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3187">
                          <span class="govuk-visually-hidden">Select SO3757 3187</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3187</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">5.4321</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">5.4321</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3187" name="amount-3187" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3188" name="selectedParcels" type="checkbox" value="SO3757-3188">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3188">
                          <span class="govuk-visually-hidden">Select SO3757 3188</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3188</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">28.7654</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">25.3210</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3188" name="amount-3188" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3189" name="selectedParcels" type="checkbox" value="SO3757-3189">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3189">
                          <span class="govuk-visually-hidden">Select SO3757 3189</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3189</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">14.2345</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">14.2345</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3189" name="amount-3189" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3190" name="selectedParcels" type="checkbox" value="SO3757-3190">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3190">
                          <span class="govuk-visually-hidden">Select SO3757 3190</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3190</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">7.6543</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">7.6543</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3190" name="amount-3190" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3191" name="selectedParcels" type="checkbox" value="SO3757-3191">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3191">
                          <span class="govuk-visually-hidden">Select SO3757 3191</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3191</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">20.1234</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">18.9012</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3191" name="amount-3191" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3192" name="selectedParcels" type="checkbox" value="SO3757-3192">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3192">
                          <span class="govuk-visually-hidden">Select SO3757 3192</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3192</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">9.8765</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">9.8765</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3192" name="amount-3192" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr>
                {# <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="parcel-3182" name="selectedParcels" type="checkbox" value="SO3757-3182">
                        <label class="govuk-label govuk-checkboxes__label" for="parcel-3182">
                          <span class="govuk-visually-hidden">Select SO3757 3182</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">SO3757 3182</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">32.0404</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">29.7682</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-10" id="amount-3182" name="amount-3182" type="text" spellcheck="false">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                  </td>
                </tr> #}
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>

      </div>

        <form class="govuk-form" action="add-more-actions3" method="post">

          <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                  Continue
                </button>
                <a class="govuk-link" href="#">Clear all</a>
          </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var selectAllCheckbox = document.getElementById('select-all');
    var parcelCheckboxes = document.querySelectorAll('input[name="selectedParcels"]');
    var applyAllAvailableButton = document.getElementById('apply-all-available');
    var cancelLink = document.querySelector('.govuk-button-group .govuk-link');
    
    selectAllCheckbox.addEventListener('change', function() {
      var isChecked = this.checked;
      parcelCheckboxes.forEach(function(checkbox) {
        checkbox.checked = isChecked;
      });
    });
    
    parcelCheckboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        var allSelected = Array.from(parcelCheckboxes).every(function(cb) {
          return cb.checked;
        });
        
        selectAllCheckbox.checked = allSelected;
        selectAllCheckbox.indeterminate = !allSelected && Array.from(parcelCheckboxes).some(function(cb) {
          return cb.checked;
        });
      });
    });
    
    applyAllAvailableButton.addEventListener('click', function() {
      var tableRows = document.querySelectorAll('tbody tr');
      
      tableRows.forEach(function(row) {
        var checkbox = row.querySelector('input[name="selectedParcels"]');
        
        if (checkbox && checkbox.checked) {
          var availableAreaCell = row.children[3];
          var availableArea = availableAreaCell.textContent.trim();
          var inputField = row.querySelector('input[type="text"]');
          
          if (inputField) {
            inputField.value = availableArea;
          }
        }
      });
    });
    
    if (cancelLink) {
      cancelLink.addEventListener('click', function(e) {
        e.preventDefault();
        
        var allInputFields = document.querySelectorAll('.govuk-input');
        allInputFields.forEach(function(input) {
          input.value = '';
        });
        
        selectAllCheckbox.checked = false;
        parcelCheckboxes.forEach(function(checkbox) {
          checkbox.checked = false;
        });
      });
    }
  });
</script>
{% endblock %}
