{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Select land parcel
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select land parcel for actions
            </h1>
          </legend>

           <div id="parcel-hint" class="govuk-hint">
            Use your map to check these reference numbers against your parcels of land.
          </div> <br>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="select-all" name="selectAll" type="checkbox" value="select-all">
              <label class="govuk-label govuk-checkboxes__label" for="select-all">
                Select all
              </label>
            </div>
          </div>
            <br>
            <br>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-1" name="selectedParcels" type="checkbox" value="SO3757-3158" aria-describedby="parcel-1-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-1">
                SO3757 3158
              </label>
              <div id="parcel-1-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 32.0404 ha<br>
                Total available area: 32.0404 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-2" name="selectedParcels" type="checkbox" value="SO3757-3159" aria-describedby="parcel-2-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-2">
                SO3757 3159
              </label>
              <div id="parcel-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size 32.0404ha<br>
                Total available area: 32.0404 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-3" name="selectedParcels" type="checkbox" value="SO3757-3160" aria-describedby="parcel-3-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-3">
                SO3757 3160
              </label>
              <div id="parcel-3-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 1.4935 ha<br>
                Total available area: 1.4935 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-4" name="selectedParcels" type="checkbox" value="SO3757-3161" aria-describedby="parcel-4-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-4">
                SO3757 3161
              </label>
              <div id="parcel-4-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 15.2350 ha<br>
                Total available area: 15.2350 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-5" name="selectedParcels" type="checkbox" value="SO3757-3162" aria-describedby="parcel-5-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-5">
                SO3757 3162
              </label>
              <div id="parcel-5-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 7.8945 ha<br>
                Total available area: 7.8945 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-6" name="selectedParcels" type="checkbox" value="SO3757-3163" aria-describedby="parcel-6-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-6">
                SO3757 3163
              </label>
              <div id="parcel-6-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 12.6789 ha<br>
                Total available area: 12.6789 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-7" name="selectedParcels" type="checkbox" value="SO3757-3164" aria-describedby="parcel-7-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-7">
                SO3757 3164
              </label>
              <div id="parcel-7-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 5.4321 ha<br>
                Total available area: 5.4321 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-8" name="selectedParcels" type="checkbox" value="SO3757-3165" aria-describedby="parcel-8-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-8">
                SO3757 3165
              </label>
              <div id="parcel-8-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 23.7654 ha<br>
                Total available area: 23.7654 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-9" name="selectedParcels" type="checkbox" value="SO3757-3166" aria-describedby="parcel-9-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-9">
                SO3757 3166
              </label>
              <div id="parcel-9-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 9.8765 ha<br>
                Total available area: 9.8765 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-10" name="selectedParcels" type="checkbox" value="SO3757-3167" aria-describedby="parcel-10-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-10">
                SO3757 3167
              </label>
              <div id="parcel-10-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 18.3456 ha<br>
                Total available area: 18.3456 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-11" name="selectedParcels" type="checkbox" value="SO3757-3168" aria-describedby="parcel-11-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-11">
                SO3757 3168
              </label>
              <div id="parcel-11-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 4.2135 ha<br>
                Total available area: 4.2135 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-12" name="selectedParcels" type="checkbox" value="SO3757-3169" aria-describedby="parcel-12-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-12">
                SO3757 3169
              </label>
              <div id="parcel-12-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 26.9876 ha<br>
                Total available area: 26.9876 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-13" name="selectedParcels" type="checkbox" value="SO3757-3170" aria-describedby="parcel-13-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-13">
                SO3757 3170
              </label>
              <div id="parcel-13-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 11.5432 ha<br>
                Total available area: 11.5432 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-14" name="selectedParcels" type="checkbox" value="SO3757-3171" aria-describedby="parcel-14-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-14">
                SO3757 3171
              </label>
              <div id="parcel-14-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 6.7890 ha<br>
                Total available area: 6.7890 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-15" name="selectedParcels" type="checkbox" value="SO3757-3172" aria-describedby="parcel-15-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-15">
                SO3757 3172
              </label>
              <div id="parcel-15-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 19.1234 ha<br>
                Total available area: 19.1234 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-16" name="selectedParcels" type="checkbox" value="SO3757-3173" aria-describedby="parcel-16-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-16">
                SO3757 3173
              </label>
              <div id="parcel-16-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 3.6789 ha<br>
                Total available area: 3.6789 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-17" name="selectedParcels" type="checkbox" value="SO3757-3174" aria-describedby="parcel-17-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-17">
                SO3757 3174
              </label>
              <div id="parcel-17-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 14.8765 ha<br>
                Total available area: 14.8765 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-18" name="selectedParcels" type="checkbox" value="SO3757-3175" aria-describedby="parcel-18-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-18">
                SO3757 3175
              </label>
              <div id="parcel-18-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 8.2143 ha<br>
                Total available area: 8.2143 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-19" name="selectedParcels" type="checkbox" value="SO3757-3176" aria-describedby="parcel-19-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-19">
                SO3757 3176
              </label>
              <div id="parcel-19-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 21.5678 ha<br>
                Total available area: 21.5678 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-20" name="selectedParcels" type="checkbox" value="SO3757-3177" aria-describedby="parcel-20-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-20">
                SO3757 3177
              </label>
              <div id="parcel-20-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 10.9876 ha<br>
                Total available area: 10.9876 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-21" name="selectedParcels" type="checkbox" value="SO3757-3178" aria-describedby="parcel-21-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-21">
                SO3757 3178
              </label>
              <div id="parcel-21-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 16.4321 ha<br>
                Total available area: 16.4321 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-22" name="selectedParcels" type="checkbox" value="SO3757-3179" aria-describedby="parcel-22-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-22">
                SO3757 3179
              </label>
              <div id="parcel-22-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 2.7654 ha<br>
                Total available area: 2.7654 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-23" name="selectedParcels" type="checkbox" value="SO3757-3180" aria-describedby="parcel-23-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-23">
                SO3757 3180
              </label>
              <div id="parcel-23-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 13.1098 ha<br>
                Total available area: 13.1098 ha
              </div>
            </div>
          </div> <!-- checkbox group -->
        </fieldset>
      </div> <!-- form group -->
      <p>
        You will be able to add actions to the other land parcels before submitting your application.
      </p>

      <div class="govuk-button-group">
        <form class="govuk-form" action="add-area3" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

        <!-- not for day 1
        <form class="govuk-form" action="save-and-return" method="post">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and return later
          </button>
        </form> -->
      </div> <!-- buttons -->
    </div> <!-- 2/3 col -->
  </div> <!-- grid-row -->

{% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var selectAllCheckbox = document.getElementById('select-all');
    var parcelCheckboxes = document.querySelectorAll('input[name="selectedParcels"]');
    
    // Handle select all checkbox
    selectAllCheckbox.addEventListener('change', function() {
      var isChecked = this.checked;
      parcelCheckboxes.forEach(function(checkbox) {
        checkbox.checked = isChecked;
      });
    });
    
    // Handle individual parcel checkboxes
    parcelCheckboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        // Check if all individual checkboxes are selected
        var allSelected = Array.from(parcelCheckboxes).every(function(cb) {
          return cb.checked;
        });
        
        // Update select all checkbox state
        selectAllCheckbox.checked = allSelected;
        selectAllCheckbox.indeterminate = !allSelected && Array.from(parcelCheckboxes).some(function(cb) {
          return cb.checked;
        });
      });
    });
  });
</script>
{% endblock %}
