{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Select land parcel
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select land parcel for actions
            </h1>
          </legend>

           <div id="parcel-hint" class="govuk-hint">
            Use your map to check these reference numbers against your parcels of land.
          </div> <br>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="select-all" name="selectAll" type="checkbox" value="select-all">
              <label class="govuk-label govuk-checkboxes__label" for="select-all">
                Select all
              </label>
            </div>
          </div>
            <br>
            <br>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-1" name="selectedParcels" type="checkbox" value="SO3757-3158" aria-describedby="parcel-1-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-1">
                SO3757 3158
              </label>
              <div id="parcel-1-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 32.0404 ha<br>
                Total available area: 32.0404 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-2" name="selectedParcels" type="checkbox" value="SO3757-3159" aria-describedby="parcel-2-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-2">
                SO3757 3159
              </label>
              <div id="parcel-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size 32.0404ha<br>
                Total available area: 32.0404 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-3" name="selectedParcels" type="checkbox" value="SO3757-3160" aria-describedby="parcel-3-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-3">
                SO3757 3160
              </label>
              <div id="parcel-3-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 1.4935 ha<br>
                Total available area: 1.4935 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-4" name="selectedParcels" type="checkbox" value="SO3757-3161" aria-describedby="parcel-4-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-4">
                SO3757 3161
              </label>
              <div id="parcel-4-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 15.2350 ha<br>
                Total available area: 15.2350 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-5" name="selectedParcels" type="checkbox" value="SO3757-3162" aria-describedby="parcel-5-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-5">
                SO3757 3162
              </label>
              <div id="parcel-5-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 7.8945 ha<br>
                Total available area: 7.8945 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-6" name="selectedParcels" type="checkbox" value="SO3757-3163" aria-describedby="parcel-6-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-6">
                SO3757 3163
              </label>
              <div id="parcel-6-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 12.6789 ha<br>
                Total available area: 12.6789 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-7" name="selectedParcels" type="checkbox" value="SO3757-3164" aria-describedby="parcel-7-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-7">
                SO3757 3164
              </label>
              <div id="parcel-7-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 5.4321 ha<br>
                Total available area: 5.4321 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-8" name="selectedParcels" type="checkbox" value="SO3757-3165" aria-describedby="parcel-8-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-8">
                SO3757 3165
              </label>
              <div id="parcel-8-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 23.7654 ha<br>
                Total available area: 23.7654 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-9" name="selectedParcels" type="checkbox" value="SO3757-3166" aria-describedby="parcel-9-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-9">
                SO3757 3166
              </label>
              <div id="parcel-9-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 9.8765 ha<br>
                Total available area: 9.8765 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-10" name="selectedParcels" type="checkbox" value="SO3757-3167" aria-describedby="parcel-10-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-10">
                SO3757 3167
              </label>
              <div id="parcel-10-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 18.3456 ha<br>
                Total available area: 18.3456 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-11" name="selectedParcels" type="checkbox" value="SO3757-3168" aria-describedby="parcel-11-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-11">
                SO3757 3168
              </label>
              <div id="parcel-11-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 4.2135 ha<br>
                Total available area: 4.2135 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-12" name="selectedParcels" type="checkbox" value="SO3757-3169" aria-describedby="parcel-12-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-12">
                SO3757 3169
              </label>
              <div id="parcel-12-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 26.9876 ha<br>
                Total available area: 26.9876 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-13" name="selectedParcels" type="checkbox" value="SO3757-3170" aria-describedby="parcel-13-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-13">
                SO3757 3170
              </label>
              <div id="parcel-13-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 11.5432 ha<br>
                Total available area: 11.5432 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-14" name="selectedParcels" type="checkbox" value="SO3757-3171" aria-describedby="parcel-14-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-14">
                SO3757 3171
              </label>
              <div id="parcel-14-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 6.7890 ha<br>
                Total available area: 6.7890 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-15" name="selectedParcels" type="checkbox" value="SO3757-3172" aria-describedby="parcel-15-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-15">
                SO3757 3172
              </label>
              <div id="parcel-15-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 19.1234 ha<br>
                Total available area: 19.1234 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-16" name="selectedParcels" type="checkbox" value="SO3757-3173" aria-describedby="parcel-16-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-16">
                SO3757 3173
              </label>
              <div id="parcel-16-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 3.6789 ha<br>
                Total available area: 3.6789 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-17" name="selectedParcels" type="checkbox" value="SO3757-3174" aria-describedby="parcel-17-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-17">
                SO3757 3174
              </label>
              <div id="parcel-17-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 14.8765 ha<br>
                Total available area: 14.8765 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-18" name="selectedParcels" type="checkbox" value="SO3757-3175" aria-describedby="parcel-18-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-18">
                SO3757 3175
              </label>
              <div id="parcel-18-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 8.2143 ha<br>
                Total available area: 8.2143 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-19" name="selectedParcels" type="checkbox" value="SO3757-3176" aria-describedby="parcel-19-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-19">
                SO3757 3176
              </label>
              <div id="parcel-19-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 21.5678 ha<br>
                Total available area: 21.5678 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-20" name="selectedParcels" type="checkbox" value="SO3757-3177" aria-describedby="parcel-20-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-20">
                SO3757 3177
              </label>
              <div id="parcel-20-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 10.9876 ha<br>
                Total available area: 10.9876 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-21" name="selectedParcels" type="checkbox" value="SO3757-3178" aria-describedby="parcel-21-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-21">
                SO3757 3178
              </label>
              <div id="parcel-21-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 16.4321 ha<br>
                Total available area: 16.4321 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-22" name="selectedParcels" type="checkbox" value="SO3757-3179" aria-describedby="parcel-22-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-22">
                SO3757 3179
              </label>
              <div id="parcel-22-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 2.7654 ha<br>
                Total available area: 2.7654 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-23" name="selectedParcels" type="checkbox" value="SO3757-3180" aria-describedby="parcel-23-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-23">
                SO3757 3180
              </label>
              <div id="parcel-23-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 13.1098 ha<br>
                Total available area: 13.1098 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-24" name="selectedParcels" type="checkbox" value="SO3757-3181" aria-describedby="parcel-24-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-24">
                SO3757 3181
              </label>
              <div id="parcel-24-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 8.7432 ha<br>
                Total available area: 8.7432 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-25" name="selectedParcels" type="checkbox" value="SO3757-3182" aria-describedby="parcel-25-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-25">
                SO3757 3182
              </label>
              <div id="parcel-25-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 15.9876 ha<br>
                Total available area: 15.9876 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-26" name="selectedParcels" type="checkbox" value="SO3757-3183" aria-describedby="parcel-26-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-26">
                SO3757 3183
              </label>
              <div id="parcel-26-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 22.3456 ha<br>
                Total available area: 22.3456 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-27" name="selectedParcels" type="checkbox" value="SO3757-3184" aria-describedby="parcel-27-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-27">
                SO3757 3184
              </label>
              <div id="parcel-27-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 6.2109 ha<br>
                Total available area: 6.2109 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-28" name="selectedParcels" type="checkbox" value="SO3757-3185" aria-describedby="parcel-28-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-28">
                SO3757 3185
              </label>
              <div id="parcel-28-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 18.5432 ha<br>
                Total available area: 18.5432 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-29" name="selectedParcels" type="checkbox" value="SO3757-3186" aria-describedby="parcel-29-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-29">
                SO3757 3186
              </label>
              <div id="parcel-29-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 11.7654 ha<br>
                Total available area: 11.7654 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-30" name="selectedParcels" type="checkbox" value="SO3757-3187" aria-describedby="parcel-30-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-30">
                SO3757 3187
              </label>
              <div id="parcel-30-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 29.8765 ha<br>
                Total available area: 29.8765 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-31" name="selectedParcels" type="checkbox" value="SO3757-3188" aria-describedby="parcel-31-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-31">
                SO3757 3188
              </label>
              <div id="parcel-31-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 4.3219 ha<br>
                Total available area: 4.3219 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-32" name="selectedParcels" type="checkbox" value="SO3757-3189" aria-describedby="parcel-32-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-32">
                SO3757 3189
              </label>
              <div id="parcel-32-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 17.6543 ha<br>
                Total available area: 17.6543 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-33" name="selectedParcels" type="checkbox" value="SO3757-3190" aria-describedby="parcel-33-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-33">
                SO3757 3190
              </label>
              <div id="parcel-33-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 12.9876 ha<br>
                Total available area: 12.9876 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-34" name="selectedParcels" type="checkbox" value="SO3757-3191" aria-describedby="parcel-34-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-34">
                SO3757 3191
              </label>
              <div id="parcel-34-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 8.1234 ha<br>
                Total available area: 8.1234 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-35" name="selectedParcels" type="checkbox" value="SO3757-3192" aria-describedby="parcel-35-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-35">
                SO3757 3192
              </label>
              <div id="parcel-35-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 25.4567 ha<br>
                Total available area: 25.4567 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-36" name="selectedParcels" type="checkbox" value="SO3757-3193" aria-describedby="parcel-36-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-36">
                SO3757 3193
              </label>
              <div id="parcel-36-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 14.7890 ha<br>
                Total available area: 14.7890 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-37" name="selectedParcels" type="checkbox" value="SO3757-3194" aria-describedby="parcel-37-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-37">
                SO3757 3194
              </label>
              <div id="parcel-37-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 9.5432 ha<br>
                Total available area: 9.5432 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-38" name="selectedParcels" type="checkbox" value="SO3757-3195" aria-describedby="parcel-38-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-38">
                SO3757 3195
              </label>
              <div id="parcel-38-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 31.2109 ha<br>
                Total available area: 31.2109 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-39" name="selectedParcels" type="checkbox" value="SO3757-3196" aria-describedby="parcel-39-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-39">
                SO3757 3196
              </label>
              <div id="parcel-39-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 7.6543 ha<br>
                Total available area: 7.6543 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-40" name="selectedParcels" type="checkbox" value="SO3757-3197" aria-describedby="parcel-40-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-40">
                SO3757 3197
              </label>
              <div id="parcel-40-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 19.8765 ha<br>
                Total available area: 19.8765 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-41" name="selectedParcels" type="checkbox" value="SO3757-3198" aria-describedby="parcel-41-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-41">
                SO3757 3198
              </label>
              <div id="parcel-41-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 13.4321 ha<br>
                Total available area: 13.4321 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-42" name="selectedParcels" type="checkbox" value="SO3757-3199" aria-describedby="parcel-42-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-42">
                SO3757 3199
              </label>
              <div id="parcel-42-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 5.7890 ha<br>
                Total available area: 5.7890 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-43" name="selectedParcels" type="checkbox" value="SO3757-3200" aria-describedby="parcel-43-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-43">
                SO3757 3200
              </label>
              <div id="parcel-43-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 27.1234 ha<br>
                Total available area: 27.1234 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-44" name="selectedParcels" type="checkbox" value="SO3757-3201" aria-describedby="parcel-44-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-44">
                SO3757 3201
              </label>
              <div id="parcel-44-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 16.5678 ha<br>
                Total available area: 16.5678 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-45" name="selectedParcels" type="checkbox" value="SO3757-3202" aria-describedby="parcel-45-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-45">
                SO3757 3202
              </label>
              <div id="parcel-45-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 10.9012 ha<br>
                Total available area: 10.9012 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-46" name="selectedParcels" type="checkbox" value="SO3757-3203" aria-describedby="parcel-46-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-46">
                SO3757 3203
              </label>
              <div id="parcel-46-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 3.4567 ha<br>
                Total available area: 3.4567 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-47" name="selectedParcels" type="checkbox" value="SO3757-3204" aria-describedby="parcel-47-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-47">
                SO3757 3204
              </label>
              <div id="parcel-47-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 23.8901 ha<br>
                Total available area: 23.8901 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-48" name="selectedParcels" type="checkbox" value="SO3757-3205" aria-describedby="parcel-48-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-48">
                SO3757 3205
              </label>
              <div id="parcel-48-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 12.3456 ha<br>
                Total available area: 12.3456 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-49" name="selectedParcels" type="checkbox" value="SO3757-3206" aria-describedby="parcel-49-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-49">
                SO3757 3206
              </label>
              <div id="parcel-49-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 6.7890 ha<br>
                Total available area: 6.7890 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-50" name="selectedParcels" type="checkbox" value="SO3757-3207" aria-describedby="parcel-50-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-50">
                SO3757 3207
              </label>
              <div id="parcel-50-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 28.1234 ha<br>
                Total available area: 28.1234 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-51" name="selectedParcels" type="checkbox" value="SO3757-3208" aria-describedby="parcel-51-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-51">
                SO3757 3208
              </label>
              <div id="parcel-51-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 15.5678 ha<br>
                Total available area: 15.5678 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-52" name="selectedParcels" type="checkbox" value="SO3757-3209" aria-describedby="parcel-52-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-52">
                SO3757 3209
              </label>
              <div id="parcel-52-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 9.9012 ha<br>
                Total available area: 9.9012 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-53" name="selectedParcels" type="checkbox" value="SO3757-3210" aria-describedby="parcel-53-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-53">
                SO3757 3210
              </label>
              <div id="parcel-53-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 4.3456 ha<br>
                Total available area: 4.3456 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-54" name="selectedParcels" type="checkbox" value="SO3757-3211" aria-describedby="parcel-54-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-54">
                SO3757 3211
              </label>
              <div id="parcel-54-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 21.7890 ha<br>
                Total available area: 21.7890 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-55" name="selectedParcels" type="checkbox" value="SO3757-3212" aria-describedby="parcel-55-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-55">
                SO3757 3212
              </label>
              <div id="parcel-55-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 18.2134 ha<br>
                Total available area: 18.2134 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-56" name="selectedParcels" type="checkbox" value="SO3757-3213" aria-describedby="parcel-56-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-56">
                SO3757 3213
              </label>
              <div id="parcel-56-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 11.6578 ha<br>
                Total available area: 11.6578 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-57" name="selectedParcels" type="checkbox" value="SO3757-3214" aria-describedby="parcel-57-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-57">
                SO3757 3214
              </label>
              <div id="parcel-57-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 7.0912 ha<br>
                Total available area: 7.0912 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-58" name="selectedParcels" type="checkbox" value="SO3757-3215" aria-describedby="parcel-58-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-58">
                SO3757 3215
              </label>
              <div id="parcel-58-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 26.5346 ha<br>
                Total available area: 26.5346 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-59" name="selectedParcels" type="checkbox" value="SO3757-3216" aria-describedby="parcel-59-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-59">
                SO3757 3216
              </label>
              <div id="parcel-59-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 14.9780 ha<br>
                Total available area: 14.9780 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-60" name="selectedParcels" type="checkbox" value="SO3757-3217" aria-describedby="parcel-60-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-60">
                SO3757 3217
              </label>
              <div id="parcel-60-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 8.4124 ha<br>
                Total available area: 8.4124 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-61" name="selectedParcels" type="checkbox" value="SO3757-3218" aria-describedby="parcel-61-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-61">
                SO3757 3218
              </label>
              <div id="parcel-61-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 30.8568 ha<br>
                Total available area: 30.8568 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-62" name="selectedParcels" type="checkbox" value="SO3757-3219" aria-describedby="parcel-62-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-62">
                SO3757 3219
              </label>
              <div id="parcel-62-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 17.2902 ha<br>
                Total available area: 17.2902 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-63" name="selectedParcels" type="checkbox" value="SO3757-3220" aria-describedby="parcel-63-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-63">
                SO3757 3220
              </label>
              <div id="parcel-63-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 5.7346 ha<br>
                Total available area: 5.7346 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-64" name="selectedParcels" type="checkbox" value="SO3757-3221" aria-describedby="parcel-64-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-64">
                SO3757 3221
              </label>
              <div id="parcel-64-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 22.1780 ha<br>
                Total available area: 22.1780 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-65" name="selectedParcels" type="checkbox" value="SO3757-3222" aria-describedby="parcel-65-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-65">
                SO3757 3222
              </label>
              <div id="parcel-65-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 13.6124 ha<br>
                Total available area: 13.6124 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-66" name="selectedParcels" type="checkbox" value="SO3757-3223" aria-describedby="parcel-66-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-66">
                SO3757 3223
              </label>
              <div id="parcel-66-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 9.0568 ha<br>
                Total available area: 9.0568 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-67" name="selectedParcels" type="checkbox" value="SO3757-3224" aria-describedby="parcel-67-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-67">
                SO3757 3224
              </label>
              <div id="parcel-67-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 25.4902 ha<br>
                Total available area: 25.4902 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-68" name="selectedParcels" type="checkbox" value="SO3757-3225" aria-describedby="parcel-68-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-68">
                SO3757 3225
              </label>
              <div id="parcel-68-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 16.9346 ha<br>
                Total available area: 16.9346 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-69" name="selectedParcels" type="checkbox" value="SO3757-3226" aria-describedby="parcel-69-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-69">
                SO3757 3226
              </label>
              <div id="parcel-69-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 11.3780 ha<br>
                Total available area: 11.3780 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-70" name="selectedParcels" type="checkbox" value="SO3757-3227" aria-describedby="parcel-70-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-70">
                SO3757 3227
              </label>
              <div id="parcel-70-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 6.8124 ha<br>
                Total available area: 6.8124 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-71" name="selectedParcels" type="checkbox" value="SO3757-3228" aria-describedby="parcel-71-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-71">
                SO3757 3228
              </label>
              <div id="parcel-71-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 29.2568 ha<br>
                Total available area: 29.2568 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-72" name="selectedParcels" type="checkbox" value="SO3757-3229" aria-describedby="parcel-72-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-72">
                SO3757 3229
              </label>
              <div id="parcel-72-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 18.6902 ha<br>
                Total available area: 18.6902 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-73" name="selectedParcels" type="checkbox" value="SO3757-3230" aria-describedby="parcel-73-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-73">
                SO3757 3230
              </label>
              <div id="parcel-73-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 12.1346 ha<br>
                Total available area: 12.1346 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-74" name="selectedParcels" type="checkbox" value="SO3757-3231" aria-describedby="parcel-74-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-74">
                SO3757 3231
              </label>
              <div id="parcel-74-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 4.5780 ha<br>
                Total available area: 4.5780 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-75" name="selectedParcels" type="checkbox" value="SO3757-3232" aria-describedby="parcel-75-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-75">
                SO3757 3232
              </label>
              <div id="parcel-75-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 23.0124 ha<br>
                Total available area: 23.0124 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-76" name="selectedParcels" type="checkbox" value="SO3757-3233" aria-describedby="parcel-76-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-76">
                SO3757 3233
              </label>
              <div id="parcel-76-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 15.4568 ha<br>
                Total available area: 15.4568 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-77" name="selectedParcels" type="checkbox" value="SO3757-3234" aria-describedby="parcel-77-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-77">
                SO3757 3234
              </label>
              <div id="parcel-77-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 8.8902 ha<br>
                Total available area: 8.8902 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-78" name="selectedParcels" type="checkbox" value="SO3757-3235" aria-describedby="parcel-78-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-78">
                SO3757 3235
              </label>
              <div id="parcel-78-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 27.3346 ha<br>
                Total available area: 27.3346 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-79" name="selectedParcels" type="checkbox" value="SO3757-3236" aria-describedby="parcel-79-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-79">
                SO3757 3236
              </label>
              <div id="parcel-79-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 19.7780 ha<br>
                Total available area: 19.7780 ha
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parcel-80" name="selectedParcels" type="checkbox" value="SO3757-3237" aria-describedby="parcel-80-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="parcel-80">
                SO3757 3237
              </label>
              <div id="parcel-80-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Total size: 14.2124 ha<br>
                Total available area: 14.2124 ha
              </div>
            </div>
          </div> <!-- checkbox group -->
        </fieldset>
      </div> <!-- form group -->
      <p>
        You will be able to add actions to the other land parcels before submitting your application.
      </p>

      <div class="govuk-button-group">
        <form class="govuk-form" action="add-area3" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

        <!-- not for day 1
        <form class="govuk-form" action="save-and-return" method="post">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and return later
          </button>
        </form> -->
      </div> <!-- buttons -->
    </div> <!-- 2/3 col -->
  </div> <!-- grid-row -->

{% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var selectAllCheckbox = document.getElementById('select-all');
    var parcelCheckboxes = document.querySelectorAll('input[name="selectedParcels"]');
    
    // Handle select all checkbox
    selectAllCheckbox.addEventListener('change', function() {
      var isChecked = this.checked;
      parcelCheckboxes.forEach(function(checkbox) {
        checkbox.checked = isChecked;
      });
    });
    
    // Handle individual parcel checkboxes
    parcelCheckboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        // Check if all individual checkboxes are selected
        var allSelected = Array.from(parcelCheckboxes).every(function(cb) {
          return cb.checked;
        });
        
        // Update select all checkbox state
        selectAllCheckbox.checked = allSelected;
        selectAllCheckbox.indeterminate = !allSelected && Array.from(parcelCheckboxes).some(function(cb) {
          return cb.checked;
        });
      });
    });
  });
</script>
{% endblock %}
