{% extends "layouts/day1-header.html" %}

{% block pageTitle %}
  Manage land-based actions
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-full">
      <form class="form" action="/add-more-actions" method="post">

        <h1 class="govuk-heading-l">
          Review the actions you have selected
        </h1>
  <div class="govuk-form-group">

  <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
    {# <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key parcel__key govuk-!-font-weight-regular hmrc-summary-list__key">
        	SO3757 3158
      </dt>
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
        	CMOR1: Assess moorland and produce a written record
      </dt>
      <dt class="govuk-summary-list__key area__key govuk-!-font-weight-regular hmrc-summary-list__key">
        	8.3405 ha
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="select-land-parcel-1"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
        </ul>
      </dd>
    </div> #}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key parcel__key govuk-!-font-weight-regular hmrc-summary-list__key">
        	SO3757 3158
      </dt>
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
        	UPL1: Moderate livestock grazing on moorland
      </dt>
      <dt class="govuk-summary-list__key area__key govuk-!-font-weight-regular hmrc-summary-list__key">
        120.0394 m
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="select-land-parcel-1"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Michael Cain</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="confirm-delete-action"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Michael Cain from the list</span></a></li>
        </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key parcel__key govuk-!-font-weight-regular hmrc-summary-list__key">
        	SO3757 3160
      </dt>
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
        	SPM5: Keep native breeds on extensively managed habitats supplement (more than 80%)
      </dt>
      <dt class="govuk-summary-list__key area__key govuk-!-font-weight-regular hmrc-summary-list__key">
        120.0394 m
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="select-land-parcel-1"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Jeremy Winter</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="confirm-delete-action"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Jeremy Winter from the list</span></a></li>
        </ul>
      </dd>
    </div>
  </dl>

</div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you want to add more actions to your land?
      </legend>
      {# <div id="add-another-hint" class="govuk-hint">
        You must tell us about all your directors.
      </div> #}
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another" name="add-more-actions" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="add-another">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-2" name="add-more-actions" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="add-another-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>

</form>

    </div>
  </div>

{% endblock %}
