{% extends "layouts/main-thread.html" %}

{% set pageName="Manage land based actions" %}

{% block beforeContent %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">SFI Reform prototypes</a>
      </li>
    </ol>
  </nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Post Day 1 actions (Started 05/03/2026)
      <span class="govuk-caption-l">Application and agreement end to end</span>
    </h1>

   <!-- outline the scenario and purpose of the prototype -->
    <p>Adding CLIG3 and CSAM3 to the application journey.</p>

 

     <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p>View the <a href="_design-history" class="govuk-link">design history</a>.</p> 

    
    <h3 class="govuk-heading-s">
      How to use this prototype
    </h3>
    <p>You can now dynamically choose actions and they will update accordingly:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>this works for your first journey's basket page</li>
      <li>subsequent 'loops' from the basket page need fixing (as of 02/03/2026)</li>
    </ul>

     <h3 class="govuk-heading-s">
      Actions looping logic
    </h3>
    <p>Use the actions ideation board for the <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1751298047919/96d5c3a47b96ecdf7f86bbd85b688fa3ee63e764?wid=0-1753967283100" target="_blank">actions looping logic</a> for all scenarios.</p>

    {# <p><em>Focus on new actions and amended agreements screens for usability testing starting wk/comm 7 July 25</em></p>
    <br> #}
    <a class="govuk-button" href="sign-in">Start prototype</a>

    <h3 class="govuk-heading-s">Key pages</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/day1-more-actions2/select-base-action">Action page with compatibility logic and hint text hard coded (you need to turn off Javascript on your browser to see the baseline version being handed over for iteration 1).</a></li>
      <li><a class="govuk-link" href="/day1-more-actions2/select-base-action-consents">Action page with SSSI and HEFER consents plus compatibility logic and hint text hard coded (you need to turn off Javascript on your browser to see the baseline version being handed over for iteration 1).</a></li>
      <li><a class="govuk-link" href="/day1-more-actions2/add-more-actions">Dynamic basket page which shows choices made on actions page</a></li>
    </ul>

    <h3 class="govuk-heading-s">Actions page scalability and progressive enhancement experiments</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/day1-more-actions2/select-base-all-actions">Conditional hint text version of action page scalability experiment: All SFI 2024 actions with rules logic from compatibility matrix csv, JSON and JS for reuse elsewhere.</a></li>
      <li><a class="govuk-link" href="/day1-more-actions2/select-base-all-actions2">Disabled radio button (with hint text) version of above experiment</a></li>
      <li><a class="govuk-link" href="/day1-more-actions2/select-base-all-actions-checkboxes">Disabled checkbox (with hint text) version of above experiment</a></li>
      <li><a class="govuk-link" href="/day1-more-actions2/select-base-all-actions-checkboxes-2026">2026 SFI actions with 'Theme' filters for findability and disabled checkboxes (with hint text) for compatibility rules</a></li>
      <li><a class="govuk-link" href="/day1-more-actions2/select-land-map-leaflet-many-farms">Map with land cover data, compatibility rules, and multiple farms. Full width map, actions and filters on lower row. Select  Blackberry Farm, parcel Gate Field to see dual land covers edge case (as confirmed by RPA SME's).</a></li>
      <li><a class="govuk-link" href="/day1-more-actions2/select-land-map-leaflet-many-farms-full-width">Full width version of above</a>. Aligns with mapping improvements team design for <a href="https://rpa-mapping-improvements-91cc7bcf1383.herokuapp.com/download-maps-v6/get-maps-of-your-land?map:center=-0.7014825,53.4012837&map:zoom=16.0808989" target="_blank">'Download maps' journey</a> and fixes excessive off-screen parcels and tooltips obscuring neighbouring parcels problems with smaller map we tested.</a></li>
    </ul>

    
    {# <h2 class="govuk-heading-s govuk-!-margin-top-4">
      Consents prototypes
    </h2>

    <p>These represent the day 1 prototype, plus flagging and signposting farmers to consents needed to do certain actions on parcels with features on them:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/day1-sssi/index">SSSI prototype</a></li>
      <li><a class="govuk-link" href="/day1-hefer/index">HEFER prototype</a></li>
      <li><a class="govuk-link" href="/day1-sssi-hefer/index">SSSI and HEFER prototype</a></li>
    </ul> #}

<!--
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link">View the design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>goals</li>
      <li>'How might we' statements</li>
      <li>hypotheses</li>
      <li>outcomes and decisions</li>
    </ul>
-->
   
{% endblock %}
