{% extends "layouts/beta-header.html" %}

{% block pageTitle %}
  Manage land-based actions
{% endblock %}

{% block beforeContent %}
  {% include "_common/sub-header-beta.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Homepage
      </h1>

      <p class="govuk-body-l">
        Information regarding what the service is - almost like the traditional 'start' page?
      </p>

      <h2 class="govuk-heading-m">
        Current actions
      </h2>
      <p>
        List the actions that are currently 'live', and what is required.
      </p>

      <h2 class="govuk-heading-m">
        Applications
      </h2>
      <p>
        List the applications that are in flight, e.g. incomplete, submitted, being processed.
      </p>
      <p>
        <a href="">Start a new application</a>
      </p>

      <h2 class="govuk-heading-m">
        Agreements
      </h2>
      <p>
        List the 'live' agreement documents.
      </p>

      <h2 class="govuk-heading-m">
        Payments
      </h2>
      <p>
        Show their next payment amount, and when?
      </p>
      <p>
        <a href="payment-schedule">Payment schedule</a>
      </p>

      <h2 class="govuk-heading-m">
        Terms and conditions
      </h2>
      <p>
        Is this a separate thing, or linked within the specific agreement?
      </p>

      <h2 class="govuk-heading-m">
        Guidance
      </h2>
      <p>These are the actions that are be available.</p>
      <ul class="govuk-list">
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/cmor1-assess-moorland-and-produce-a-written-record">
          CMOR1: Assess moorland and produce a written record</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl1-moderate-livestock-grazing-on-moorland">
          UPL1: Moderate livestock grazing on moorland</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl2-low-livestock-grazing-on-moorland">
          UPL2: Low livestock grazing on moorland</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl3-limited-livestock-grazing-on-moorland">
          UPL3: Limited livestock grazing on moorland</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl4-keep-cattle-and-ponies-on-moorland-supplement-minimum-30-percent-glu">
          UPL4: Keep cattle and ponies on moorland supplement (minimum 30% GLU)</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl5-keep-cattle-and-ponies-on-moorland-supplement-minimum-70-percent-glu">
          UPL5: Keep cattle and ponies on moorland supplement (minimum 70% GLU)</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl6-keep-cattle-and-ponies-on-moorland-supplement-100-percent-glu">
          UPL6: Keep cattle and ponies on moorland supplement (100% GLU)</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl7-shepherding-livestock-on-moorland-no-required-stock-removal-period">
          UPL7: Shepherding livestock on moorland (no required stock removal period)</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl8-shepherding-livestock-on-moorland-remove-stock-for-at-least-4-months">
          UPL8: Shepherding livestock on moorland (remove stock for at least 4 months)</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl9-shepherding-livestock-on-moorland-remove-stock-for-at-least-6-months">
          UPL9: Shepherding livestock on moorland (remove stock for at least 6 months)</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/upl10-shepherding-livestock-on-moorland-remove-stock-for-at-least-8-months">
          UPL10: Shepherding livestock on moorland (remove stock for at least 8 months)</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/spm4-keep-native-breeds-on-extensively-managed-habitats-supplement-50-80-percent">
          SPM4: Keep native breeds on extensively managed habitats supplement (50-80%)</a>
        </li>
        <li><a href="https://www.gov.uk/find-funding-for-land-or-farms/spm5-keep-native-breeds-on-extensively-managed-habitats-supplement-more-than-80-percent">
          SPM5: Keep native breeds on extensively managed habitats supplement (more than 80%)</a>
        </li>
      </ul>
    </div> <!-- 2/3 col -->
  </div> <!-- grid row -->
{% endblock %}

