{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}

{# {% include "to-be/v3/components/sub-header/include.html" %} #}

<a href="manage-your-actions" class="govuk-back-link govuk-!-margin-bottom-0">Back to your business</a>

{% endblock %} 


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Parcel detail
    </h1>

    <form action="../v1/actions-name" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Add actions
      </button>
     </form>

    <p>You currently have no actions on this parcel.</p>

    {# <p>check this map. Is it right. If not, do this....</p> #}

       <br>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Parcel SO3757 3158</h3>
    <img src="https://raw.githubusercontent.com/defra-design/fcp-future-rps/56621a962ff1c79573dc9ba24b9dfed026bf152e/app/views/experiment/img/map_3.png" 
    alt="Imaginary Farm Ltd" class="farm-overview govuk-!-margin-bottom-0">
    
    <a href="manage-your-actions#larger-map" class="govuk-back-link govuk-!-margin-bottom-0">Back to larger map</a></p>
  
    <br>
    <br>
    {# <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Actions suitable for this parcel</h2>
    <p>Based on your registered parcel data, here are the available actions you could add to it.</p> #}

    {# <hr class="actions-hr"> #}
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Actions suitable for this parcel
          </h2>
        </legend>
        <p>Based on your registered parcel data, here are the available actions you could add to it.</p>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item  govuk-!-margin-bottom-2">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Select all
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Flower-rich grass margins, blocks or in-field strips - IPM
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Establish and maintain flower-rich grass margins, blocks or in-field strips. This will encourage natural crop pest predators, and provide habitats and foraging sites for wildlife.</p>
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Flower-rich grass margins, blocks or in-field strips - IPM
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Establish and maintain flower-rich grass margins, blocks or in-field strips. This will encourage natural crop pest predators, and provide habitats and foraging sites for wildlife.</p>
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
              Flower-rich grass margins, blocks or in-field strips - IPM
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Establish and maintain flower-rich grass margins, blocks or in-field strips. This will encourage natural crop pest predators, and provide habitats and foraging sites for wildlife.</p>
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
              Flower-rich grass margins, blocks or in-field strips - IPM
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Establish and maintain flower-rich grass margins, blocks or in-field strips. This will encourage natural crop pest predators, and provide habitats and foraging sites for wildlife.</p>
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <form action="../v1/actions-name2" method="post">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add selected actions
      </button>
     </form>

     <hr>
     <br>
    <p><a href="https://www.gov.uk/find-funding-for-land-or-farms/spm5-keep-native-breeds-on-extensively-managed-habitats-supplement-more-than-80-percent">You can read more about all these actions on GOV.UK</a></p>

  </div>
</div>






{% endblock %}
