{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Mapping and scaling actions experiments</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
     Mapping and scaling actions experiments
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

 

  <div class="govuk-grid-column-two-thirds">
    
    <h2 class="govuk-heading-m">Understanding the design challenge</h2>
      <p>We began with research, analysis and ideation to explore how we could scale the <a href="/v7-apply/select-land-map-leaflet" target="_blank">previous work on mapping and actions</a> (opens in new tab) if a user had 70+ actions to choose from (dependent on scheme offer, available area calcuation, land cover types and actions from previous agreemments), some of which would be incompatible with each other.</p>
      <p>We also needed to improve the usability of the map component to ensure users could easily navigate to, and interact, with their land parcels. We collaborated with the Mapping Improvements team to learn from their recent user testing insights on <a href="https://rpa-mapping-improvements-91cc7bcf1383.herokuapp.com/download-maps-v6/get-maps-of-your-land?map:center=-0.6994168,53.3974012&map:zoom=13.9219027" target="_blank">this full-width layout</a> and understand mutual user needs across our services.</p>

    <h2 class="govuk-heading-m">The design approach</h2>
      <p>A key focus was alignment with the Mapping Improvements team, including exploration of a full-width, fluid layout to improve map usability and make better use of screen space. Several layout concepts were tested, including a 20/80 column structure across two rows to support multiple farms, contextual parcel information and action filtering alongside the map interface.</p>
      <p>The work also explored how 2026 SFI action compatibility rules could be surfaced through inline messaging, helping users understand why certain actions could not be combined within the same parcel while testing scalability and usability across increasingly complex rule sets.</p>
      <p>To support this, the team used Land Management System (LMS) “Land Cover” data extracts to display parcel information and derive compatible actions. “Land Cover Class” was later discounted following discussions with the Rural Payments Agency due to data quality concerns, with “Land Cover” identified as the more reliable and widely used dataset.</p>
      <p>This work enabled exploration of edge cases such as multiple land covers within a single parcel and the resulting volume of compatible actions presented to users. These findings informed “How might we” ideation focused on helping farmers quickly identify relevant actions.</p>
      <p>Additional work explored findability improvements through “Theme” filters and sort functionality, allowing users to organise actions by criteria such as payment rate and frequency of use, helping reduce cognitive load within complex land management journeys.</p>


    <h2 class="govuk-heading-l">
      What we tested, outcomes and decisions
    </h2>

    <h3 class="govuk-heading-m">
      How might we improve map usability while ensuring users still easily find their desired parcels and actions from a long list?

    <h4 class="govuk-heading-s">
      Hypothesis 1:
    </h4>

      <p class="govuk-body">
        <strong>If</strong> we provide a full width design for mapping</p>
        
        <p><strong>Then</strong> this negates the need for parcel links within the page due to increased map usability - 
        eg, ability to see whole farm within map view, parcels not being obscured outside of map component when zooming, tool tips no longer hiding neighbouring parcels, easier navigation between parcels within map</p>
        
        <p><strong>We'll know this is true when</strong>:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>The user is quickly able to choose specific parcels within a map</li>
          <li>The user can navigate around the map from one parcel to another without excessive zooming in/out, closing of tooltips</li>
          <li>The user does not seek alternative forms of navigation within farms/parcels due to task failure within scenario</li>
      </ul> 

    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--green">
        Proven
      </strong>
    </p>

    <p class="govuk-body">
      Users were able to see the whole farm within the map view and parcels were not obscured outside of the map component when zooming.
     Users were able to navigate around the map and select parcels without excessive zooming in and out.</p>
    <p>Tool tips no longer hid neighbouring parcels when they were opened due to the increased map size design.</p>
     <p>Users did not seek alternative forms of navigation within farms/parcels due to task failure within the scenario (one user verbalised a preference for being able to see parcel list but was able to complete the task quickly without it). 
     </p>

    <h4 class="govuk-heading-s">
      Design conclusion
    </h4>

    <p class="govuk-body">
      <a href="https://rpa-mapping-improvements-91cc7bcf1383.herokuapp.com/download-maps-v6/get-maps-of-your-land?map:center=-0.6994168,53.3974012&map:zoom=13.9219027" target="_blank" rel="noopener noreferrer">Aligning with the design and findings</a> (password: 8PA38P) from the Mapping Improvements Team (now within Single Front Door team) has improved the usability of the map and actions page due to increased page real estate.
      This has negated the need for parcel links as default.
    </p>
    <p class="govuk-body">
      In line with accessiblity and progressive enhancement principles, we will provide parcel links as the navigation method for users who require this.
    </p>



    <h4 class="govuk-heading-s">
      Hypothesis 2:
    </h4>

    <p class="govuk-body">
      <strong>If</strong> we change jump tags to filters (for finding actions within long lists),
    </p>
    <p class="govuk-body">
      <strong>Then</strong> the user won't get lost within a long list of actions if they don't know the category their actions is within (see many parcels, many actions work)
    </p>
    <p class="govuk-body">
      <strong>We'll know this is true when</strong>:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>3 of 6 users did not demonstrate excessive scrolling when using the filters</li>
      <li>3 of 6 users can select and deselect filters to view subsets of the actions list (parallel to the filters) without excessive scrolling</li>
    </ul>

    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--yellow">
        Inconclusive
      </strong>
    </p>

    <p class="govuk-body">
      Users who engaged with the filters understood intuitively how they worked and knew which category the action they required belonged to, even though they weren't actions they would usually undertake on their land.
    </p>

    <h4 class="govuk-heading-s">
      Design conclusion
    </h4>

    <p class="govuk-body">
      3 of 6 participants used the filters effectively (while others used the search predominantly) and so we'd like to explore this further with more users.
    </p>


    <h4 class="govuk-heading-s">
      Hypothesis 3:
    </h4>

    <p class="govuk-body">
      <strong>If</strong> we use filters categories aligned to the 'Find' tool,
    </p>
    <p class="govuk-body">
      <strong>Then</strong> users will recognise the same content convention and find desired actions more quickly due to prior category familiarity.
    </p>
    <p class="govuk-body">
      <strong>We'll know this is true when</strong>:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Users demonstrably recognise the filter categories (Areas of interest)</li>
      <li>User can find desired actions (when eligible within parcel) quickly when using the filters</li>
    </ul>

    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--yellow">
        Inconclusive
      </strong>
    </p>

    <p class="govuk-body">
     3 of 6 users knew which category the action they required belonged to, even though they weren't actions they would usually undertake on their land.
     This indicated a level of familiarity with the categories.
    </p>
     <p class="govuk-body">
     We'd like to further test this in order to gain more data from a larger sample size.
    </p>


    <h2 class="govuk-heading-m" id="next-steps">Next steps</h2>
    <p class="govuk-body">to be added</p>

  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
