{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 1</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Version 1
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Goals of this iteration</h2>

    <h3 class="govuk-heading-m">Why we explored xxx</h3>

    <h3 class="govuk-heading-m">Pain points and user needs</h3>

    <p class="govuk-body">We did a lot of research into xxxx. This included:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>xxxx</li>
      <li>xxx</li>
    </ul>

    <p class="govuk-body">From this, we identified xxxxx:</p>

    <ol class="govuk-list govuk-list--number">
      <li>xxxxx</li>
      <li>xxxxx</li>
      <li>xxxxx</li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h3 class="govuk-heading-m">Constraints</h3>

    <p class="govuk-body">xxxxx</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>xxxxx</li>
      <li>xxxxx</li>
      <li>xxxxx</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Design approach</h3>

    <p class="govuk-body">xxxxx</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">How might we statements</h2>

    <ol class="govuk-list govuk-list--number">
      <li>How might we xxxxx</li>
      <li>How might we xxxxx</li>      
      <li>How might we xxxxx</li>      
    </ol>

    <!-- <p class="govuk-body"><strong>1. How might we make users aware of when and how much they will be paid?</strong></p>
    <p class="govuk-body"><strong>2. How might we make it clear what each payment is for?</strong></p>
    <p class="govuk-body"><strong>3. How might we keep users up to date with the progress of their claims & payments?</strong></p>
    <p class="govuk-body"><strong>4. How might we help users to understand how their payments have been calculated and check they are correct?</strong></p>
    <p class="govuk-body"><strong>5. How might we notify users of actions that need to be completed to progress their claims & payments?</strong></p> -->

    <p class="govuk-body">Across the first 5 how might we statements, we prototyped the following design ideas:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>xxxxx</li>      
      <li>make clear:
        <ul class="govuk-list govuk-list--bullet ">
          <li>xxxxx</li>
          <li>xxxxx</li>
        </ul>
      </li>
    </ul>
      
    <!-- <p class="govuk-body">6. How might we allow users to access and use their payments information so that they can resolve queries and complete external tasks?</p> -->

    {# <p class="govuk-body">For the 6th how might we statement we prototyped the following ideas:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>show past payment information dating back 7 years</li>
      <li>show past payment information grouped by calendar year</li>
    </ul> #}

      


    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Outcomes and decisions
    </h2>

    <span class="govuk-caption-m">Hypothesis 1:</span>
    <h3 class="govuk-heading-m">Hypothesis statement.</h3>
    <strong class="govuk-tag govuk-tag--red" style="margin-bottom: 20px;">
      Disproven
    </strong>
    <strong class="govuk-tag govuk-tag--orange" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">High-level outcome.</p>
    <p class="govuk-body-s"><strong>Design conclusion:</strong></p>
    <p class="govuk-body-s">Design conclusion content.</p> -->



  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
