{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 1</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Version 1
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Why we explored the concept of an 'Action Centred Agreement'</h2>

    <h3 class="govuk-heading-m">Problem statement</h3>

    <p>The Rural Payments Agency (RPA) and farmers/agents currently manage six live land-based schemes in the existing Rural Payments service.</p>

    <p>All these schemes use actions as the common unit of work a farmer can sign up to do.</p>

    <p>Currently each scheme has it's own set of rules, operating model and terms and conditions. This has introduced complexity to the funding offer and made the service rigid and inflexible.</p>

    <p>This internal organisation makes it hard to manage change for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>external users who need to adapt what they're doing on their land to respond to evolving circumstances</li>
      <li>operations staff who need to implement changes to policy or payment rates and carry out annual scheme transitions</li>
      <li>policy makers who need to adjust the funding offer if it’s not delivering the intended environmental outcomes</li>
    </ul>

    <p>The lack of flexibility and inability to handle changes results in:></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>external users being fearful that making a change will be complex and may put payments at risk or cause delays.  This results in them: </li>
      <li>limiting themselves to sign up for actions they feel are easy to deliver even if they're ineffective</li>
      <li>not changing to actions that may be beneficial to their new conditions or the environment</li>
      <li>operational staff adopting inefficient processes adding to their administrative burden</li>
      <li>policy makers struggling to meet environmental targets due to reduced uptake in actions that deliver the desired outcomes</li>
    </ul>

    <h3 class="govuk-heading-m">Alpha definition</h3>

    <p>Therefore, we want to create one service for farmers to be able to apply for and manage land-based grants. This will take an action-centred approach which has three interdependent strands:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Simplified/single/stable funding offer.</li>
        <li>Flexible funding agreement/s.</li>
        <li>Improved system capability.</li>
      </ol>
      
      <p>These strands contribute in the following ways:</p>
      
      <h4 class="govuk-heading-s">1. Simplified stable funding offer</h4>
      
      <p>A simplified stable offer:</p>
      
        <ul class="govuk-list govuk-list--bullet">
          <li>where existing actions have been rationalised and ratified</li>
          <li>that moves away from 'big-bang' annual scheme roll out</li>
          <li>where change is introduced and managed at action level</li>
          <li>that is easy to understand and accessible to all</li>
          <li>with actions as the fundamental core of the offer</li>
          <li>where revenue and capital options are managed within one offer</li>
          <li>where environmental outputs are visible, demonstrable and drive ambition</li>
        </ul>
      
    <h4 class="govuk-heading-s">2. Flexible funding agreements</h4>
      
      <p>An agreement is the legally viable document that provides the legal framework required to deliver the funding.</p>
      
      <p>The service approach to agreements will allow users to manage their agreements in a way that meets their needs. This includes:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>using single or multiple agreements</li>
        <li>structured to accommodate different types of land tenure</li>
        <li>managing both simple and complex actions and all ambition levels in a single agreement</li>
        <li>structured to reduce complexity at all stages (such as  payments, declarations)</li>
        <li>the ability for customers to add/remove/amend actions or land (with appropriate controls) to respond to change or increase ambition level</li>
      </ul>
      
    <h4 class="govuk-heading-s">3. Improved system capability</h4>
      
     <p>A consistent action definition (framework) that provides the necessary data architecture for the system to:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>make it easier for farmers and land managers to manage the actions on their land</li>
        <li>measure take up of each action or capital item</li>
        <li>mesure and track the impact of actions on environmental outcomes</li>
        <li>enable effective reporting</li>
        <li>direct tasks through to appropriate operational teams (incl. ALBs)</li>
        <li>complete compatibility and eligibility checks</li>
        <li>enable change to be implemented effectively</li>
        <li>provide sufficient levers/mechanisms to target/manage funding commitment against budgets and deliverability</li>
      </ul>

    <h3 class="govuk-heading-m">User needs</h3>
    <p>Full set of <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1736506722335/1f60e67faefc85339156532b2657b5cc8c62839d?wid=0-1740996017581">user needs found here</a>.</p>

    <ol class="govuk-list govuk-list--number">
      <li>"As a Farmer or land manager in an agri-environment scheme, I need to be clear what funding is available for my land and the way I work it."</li>
      <li>"As a Farmer or land manager in an agri-environment scheme, I need to be able to apply for additional funding, to bring in more land, undertake more actions or buy more items, while already in an agri-environment scheme so that I can do more than originally planned and respond to changing circumstances."</li>
      <li>"As a Farmer or land manager in an agri-environment scheme, I need to be able to amend what I've signed up for, so I can adapt to changes happening on my farm."</li>
      <li>"As a Farmer or land manager in an agri-environment scheme, I need the impact of making changes to be clear so I can make an informed decision."</li>
    </ol> 

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h3 class="govuk-heading-m">Constraints</h3>

    <p class="govuk-body">tbc</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Design approach</h3>

    <p class="govuk-body">tbc</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">How might we statements</h2>

    <ol class="govuk-list govuk-list--number">
      <li>tbc</li>
      <li>tbc</li>
      <li>tbc</li>
    </ol>

    <p class="govuk-body">Across the <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1736506722335/1f60e67faefc85339156532b2657b5cc8c62839d?wid=0-1737385191369">5 how might we statements</a>, we prototyped the following design ideas:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>xxxxx</li>      
      <li>make clear:
        <ul class="govuk-list govuk-list--bullet ">
          <li>xxxxx</li>
          <li>xxxxx</li>
        </ul>
      </li>
    </ul>
      
  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
