{% extends "layouts/main.html" %}

{% block pageTitle %}
  Future – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="header">

<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <div class="moj-organisation-nav" aria-label="Organisation switcher">
        <div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Sarah Farmer</div>
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Save and return later
              </button>
        </div>
    </div>
  </div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
  <form class="form" action="select-rotational-actions" method="post">


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
         <h1 class="govuk-heading-l">Select land for your actions</h1>
<p class="govuk-body">To add your selected actions to a land parcel, click on the land parcel link or the map area.</p>
<p class="govuk-body">You’ll see your list of actions. You then need to:<br>
• select the action and enter the amount that you want to add to the parcel<br>
• confirm your selection for that parcel</p>
<!--<p class="govuk-body">You can then move on to the next land parcel and repeat these steps. When you finish, click 'Go back to select a different area'. This takes you back to the OS map sheet page. You then need to click ‘back to task list’ to continue your application.</p>-->

<hr class="section-break-large"></hr>
      <table class="govuk-table">
<p class="govuk-body">OS Map Sheet Reference S03</p>
<hr class="govuk-section-break govuk-section-break--visible">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Number of available land parcels</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">11</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total area (ha)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">120.3451 ha</td>
    </tr>
<!--    <tr class="govuk-table__row">-->
<!--     <td class="govuk-table__cell">Number of land parcels used for actions</td>-->
<!--      <td class="govuk-table__cell govuk-table__cell&#45;&#45;numeric">0</td>-->
<!--    </tr>-->
<!--        <tr class="govuk-table__row">-->
<!--    <td class="govuk-table__cell">Number of actions applied for</td>-->
<!--      <td class="govuk-table__cell govuk-table__cell&#45;&#45;numeric">0</td>-->
<!--    </tr>-->
  </tbody>
</table>

  <p class="govuk-body"><a href="select-land-parcel-1" class="govuk-link">SO3757 3158</a>
  <span class="list-parcels govuk-body">Total size: 32.0404 ha</span></p>
  <p class="govuk-body"><span class="govuk-caption-m">Land cover: ARABLE LAND<br>
<!--      Layer intersections: SSSI</span></p>-->
  {# <p class="govuk-body"><a href="select-land-parcel-2" class="govuk-link">SO3757 3159</a>
  <span class="list-parcels govuk-body">Total size: 31.4241 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3160</a>
  <span class="list-parcels govuk-body">Total size: 1.4935 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3161</a>
  <span class="list-parcels govuk-body">Total size: 10.3492 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3162</a>
  <span class="list-parcels govuk-body">Total size: 42.4324 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3163</a>
  <span class="list-parcels govuk-body">Total size: 9.9754 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3164</a>
  <span class="list-parcels govuk-body">Total size: 32.1239 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3165</a>
  <span class="list-parcels govuk-body">Total size: 38.2931 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3166</a>
  <span class="list-parcels govuk-body">Total size: 28.3482 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3167</a>
  <span class="list-parcels govuk-body">Total size: 39.2931 ha</span></p>
  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3168</a>
  <span class="list-parcels govuk-body">Total size: 3.2131 ha</span></p> #}
<!--  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3169</a>-->
<!--  <span class="list-parcels govuk-body">Total size: 12.4392 ha</span></p>-->
<!--  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3170</a>-->
<!--  <span class="list-parcels govuk-body">Total size: 29.3291 ha</span></p>-->
<!--  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3171</a>-->
<!--  <span class="list-parcels govuk-body">Total size: 13.2339 ha</span></p>-->
<!--  <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3172</a>-->
<!--  <span class="list-parcels govuk-body">Total size: 11.4234 ha</span></p>-->

 <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
<!--    <div class="govuk-pagination__prev govuk-pagination__next">-->
<!--    <p class="govuk-body">Showing <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">4</span> of <span class="govuk-!-font-weight-bold">15</span> parcels</p></div>-->
<!--  <div class="govuk-pagination__next">-->
<!--    <a class="govuk-link govuk-pagination__link" href="select-land-page-2" rel="next">-->
<!--      <span class="govuk-pagination__link-title">-->
<!--        Next<span class="govuk-visually-hidden"> page</span>-->
<!--      </span>-->
<!--      <svg class="govuk-pagination__icon govuk-pagination__icon&#45;&#45;next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">-->
<!--        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>-->
<!--      </svg>-->
<!--    </a>-->
<!--  </div>-->
<!--       <form class="form" action="select-map" method="post">-->
<!--          <button type="submit" class="govuk-button govuk-button&#45;&#45;secondary" data-module="govuk-button">-->
<!--Go back to select a different area-->
<!--          </button>-->
<!--        </form>-->
</nav> 
    </div>

  <div class="govuk-grid-column-one-half">
    <p class="govuk-body"><a href="#" class="govuk-link">Hide/show map</a></p>
   <map name="clickable">
        <area shape="rect" coords="100,280,190,320" href="select-land-parcel-1">
        <area shape="rect" coords="150,220,240,280" href="select-land-parcel-2">
                  </map>
<img usemap="#clickable" src="https://raw.githubusercontent.com/defra-design/fcp-future-rps/56621a962ff1c79573dc9ba24b9dfed026bf152e/app/views/experiment/img/map_3.png" alt="Map of your land" style="width:465px;height:400px;"></a>

       <p class="govuk-body">Key:</p>
       <div class="key-div govuk-!-margin-bottom-5">
       <div class="key-parent" id="key1"></div><span class="govuk-body-s">Error</span>
       <div class="key-parent" id="key2"></div><span class="govuk-body-s">Selected</span>
       <div class="key-parent" id="key3"></div><span class="govuk-body-s">Not Applied</span>
       <div class="key-parent" id="key4"></div><span class="govuk-body-s">Applied</span>
     </div>

     <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Your available actions for selected land parcel</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Select action</td>
      <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell">Available area</td>
      <td class="govuk-table__cell">Quantity</td>
      <td class="govuk-table__cell">Unit</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">AB1: Nectar flower mix</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-6" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">AB4: Skylark plots</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-6" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">AB2: Basic overwinter stubble</td>
      <td class="govuk-table__cell">8.3405</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-6" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">ha</td>
    </tr>
<!--        <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">AHL4: 4m to 12m grass buffer strip on arable and horticultural land</td>-->
<!--      <td class="govuk-table__cell">8.3405</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--          <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">HRW1: Assess and record hedgerow condition</td>-->
<!--      <td class="govuk-table__cell">120.0394</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">m</td>-->
<!--    </tr>-->
<!--              <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">HRW2: Manage hedgerows</td>-->
<!--      <td class="govuk-table__cell">100.3332</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">m</td>-->
<!--    </tr>-->
<!--                  <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">MOR1 – Assess moorland and produce a written record</td>-->
<!--      <td class="govuk-table__cell">21.3332</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--                    <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">IGL1: Take grassland field corners or blocks out of management</td>-->
<!--      <td class="govuk-table__cell">10.3332</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--                        <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">IGL3: 4m to 12m grass buffer strip on improved grassland</td>-->
<!--      <td class="govuk-table__cell">10.3332</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">IPM3: Companion crop on arable and horticultural land</td>-->
<!--      <td class="govuk-table__cell">10.3332</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">IPM4: No use of insecticide on arable crops and permanent crops</td>-->
<!--      <td class="govuk-table__cell">10.3332</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--                                    <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">LIG1: Manage grassland with very low nutrient inputs (outside SDAs)</td>-->
<!--      <td class="govuk-table__cell">20.2938</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--                                        <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">LIG2: Manage grassland with very low nutrient inputs (SDAs)</td>-->
<!--      <td class="govuk-table__cell">20.2938</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--                                            <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">NUM2: Legumes on improved grassland</td>-->
<!--      <td class="govuk-table__cell">6.3940</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
<!--                                                <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">-->
<!--          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">-->
<!--          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">-->
<!--          </label>-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">NUM3: Legume fallow</td>-->
<!--      <td class="govuk-table__cell">6.3940</td>-->
<!--      <td class="govuk-table__cell"><div class="govuk-date-input__item">-->
<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">-->
<!--          </label>-->
<!--          <input class="govuk-input govuk-date-input__input govuk-input&#45;&#45;width-6" id="quantity" name="quantity" type="text" inputmode="numeric">-->
<!--        </div></td>-->
<!--      <td class="govuk-table__cell">ha</td>-->
<!--    </tr>-->
  </tbody>
</table>

      <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
  <!--    <div class="govuk-pagination__prev govuk-pagination__next">-->
  <!--    <p class="govuk-body">Showing <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">15</span> of <span class="govuk-!-font-weight-bold">17</span> actions</p></div>-->
  <!--  <div class="govuk-pagination__next">-->
  <!--    <a class="govuk-link govuk-pagination__link" href="select-land-parcel-1-page-2" rel="next">-->
  <!--      <span class="govuk-pagination__link-title">-->
  <!--        Next<span class="govuk-visually-hidden"> page</span>-->
  <!--      </span>-->
  <!--      <svg class="govuk-pagination__icon govuk-pagination__icon&#45;&#45;next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">-->
  <!--        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>-->
  <!--      </svg>-->
  <!--    </a>-->
  <!--  </div>-->
    
          <div class="govuk-button-group"> 
              <button type="submit" class="govuk-button" data-module="govuk-button">
                  Save and continue
              </button>
              <a href="select-land-parcel-1" class="govuk-link">Cancel and view all land parcels</a>
          </div>

      </nav>
    </div>
    
  </div>
  
</form>
</main>
</div>

{% endblock %}
