{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}

{# {% include "to-be/v3/components/sub-header/include.html" %} #}

<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back to your business</a>

{% endblock %} 


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Actions details
    </h1>

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You need to <a class="govuk-notification-banner__link" href="agreements">sign your agreement</a> to start being paid for these actions.
        </p>
      </div>
    </div>

    {# <form action="../v1/edit-action" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Edit actions
      </button>
    </form> #}

    {# <p class="govuk-body-l">Please sign and accept the <a href="agreements">'Spring 2025 lower field actions'</a> agreement 
    to start being paid for these actions.</p> #}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          {# <th scope="col" class="govuk-table__header">Name</th> #}
          {# <th scope="col" class="govuk-table__header">ID</th> #}
          {# <th scope="col" class="govuk-table__header">Active</th> #}
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header">End date</th>
          <th scope="col"  class="govuk-table__header">Status</th>
          <th scope="col"  class="govuk-table__header">Annual payment</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          {# <td class="govuk-table__cell">{{ data['project-name'] or 'Lower Meadow' }}</td> #}
          {# <td class="govuk-table__cell">WM-VMA-1234</td> #}
          {# <td class="govuk-table__cell">No</td> #}
          <td class="govuk-table__cell">10 December 2024</td>
          <td class="govuk-table__cell">10 December 2027</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Pending</strong></td>
          <td class="govuk-table__cell">&pound;5,130.00</td>
          {# <td class="govuk-table__cell">
            <form action="../task-list2/list-1-1" method="get">
            <button type="submit" class="govuk-button govuk-!-margin-bottom-0 govuk-button-custom" data-module="govuk-button">
              Continue
            </button>
            </form>
          </td> #}
        </tr>
      </tbody>
    </table>    
    <br>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">2 actions</h2>
    <hr class="actions-hr">
    <p class="actions-p"><a href="https://www.gov.uk/find-funding-for-land-or-farms/cipm2-flower-rich-grass-margins-blocks-or-in-field-strips" target="_blank">CIPM2: Flower-rich grass margins, blocks or in-field strips (opens in new tab)</a></p>
    <p>Establish and maintain flower-rich grass margins, blocks or in-field strips. This will encourage natural crop pest predators, and provide habitats and foraging sites for wildlife.</p>
    <hr class="actions-hr">
    <p class="actions-p"><a href="https://www.gov.uk/find-funding-for-land-or-farms/cipm4-no-use-of-insecticide-on-arable-crops-and-permanent-crops" target="_blank">CIPM4: No use of insecticide on arable crops and permanent crops (opens in new tab)</a></p>
    <p>Establish and maintain flower-rich grass margins, blocks or in-field strips. This will encourage natural crop pest predators, and provide habitats and foraging sites for wildlife.</p>
  
    <br>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Parcel being used</h3>
    <img src="https://raw.githubusercontent.com/defra-design/fcp-future-rps/56621a962ff1c79573dc9ba24b9dfed026bf152e/app/views/experiment/img/map_3.png" 
    alt="Imaginary Farm Ltd" class="farm-overview govuk-!-margin-bottom-8">
  
  </div>
</div>






{% endblock %}
