{% set serviceName = "Apply for a grasslands agreement" %}
{% set serviceUrl = "/sfi-grasslands-v3/applications-and-agreements" %}
{% extends "layouts/sfi-grasslands-v3-header.html" %}

{% block pageTitle %}
  Application withdrawn
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "sfi-grasslands-v3/_includes/account-bar.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Application withdrawn
        </h1>
        <div class="govuk-panel__body">
          Application number<br><strong>{{ woodlandsApplication.applicationNumber }}</strong>
        </div>
      </div>

      <p class="govuk-body">
        Your {{ woodlandsApplication.scheme }} application has been withdrawn.
      </p>

      <p class="govuk-body">
        It will no longer be considered.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="/sfi-grasslands-v3/applications-and-agreements">Return to applications and agreements</a>
      </p>

    </div>
  </div>
{% endblock %}
