{% set serviceName = "Apply for a grasslands agreement" %}
{% set serviceUrl = "/sfi-grasslands-v3/task-list" %}
{% extends "layouts/sfi-grasslands-v3-header.html" %}

{% block pageTitle %}
  Before you make an application
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "sfi-grasslands-v3/_includes/account-bar.html" %}

  {% set fromCheckYourAnswers = (returnTo == 'check-your-answers') or (data['sfiEligibilityReturnTo'] == 'check-your-answers') %}
  {% if fromCheckYourAnswers %}
    {{ govukBackLink({
      text: "Back to check your answers",
      href: "/sfi-grasslands-v3/check-your-answers"
    }) }}
  {% else %}
    {{ govukBackLink({
      text: "Back to task list",
      href: "/sfi-grasslands-v3/task-list"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      {% set journeySection = "Check before you start" %}
      {% include "sfi-grasslands-v3/_includes/journey-caption.html" %}
      <h1 class="govuk-heading-l">
        Before you make an application
      </h1>

      <p class="govuk-body">Some of these only apply depending on your land and the actions you choose.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>make sure your land remains eligible for the duration of your agreement</li>
        <li>if you apply for actions on land with historic or archaeological features, get an <a class="govuk-link" href="https://www.gov.uk/government/publications/sustainable-farming-incentive-2026-sfi26/sfi26-scheme-rules-and-guidance#land-with-historic-or-archaeological-features" target="_blank" rel="noopener noreferrer">SFI Historic Environment Farm Environment Record (SFI HEFER)<span class="govuk-visually-hidden"> (opens in new tab)</span></a> from Historic England. You must not start the actions until you have your HEFER</li>
        <li>if you select actions on SSSI land, get <a class="govuk-link" href="https://www.gov.uk/government/publications/sustainable-farming-incentive-2026-sfi26/sfi26-scheme-rules-and-guidance#sssi-consent" target="_blank" rel="noopener noreferrer">site of special scientific interest (SSSI) consent<span class="govuk-visually-hidden"> (opens in new tab)</span></a> from Natural England. You must have this before the RPA can offer you an agreement</li>
        <li>if any of your land has a conditional exemption from inheritance tax or is the object of a maintenance fund, check your selected actions are allowed on that land. Read the <a class="govuk-link" href="https://www.gov.uk/guidance/eligible-funding-on-land-conditionally-exempt-from-inheritance-tax" target="_blank" rel="noopener noreferrer">guidance on eligible funding<span class="govuk-visually-hidden"> (opens in new tab)</span></a></li>
        <li>not apply for actions that include activities you are legally required to carry out or are already funded by other sources</li>
      </ul>

      <form class="form" action="/sfi-grasslands-v3/before-you-make-an-application-answer" method="post">
        {% include "sfi-grasslands-v3/_includes/eligibility-return-to.html" %}
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
