{% set serviceName = "Apply for a grasslands agreement" %}
{% set serviceUrl = "/sfi-grasslands-v3/task-list" %}
{% extends "layouts/sfi-grasslands-v3-header.html" %}

{% block pageTitle %}
  Update your land details
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "sfi-grasslands-v3/_includes/account-bar.html" %}

  {{ govukBackLink({
    text: "Back to check your digital maps",
    href: "/sfi-grasslands-v3/check-land-details"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" role="main">
    <div class="govuk-grid-column-two-thirds">

      {% set journeySection = "Check before you start" %}
      {% include "sfi-grasslands-v3/_includes/journey-caption.html" %}
      <h1 class="govuk-heading-l">Update your land details</h1>

      <p class="govuk-body">
        As your digital maps are not up to date,
        <a class="govuk-link" href="https://www.gov.uk/guidance/request-rural-land-changes" target="_blank" rel="noopener noreferrer">request rural land changes</a>
        or
        <a class="govuk-link" href="https://www.gov.uk/government/publications/rural-land-register-map-and-land-cover-form-rle1" target="_blank" rel="noopener noreferrer">submit an RLE1 form</a>
        to ask us to update them.
      </p>

      <p class="govuk-body">
        Submit your mapping update request as soon as possible. Your information will take at least 48 hours to update and could take longer.
      </p>

    </div>
  </div>

{% endblock %}
