{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <span class="govuk-caption-xl">SFI Reform</span>
    <h1 class="govuk-heading-xl">
      Design prototypes
    </h1>

    <!-- <h2 class="govuk-heading-l">Exploring the to-be</h2> -->
    <!-- <p>Find our exploration for the to-be service.</p> -->
  </div>

  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">
        Private Beta - Day 1 locked down
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:150px">Version</th>
          <th scope="col" class="govuk-table__header" style="width:200px">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="day1-locked/index">Application screens</a><br>
            <p class="govuk-body-s">From sign in to application confirmation screen</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-1">
              In progress
            </strong><br>
            Started 09/07/2025
          </td>
          <td class="govuk-table__cell">
            A locked down version of the application journey for private beta day 1.
            Once signed off, no changes will be made to this version in order to provide a stable version for Development work.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="day1-locked/offer-email">Agreement screens</a><br>
            <p class="govuk-body-s">From offer email to offer accepted confirmation screen</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-1">
              In progress
            </strong><br>
            Started 09/07/2025
          </td>
          <td class="govuk-table__cell">
            A locked down version of the agreement screens for private beta day 1 to be signed off as above.
          </td>
        </tr>
        
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--xl">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">
        Private beta - future facing work
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:150px">Version</th>
          <th scope="col" class="govuk-table__header" style="width:200px">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="v1-agree/index">Version 1</a><br>
            <p class="govuk-body-s">Agreement flow</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Started 10/06/2025<br>
            Tested w/c 14/07/2025
          </td>
          <td class="govuk-table__cell">
            Initial version of the agreement stage of the external user journey for private beta.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="v2-apply/index">Version 2</a><br>
            <p class="govuk-body-s">Application flow</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Complete
            </strong><br>
            Started 17/06/2025
          </td>
          <td class="govuk-table__cell">
            Second iteration of the application stage of the external user journey for private beta.
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="v3-apply/index">Version 3</a><br>
            <p class="govuk-body-s">Application flow</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Started 02/07/2025<br>
            Tested w/c 14/07/2025
          </td>
          <td class="govuk-table__cell">
            Third iteration of the application stage, focusing on the actions and agreements designs. 
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="v4-apply/index">Version 4</a><br>
            <p class="govuk-body-s">Application flow</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Started 29/09/2025<br>
            Tested w/c 06/10/2025
          </td>
          <td class="govuk-table__cell">
            For design challenge on 'many parcels, many actions'
          </td>
        </tr>

         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="v5-apply/index">Version 5</a><br>
            <p class="govuk-body-s">Application flow</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Started 20/10/2025<br>
            Testing w/c 03/11/2025
          </td>
          <td class="govuk-table__cell">
            For mapping exploration
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="v6-apply/index">Version 6</a><br>
            <p class="govuk-body-s">Application flow</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Started 20/11/2025<br>
            Testing w/c 01/12/2025
          </td>
          <td class="govuk-table__cell">
            For V2 of mapping exploration
          </td>
        </tr>

               <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="v7-apply/index">Version 7</a><br>
            <p class="govuk-body-s">Application flow</p>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-1">
              In progress
            </strong><br>
            Started 5/12/2025
           </td>
          <td class="govuk-table__cell">
            For V3 of mapping exploration
          </td>
        </tr>
        
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--xl">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">
        Previous prototype versions
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="v2-1/index">MVP&nbsp;2.1</a></h3>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Complete
            </strong><br>
            Alpha v0.3<br>Updated 14/04/25
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-1">Iterated MVP v0.1 slice, plus:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Agreements section in Single Front Door:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                  <li>Extending agreements page to explore mutliple groups of actions being added at different dates (ie 'add to existing agreement' option)</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="v2/index">MVP&nbsp;2</a></h3>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Complete
            </strong><br>
            Alpha v0.2<br>Updated 26/02/25
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-1">Iterated MVP v0.1 slice, plus:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Agreements section in Single Front Door:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                  <li>Extending agreements page to explore mutliple groups of actions being added at different dates (ie 'add to existing agreement' option)</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="v1/index">MVP&nbsp;1</a></h3>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Complete
            </strong><br>
            Alpha v0.1<br>Updated 17/02/25
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-1">Design prompt for rapid user feedback on 'Action Centred Agreement':</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Single land actions view</li>
              <li>Agreements section in Single Front Door:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                  <li>View action(s) in one place</li>
                  <li>View action(s) details</li>
                  <li>View map of farm with registered parcels outlined</li>
                  <li>Click into map of parcel with suggested compatible actions listed</li>
                  <li>Start edit actions journey from within the named group</li>
                </ul>
              </li>
              <li>Actions: 
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                  <li>deep link into actions journey, skipping eligibility for return users</li>
                  <li>deep link into actions journey, having chosen parcel and suggested actions from backend within SFD</li>
                  <li>Copy a set of actions (started in SFD from within the named group) from one parcel to another</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        {# <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="experiments">Experiments</a></h3>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-1">
              Experimental
            </strong><br>
            Summer 2024
          </td>
          <td class="govuk-table__cell">
           Millie Chan's experiments
          </td>
        </tr> #}
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="steel-thread">Development screens</a></h3>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-1">
              Experimental
            </strong><br>
            March 2025
          </td>
          <td class="govuk-table__cell">
            Development screens for technical intergration work
          </td>
        </tr> 
      </tbody>
    </table>

  </div>

  {# <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-top-6">Existing</h2>
    <p class="govuk-body">
      View a replica of <a class="govuk-link--no-visited-state" href="v1/index">the existing Rural Payments Service</a>.
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Other (archive?)</h2>
    <h3 class="govuk-heading-m">Components</h3>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/components/sub-header">Subheader</a></p>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/components/interruption-card">Interruption card</a></p>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/components/navigation-bar">Navigation bar</a></p>
    <h3 class="govuk-heading-m">Pages</h3>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/pages/mainstream-browse">Mainstream browse</a></p>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/pages/detailed-guide">Detailed guide</a></p>
  </div>
 #}
</div>

{% endblock %}
