{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<!--    <span class="govuk-caption-xl">Design Prototype</span>-->
    <h1 class="govuk-heading-xl">
      Explore & Experiment
    </h1>

<h1 class="govuk-heading-m">Experiment 1 - "TBD"</h1>

<p class="govuk-body"><a class="govuk-link" href="experiment/sign-in">Link to prototype</a></p>

      <br>
      <p>Note: The design prototype is for research purposes, not production ready code.</p>

</div>

{% endblock %}
