{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<!--    <span class="govuk-caption-xl">Design Prototype</span>-->
    <h1 class="govuk-heading-xl">
      MVP screens
    </h1>

    <h2 class="govuk-heading-m">MVP screens</h2> 
    <p>Last updated: 7th April 2025  <br>
      Status: <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-1">In progress</strong></p>

    <form action="/mvp/start" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Start prototype
      </button>
    </form>

    <p>Go to <a href="/mvp/start">GOV.UK screens apply screens (WIP)</a></p>
    <p>Go to GOV.UK agreement screens (WIP)</p>
    <p>Go to caseworking screens (WIP)</p>

    <br>
    <hr>
    <br>

    <h2 class="govuk-heading-m">Steel thread for technical integration work</h2> 
    <p>Last updated: 7th April 2025  <br>
      Status: <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">Done</strong></p>
{# 
    <form action="/steel-thread/start" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Start prototype
      </button>
    </form> #}

    <p>Go to <a href="/steel-thread/start">GOV.UK screens apply screens</a></p>
    <p>Go to <a href="/steel-thread/accept-agreement">GOV.UK agreement screens</a></p>
    <p>Go to <a href="https://www.figma.com/proto/Tm9nfPfd6DccEJyQQNVord/FUT-273---caseworking-designs?node-id=920-3417&p=f&t=2SsKinpabGs4dKAM-0&scaling=min-zoom&content-scaling=fixed&page-id=920%3A3210&starting-point-node-id=920%3A3417">caseworking screens</a></p>


      {# <p class="govuk-body"><a class="govuk-link" href="steel-thread/sign-in">Sign in</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/business-overview">Business overview</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/dashboard">Dashboard</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/tasklist-1">Task list</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/check-land-details">Check land details</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/management-control">Management control of land</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/hefer">Historic or archaeological features</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/sssi">SSSI consent</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/ite">Exempt from inheritance tax</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/public-body">Public bodies</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/eligible">Eligible to apply</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/agreement-name">Agreement name</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/select-actions">Select actions</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/select-land-parcel-1">Select available actions for land parcel</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/select-rotational-actions">Select parcels for rotational actions</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/apply-agreement-level">Select agreement level actions</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/check-your-answers">Check your answers</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/submit-application">Submit your application</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/confirmation">Application complete</a></p>
      <p class="govuk-body"><a class="govuk-link" href="experiment/dashboard-after-application">Dashboard (after application)</a></p> #}

      {# <br>
      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              The design prototype is for research purposes, not production ready code.
          </strong>
      </div> #}

</div>

{% endblock %}
