{% extends "layouts/day1-header.html" %}

{% block pageTitle %}
  Confirm details
{% endblock %}

{% block beforeContent %}
  {% include "/v2-amend-application/business-banner.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Confirm your details
      </h1>

      <h2 class="govuk-heading-m">
        Your details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title
          </dt>
          <dd class="govuk-summary-list__value">
            Mrs
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            Watson
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Business details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business name
          </dt>
          <dd class="govuk-summary-list__value">
            Berkshire Estate Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address 1
          </dt>
          <dd class="govuk-summary-list__value">
            Agile Farm
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address 2
          </dt>
          <dd class="govuk-summary-list__value">
            10 Skirbeck Way
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            City
          </dt>
          <dd class="govuk-summary-list__value">
            Maidstone
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            SK22 1DL
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SBI number
          </dt>
          <dd class="govuk-summary-list__value">
            112849012
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Contact details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile number
          </dt>
          <dd class="govuk-summary-list__value">
            07700 900457
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            alfred.waldrons@example.com
          </dd>
        </div>
      </dl>

      <form class="form" action="confirm-eligibility-details" method="post">
        <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
          Continue
        </button>
      </form>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you need to make an update
          </span>
        </summary>
        <div class="govuk-details__text">
          Contact the Rural Payments Agency (RPA) to update your details.<br><br>
          Telephone: 020 8026 2395<br>
          Monday to Friday, 8:30am to 5pm (except bank holidays)<br><br>
          <p><a href="">Find out about call charges (opens in new tab)</a><br><br>
            Email: <a href="">farmpayments@rpa.gov.uk</a></p>
          <p>The RPA responds to email queries within 10 working days.</p>
        </div>
      </details>
    </div>
  </div>
{% endblock %}
