{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "../index",
  serviceName: "Rural payments",
  serviceUrl: "../index",
  navigation: [
    {
      href: "#",
      text: "Homepage",
      active: true
    },
    {
      href: "/front-door/landing",
      text: "Business overview"
    }
  ]
}) }}
{% endblock %}