{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Future RPS prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 5 (application journey)</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Future Facing application journey - V5: Maps
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Mapping exploration</h2>

    <h3 class="govuk-heading-s">High level problem</h3>

    <p>We've seen from <a href="https://defra.sharepoint.com/:x:/r/teams/Team1645/_layouts/15/Doc.aspx?sourcedoc=%7B5C624A0F-3452-4BA5-8913-70CDAEDC865F%7D&file=Insights%20Tracker.xlsx&action=default&mobileredirect=true" target="_blank">existing SFI research</a> that the <a href="https://fcp-combined-offer-144beafe3ff7.herokuapp.com/sfi-private-beta/select-land-parcel-1" target="_blank">current mapping solution</a> (password: farming) can be problematic for farmers when applying. They can struggle to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>confidently recognise and select the correct land parcel</li>
      <li>confidently select actions which are eligible to apply to that land parcel</li>
      <li>understand the implications of selecting those actions and know what they need to do in order to comply</li>
    </ul>

    <p>This is important to minimise the risk that we generate failure demand when users realise they have selected the wrong parcel, after they have accepted agreements and contact RPA to request changes.</p>

        <h4 class="govuk-heading-s">Deeper analysis - pain points</h4>

        <p>We analysed mapping findings from previous SFI research and including these in our design thinking:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>SFI and Mid Tier - if you want to use the map, but if you have application with several smaller parcels, or land spread out, can click on one field, go to the next field, you go back to the original screen, have to navigate back to it, zoom back in, can't navigate around quickly.</li>
          <li>when you click on the field parcel on the map and it changes colour when you add an option to it. When you go to click on another field, the map shrinks down again, and you have to zoom in again.</li>
          <li>Users know their parcels by name, not parcel number. It would be useful if users could name their parcels for the purpose of the application process.</li>
          <li>User described how when thinking about which actions they want to select, they work through the different parcels in that farm and think about the actions they want for that particular parcel.</li>
          <li>When applying for funding, it would be easier to select actions on a parcel-by-parcel basis (currently, the user is presented with the action selection screen before seeing theit land parcels)</li>
        </ul>

          <p class="govuk-body">Also, when researching Version 4 of our own application journey ('many parcels, many actons'), we saw strong evidence for combining screens so users can select a parcel, see the actions available for that parcel based on the land data we hold, and enter amounts for those actions as much as possible within the same task flow on the same page. 
          Users could then move to a nearby parcel (as in real life) to repeat the process.</p>

          <p>Indeed, one farmer described their planning process as <i>'standing in a field with a clipboard, looking around and planning the actions for that particular field, then walking to a neighbouring field and repeating the process'.</i></p>

          <h4 class="govuk-heading-s">Design hypothesis</h4>

          <p>For using a map to apply for SFI funding,<br>
              If we match a farmer's physical behaviour (when planning) of standing in a field, noting down actions, checking this, and then moving to the next field]<br>
              then farmers will be able to intuitively add parcels, actions, and areas to their application with condidence<br>
              We'll know this works/is true when,<br>
              we observe farmers quickly find and select particular parcels (and available actions) without errors or excessive navigation while being able to articulate what they’ve just added.</p>

        <h2 class="govuk-heading-m">Design approach</h2>

        <h3 class="govuk-heading-s">Iteration 1</h3>

        <h4 class="govuk-heading-s">'How might we...' statements for maps</h4>

        <p>Drawing from the above pain points and findings, we created the following statements for early mapping design exploration. These speak to both page layout and spefific components (and how these components might interact with each other).</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>How might we help farmers quickly move from parcel to parcel, and farm to farm (if appropriate) while easily understanding their orientation within their holding(s)?</li>
          <li>How might we help farmers easily dentify their parcels on a map (including just by parcel shape and location on the holding), and confirm they have selected the correct parcel?</li>
          <li>How might we help farmers understand what actions from existing agreements are present on each and every parcel of their farm(s) so that they're confident the map (and therefore their application) is accurrate and they understand why certain actions may not be available?</li>
          <li>How might we help farmers understand that available actions for a given parcel are now automatically presented to them on parcel selection based on their land data (hence speeding up their application by removing the 'actions selection' screen before the map on the current SFI service)?</li>
          <li>How might we speed up applications by changing the trigger for, and language of, error messaging when a farmer is entering hectarage on a selected action?</li>
        </ul>

        <h4 class="govuk-heading-s">'How might we...' statements for SFI actions</h4>

          <p>Also drawing from the pain points and findings mentioned above, we created the following statements for SFI actions within the context of interating with a map to apply for funding.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>How might we help farmers quickly find an action once available actions have been presented, especially from a long list?</li>
            <li>How might we help farmers understand what that action is asking of them without cognitive overload within the page or replicating content away from a single source of truth (eg gov.uk guidance)?</li>
            <li>How might we help farmers understand what that action will pay them per hectare and in total (if used on a parcel)</li>
            <li>How might we help farmers understand which actions are compatibility within a parcel, and which are not?</li>
            <li>How might we help farmers avoid 'compatibility errors' for actions (ie choosing actions which cannot be combined within a parcel of land)?</li>
          </ul>


        <h4 class="govuk-heading-s">Interactive mapping prototype</h4>

        <p>We decided that an <a href="/v5-apply/select-land-map-leaflet">interactive map prototype</a> would be the most effective and efficient way to explore mapping design.<br>
        This was because our work during Version 4 (see <a href="/v4-apply/_design-history">Design History</a>) had clearly articulated the mental model of how farmer relates to, and physically interacts with, their parcels of land when planning which SFI actions to do.</p>
        <p>We also knew from previous SFI research (see above) that farmers think about their parcels first, then the actions they want to do on those parcels second.
          Therefore, an interactive map would allow us to explore the interplay between choosing a parcel, being presented with available actions (based on land data we hold), and entering areas for those actions - and then repeating this process for another parcel - all within the same task flow on the same page.</p>
        </p>
        <p>A key aspect of this exploration was to test the design of an 'answers summary' feature <i>within the same page</i> that would help farmers quickly understand which parcels, actions and areas they had chosen, as well as the individual and total annual payments for these choices.<br>
        Based on evidence from Version 4 (the farmer walking around his field with his clipboard), we added this to the same screen as the map, as opposed to offsetting it to a Check your Answers screen exclusively. <br>
         This is based on the poor usability and frustration we demonstrated when farmers had to 'pogo-stick' between screens to check their answers and then edit their choices.</p>
        <p>Designing around this model using an interactive and realistic prototype allowed for strict, task-based scenario testing in order to measure task completion, time to complete tasks and other metrics.</p>

        <p>To achieve the necessary interactivity, we used <a href="https://leafletjs.com/" target="_blank" rel="noopener noreferrer">Leaflet.js</a> for the base of the map itself, an open-source JavaScript library which is mobile-friendly.</p>
        <p>We then layered on our own code for drawing and selecting parcels, presenting actions on parcel selection, area entry and error messaging and so on.</p>

         <h2 class="govuk-heading-m">Findings from user research</h2>

         <p>We asked farmers to complete 3 scenarios which involved:</p>
         
        <ul class="govuk-list govuk-list--number">
          <li>selecting one of two farms</li>
          <li>selecting a parcel on the map</li>
          <li>finding existing actions on the parcel</li>
          <li>then selecting an action from the list available for that parcel</li>
          <li>entering an area for that action</li>
          <li>checking what they'd just done in the 'answers summary' section</li>
          <li>repeating the process for the next parcel</li>
        </ul>
          
        <h4 class="govuk-heading-s">Scenario testing</h4>
        
        <p>The majority of the six participants completed all three scenarios, unaided and quickly.</p>

        <h4 class="govuk-heading-s">Hypothesis testing result</h4>
        
        <p>The interplay between choosing a parcel, being shown available actions for that parcel from the land data, entering an area for that action, and then viewing the information just entered in the summary in the answers summary below, worked well as the users cycled quickly and without error through these elements over the three tasks.</p>

        <p>On the first scenario, Some farmers initially struggled to notice the answers summary section towards the bottom of the page. As they undertook scenario two and three, they became more familiar with the design and cycled round the elements from parcel to action to save to viewing the summary, to another parcel again.</p>

        <p>So overall, the core concept of modelling how a farmer plans in their field by walking from parcel to parcel, noting down actions on a clipboard, going to the next parcel to repeat the process - that modelling seemed to work well for the farmers. So the first version seemed to match their mental model.</p>

        <h2 class="govuk-heading-m">Next steps - elements to improve</h2>

        <p>The following elements were observed to need usability improvements, and will be addressed in the next version of the mapping prototype.</p>

        <h4 class="govuk-heading-s">Farm selection</h4>
        
        <p>When the farmer clicked on one of the farms, the other farm doesn't disappear from the view, so although the map takes them to that farm, the name of the other farm with its details still appears next to the map.</p>

        <p>This was a source of confusion for farmers, and so we plan to remove this for the next version.</p>

        <h4 class="govuk-heading-s">Parcel names and IDs</h4>
        
        <p>Farmers wanted to see parcel IDs as well as parcel names.</p>

        <p>This was for accuracy purposes.</p>

        <p>Some farmers mentioned that some of their fields actually had the same name, but were different parcels and so the parcel ID provided an extra level of detail and accuracy.</p>

        <p>This will be added in the next version.</p>

        <h4 class="govuk-heading-s">List of parcels below map</h4>
        
        <p>On the details component, which allows the farmer to view more parcels within their parcels list, the number (which is five in this case) of parcels actually confused the farmer.</p>

        <p>They were asking <i>"why five more?"</i>.</p>

        <p>In this case, that was because there were only five more parcels, but they found this confusing.</p>

        <p>So we decided we would take the number out for the next version of the design so that the details link would just say "show more parcels".</p>

        <h4 class="govuk-heading-s">Findability of actions from previous agreements on selected parcels</h4>
        
        <p>We notice farmers vertically scrolling more than desirable to find actions from a previous agreement on a particular parcel, especially when they were looking at the map.</p>

        <p>Across the research sessions, we realised that the map was the central element of the page which the farmers orientated around, so this hinted at including information about the existing actions within the popup tooltip on a selected parcel.</p>

        <p>The tooltip is too small to include all of this information (or would hide neighbouring parcels if too much content was added to it, affecting map usability). <br>
        
        <p>For the next version, we'll need to consider how we might send the user to the full information while indicating on the map that there are existing actions on a parcel when they click on it.</p>

        <h4 class="govuk-heading-s">Answers summary and actions from previous agreements section</h4>
        
        <p>Farmers seemed a little bit unsure about the two different sections within the accordion, which holds information about parcels with actions from previous agreements and parcels where the users just added actions to them within this session.</p>

        <p>Looking at this component, we can see that the visual hierarchy isn't quite right.</p>

        <p>The elements within the sections draw the user's eye and dwarf the actual headings for the sections themselves and so for the next version, we'll address the visual hierarchy so that the section headings are bigger than the content within them.</p>


     



  </div>
</div>

{% endblock %}
